﻿@using FH.App.Entity;
@model IEnumerable<TenantMaster>

@{ 
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
}
<div class="title-stripe">
    <h1 style="color: #9C27B0; font-size: 30px; font-family: 'Libre Caslon Text', serif; font-weight: 600;">Tenant List <span style="color: #da241a; margin-left: 40px;">|</span><small style="font-size: 22px;">Total: @Model.Count()</small></h1>
</div> 
    <div class="agent-bg pt-2 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            var isCheckoutinLastMonth = ((item.CheckOutDate != null ? ((((DateTime)item.CheckOutDate).Month < DateTime.Now.Month && ((DateTime)item.CheckOutDate).Year <= DateTime.Now.Year) ? 1 : 0) : 0));
                            var isCheckininNextMonth = ((item.CheckInDate != null ? ((((DateTime)item.CheckInDate).Month > DateTime.Now.Month && ((DateTime)item.CheckInDate).Year >= DateTime.Now.Year) ? 1 : 0) : 0));

                            <div class="search-list-box">
                                <div class="card">
                                    <div class="white_box">
                                        <h1 class="property_detail_title">@if (item.RoomNo != 0)
                                        {@item.RoomNo} @if (item.Occupancy == 1)
        { <span>(Private) </span> }
        else { <span>(Sharing) </span> } | @(item.Name)</h1>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row text-center border-b-1 m-0">
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@item.TenantId </p>
                                                <p class="m-0"><small>Tenant ID</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@item.MonthlyRent </p>
                                                <p class="m-0"><small>Monthly Rent</small></p>
                                            </div>
                                            <div class="col-4 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">
                                                    @item.SecurityAmount
                                                </p>
                                                <p class="m-0"><small>Security Amount</small></p>
                                            </div>

                                        </div>
                                        <div class="row text-center border-b-1 m-0">
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@item.Mobile</p>
                                                <p class="m-0"><small>Mobile</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">
                                                    @if (isCheckininNextMonth != 1 && isCheckoutinLastMonth != 1) {
                                                        if (item.RentPaid != 0)
                                                        {<label style="color:green;">Paid</label>}
                                                        else
                                                        { <label style="color:red;">Not Paid</label>}
                                                    }
                                                </p>
                                                <p class="m-0"><small>This Month Rent Status</small></p>
                                            </div>
                                            <div class="col-4 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">
                                                    @{ var SecurityPending = item.SecurityAmount - item.SecurityDeposit; }
                                                    @if (isCheckoutinLastMonth != 1)
                                                    {
                                                        if (SecurityPending == 0)
                                                        {<span style="color:green;">Paid</span> }
                                                        else
                                                        {
                                                            if (((DateTime)item.CheckInDate) < DateTime.Now) {
                                                                 <span style="color:red;"> @SecurityPending </span>  
                                                            } else {
                                                                <span > @SecurityPending </span>  
                                                            }
                                                        }
                                                    }
                                                </p>
                                                <p class="m-0"><small>Security Pending</small></p>
                                            </div>
                                        </div>
                                        <div class="row text-center  m-0">
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@(item.CheckInDate != null ? ((DateTime)item.CheckInDate).ToString("dd MMM yyyy") : "")</p>
                                                <p class="m-0"><small>Check In Date</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@(item.CheckOutDate != null ? ((DateTime)item.CheckOutDate).ToString("dd MMM yyyy") : "")</p>
                                                <p class="m-0"><small>Check Out Date</small></p>
                                            </div>
                                            <div class="col-4 pr-1">
                                                <p class="m-0 font-weight-bold">@(item.UpdatedOn != null ? ((DateTime)item.UpdatedOn).ToString("dd MMM yyyy") : "")</p>
                                                <p class="m-0"><small>Check-Out Request On</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="pl-0">
                                        <ul class="property_btn_list dontOpen" style="list-style-type: none; margin-bottom: 5px; margin-top: 5px;">
                                            <li>
                                                <button type="button" class=" btn btn-primary btn-primary-border" onclick="getTenantPaymentLog(@item.TenantId)">
                                                    Payment History
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                                            }
                                                        }
                </div>
            </div>
        </div>
    </div>


<style>
    .card {
        padding: 0px !important;
        box-shadow: 0 2px 1px 0 rgb(0 0 0 / 14%);
    }

    .white_box {
        box-shadow: 0 2px 1px 0 rgb(0 0 0 / 14%);
    }

    .card-body.p-2 {
        background-color: #f8f8f8;
    }
    .row.text-center.border-b-1.m-0 {
        border-bottom: 1px solid #ccc;
    }
    .title-stripe {
        border-bottom: 3px solid #da241a;
        text-align: center;
        width: 95%;
        margin-left: 2.5%;
    }

        .title-stripe > h1 {
            font-size: 33px;
            margin-bottom: 0px;
        }
</style>

<script>
    function getTenantPaymentLog(tId) {
        if (tId > 0) {
            $.get("/Reception/getTenantPaymentLog", { tenantId: tId }, function (data) {
                if (data.Success == false) {
                    showError("Something went wrong,Please try again.");
                    return;
                }
                else {
                    $('#tenantLogModel').remove();
                    $('body').append(data);
                    $('#tenantLogModel').modal('show');
                }
            });
        }
    }

    function closeModel() {
        $('#tenantLogModel').modal('hide');
        $('#tenantLogModel').remove();
    }
</script>











<div class="col-12 p-2" style=" overflow: hidden; position: fixed; top: 90px; z-index: 999; right: -20px;">
    <div class="float-left p-0">
        @*<span class="listingFound fontBold font-14">@Model.Paging.TotalRecord </span> <span class="listtingText font-14">Property Listing</span>*@
    </div>
    <div class="float-right p-0">
        <a href="#" class="btn btn-primary btn-sm search-box-btn" id="filterBtn">Filter</a>
    </div>
</div>



<div class="search-box" id="filterBox">
    <div class="search-box-header text-center text-white">
        <span class="back-btn"><span class="fa fa-arrow-left"></span></span>
        <span class="search-box-title">Filter Tanent</span>
    </div>

    <div class="search-box-body">
        <div class="search-section-as-tabs rounded pb-1">
            <div class="form-group search-propperty-info">
                <label>Room No</label>
                <br>
                <div class="row">
                    <div class="col-12">
                        <input type="text" id="RoomNo" class="form-control RoomNo" value="@( ViewBag.RoomNo != 0 ? ViewBag.RoomNo : "" )">
                    </div>
                </div>
            </div>
 

            <div class="form-group search-propperty-info">
                <label>Tenant Status</label>
                <br>
                <div class="row">
                    <div class="col-12">
                        <select id="TenantStatus" class="form-control TenantStatus">
                            @if (ViewBag.TenantStatus == 1) { <option value="1" selected>Currently Stay</option> } else { <option value="1">Currently Stay</option>  }
                            @if (ViewBag.TenantStatus == 2) { <option value="2" selected>Upcoming Checkin's</option> } else { <option value="2">Upcoming Checkin's</option>  }
                            @if (ViewBag.TenantStatus == 3) { <option value="3" selected>Upcoming Checkout's</option> } else { <option value="3">Upcoming Checkout's</option>  }
                            @if (ViewBag.TenantStatus == 4) { <option value="4" selected>Checkouted</option> } else { <option value="4">Checkouted</option>  }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group search-propperty-info">
                <label>Rent Status</label>
                <br>
                <div class="row">
                    <div class="col-12">
                        <select id="RentPaid" class="form-control RentPaid">
                            @if (ViewBag.RentPaid == 2) { <option value="2" selected>All</option> } else { <option value="2">All</option> }
                            @if (ViewBag.RentPaid == 1) { <option value="1" selected>Paid</option> } else { <option value="1">Paid</option>  }
                            @if (ViewBag.RentPaid == 0) { <option value="0" selected>Not Paid</option> } else { <option value="0">Not Paid</option>  }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary btn-big" id="btnSearchFilterT">Filter</button>
            </div>
        </div>
    </div>
</div>


<style>

    .search-list-box {
        background: #fff;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 15px;
        overflow: hidden;
    }

</style>

<script>
    $(".back-btn,#btnSearchFilterT").click(function () {
        $("#filterBtn").show();
        $('.search-box').removeClass('active');
        var RoomNo = $("#RoomNo").val();
        var TenantStatus = $("#TenantStatus").val();
        var RentPaid = $("#RentPaid").val();
        var url = "https://haltn.com/Reception/MyTanent?RoomNo=" + RoomNo + "&TenantStatus=" + TenantStatus + "&RentPaid=" + RentPaid;
        window.location.href = url;
    });
    $("#filterBtn").click(function () { $("#filterBtn").hide(); });
</script>