﻿
@{
    ViewBag.Title = "Add New";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else 
{
    @Html.Partial("_PartialHeader")
}
@{var agentUrl = System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];
    var webUrl = "";
    if (!Request.IsLocal)
    { webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"]; }
}

<style>
    @@media(min-width:600px) {
        .agent-bg {
            margin-top: 100px;
        }
    }
</style>

<div class="agent-bg pt-4 pb-4">
    <div class="container">
        <div class="float-left">
            <h1 style="color: #9C27B0; font-size: 30px; font-family: 'Libre Caslon Text', serif;  font-weight: 600;">Add New Tenant</h1>
        </div>
        <div class="clearfix"></div>
        <div class="content-box p-3">
            <div class="row" id="FormOne">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Name</b></label>
                        <input type="text" id="tenantName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Mobile</b></label>
                        <input type="text" id="tenantMobile" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Email</b></label>
                        <input type="text" id="tenantEmail" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Security Amount</b></label>
                        <input type="text" id="securityAmount" class="form-control" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Tokan Amount</b></label>
                        <input type="text" id="Payment" class="form-control" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Rent/Month</b></label>
                        <input type="text" id="rentAmount" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Check-In Date</b></label>
                        <input type="text" id="checkInDate" class="form-control" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" id="OccupancyDiv">
                        <label><b>Room Type</b></label>
                        <select name="Occupancy" id="Occupancy" class="form-control" onchange="filterRoomsByOccupancy()">
                            <option value="0" selected disabled>select occupancy</option>
                            <option value="1">Private Room</option>
                            <option value="0.5">Double Sharing</option>
                            <option value="0.33">Triple Sharing</option>
                            <option value="0.25">Four Sharing</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" id="roomDetailsDiv">
                        <label><b>Room Number</b></label>
                        <select name="RoomId" id="RoomId" class="form-control" onchange="ChngOccupancy()">
                            <option value="">Room Number</option>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Occupancy < 0.99)
                                    {
                                        if (item.OccupancyC == 0.25)
                                        {
                                            <option value="@item.PGRoomInventoryId,0.25" style="color:green;">@item.RoomNo (Four Sharing)</option>
                                        }
                                        else if (item.OccupancyC.ToString() == "0.33")
                                        {
                                            <option value="@item.PGRoomInventoryId,0.33" style="color:green;">@item.RoomNo (Three Sharing)</option>
                                        }
                                        else if (item.OccupancyC == 0.5)
                                        {
                                            <option value="@item.PGRoomInventoryId,0.5" style="color:green;">@item.RoomNo (Double Sharing)</option>
                                        }
                                        else if (item.OccupancyC == 0)
                                        {
                                            <option value="@item.PGRoomInventoryId,1">@item.RoomNo</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>


                @*                <div class="col-md-6">
            <div class="form-group">
                <label><b>Room No</b></label>
                <input type="text" id="RoomNo" class="form-control" />
            </div>
        </div>*@

                <div class="col-md-6">
                    <div class="form-group">
                        <br />
                        <button class="btn btn-primary btnAddTenant" id="btnAddTenant">Submit</button>
                    </div>
                </div>


                <div class="finalSubmit col-sm-12" style="display:none;">
                    <div class="row">
                        <div class="col-sm-6" style="display:none;">
                            <div class="form-group">
                                <label><b>Enter OTP</b></label>
                                <input type="text" id="OTP" value="1111" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <br />
                                <button class="btn btn-primary" id="SubmitOtp">Final Submit</button>
                                @*<button class="btn btn-primary btnAddTenant"  >Resend OTP</button>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#checkInDate').datetimepicker({
            format: 'dd-mm-yyyy',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            startDate: '-0d'
        });

        $('.prev').html('<i class="fas fa-chevron-left"></i>');
        $('.next').html('<i class="fas fa-chevron-right"></i>');
    });


    function filterRoomsByOccupancy() {
      
        var occupancyDropdown = document.getElementById("Occupancy");
        var selectedOccupancy = parseFloat(occupancyDropdown.value);

        var roomDropdown = document.getElementById("RoomId");
        var roomOptions = roomDropdown.getElementsByTagName("option");

        // Hide options that don't match the selected occupancy or are private rooms
        for (var i = 0; i < roomOptions.length; i++) {
            var option = roomOptions[i];
            var values = option.value.split(",");
            var sharingValue = parseFloat(values[1]);
            if (sharingValue == selectedOccupancy || sharingValue == 1) { option.style.display = "block" }
           
            else { option.style.display = "none" }
         
        }
    }

    function ChngOccupancy() {
        var RoomNo = $("#RoomId").val();
        RoomNo = RoomNo.split(",");
        var html = '<label><b>Occupancy</b></label><select name = "Occupancy" id = "Occupancy" class="form-control" > ';
        console.log(RoomNo['1']);
        if (RoomNo['1'] == 0.25) {
            html += ' <option value="0.25">Four Sharing</option> ';
            console.log("Four Sharing Room");
        } else if (RoomNo['1'] == 0.33) {
            html += ' <option value="0.33">Triple Sharing</option>  ';
            console.log("Triple Sharing ");
        } else if (RoomNo['1'] == 0.5) {
            html += '<option value="0.5">Double Sharing</option>  ';
            console.log("Double Sharing ");
        } else {
            html += '<option value="1">Private Room</option><option value="0.5">Double Sharing</option> <option value="0.33">Triple Sharing</option>  <option value="0.25">Four Sharing</option> ';
            console.log("Blank Sharing ");
        }
        html += '</select>';
        //$("#OccupancyDiv").html(html);
    }

    $("#checkInDate").change(function () {
        var CheckInDate = $("#checkInDate").val();
        $.post('/Reception/GetAvailableRooms', { CheckInDate: CheckInDate  }, function (data) {
            var roomDetails = JSON.parse(data.Message);
            console.log(roomDetails);
            var html = '<label><b>Room Number</b></label> <select name = "RoomId" id="RoomId" onchange="ChngOccupancy()" class="form-control"> <option value="">Room Number</option>';
            for (var i = 0; i < roomDetails.length; i++) {
                if (roomDetails[i].Occupancy < 0.99) {
                    if (roomDetails[i].OccupancyC == 0.25) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',0.25" style="color:green;">' + roomDetails[i].RoomNo + '(Four Sharing)</option>'
                    } else if (roomDetails[i].OccupancyC == 0.33) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',0.33" style="color:green;">' + roomDetails[i].RoomNo + '(Three Sharing)</option>'
                    } else if (roomDetails[i].OccupancyC == 0.5) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',0.5" style="color:green;">' + roomDetails[i].RoomNo + '(Double Sharing)</option>'
                    } else if (roomDetails[i].OccupancyC == 0) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',1">' + roomDetails[i].RoomNo + '</option>'
                    }
                }
            }
            html += '</select>';
            console.log(html);
            $("#roomDetailsDiv").html(html);

            $('.btnAddTenant').click(function () {
                var name = $('#tenantName').val();
                var mobile = $('#tenantMobile').val();
                var email = $('#tenantEmail').val();
                var RoomNo = $('#RoomNo').val();
                var securityAmount = $('#securityAmount').val(); 
                var rentAmount = $('#rentAmount').val();
                var Payment = $('#Payment').val();
                var checkInDate = $('#checkInDate').val() ? $('#checkInDate').val().split('-').reverse().join('-') : '';
                var RoomId = $('#RoomId').val();
                RoomId = RoomId.split(",");
                RoomId = RoomId['0'];
                var Occupancy = $('#Occupancy').val();

                if (name != "" && mobile != "" && email != "" && RoomNo != "" && securityAmount != "" && rentAmount != "" && checkInDate != "" && Payment != "" && RoomId != '' && Occupancy != '') {
                    var data = {
                        name: name, mobile: mobile, email: email, securityAmount: securityAmount, monthlyRent: rentAmount, checkInDate: checkInDate, RoomNo: RoomNo, Payment: Payment, Occupancy: Occupancy, RoomId: RoomId
                    };   

                    loading.show('#btnAddTenant');
                    $.post("/Reception/AddNewTananetSendOtp", data, function (data) {
                        if (data.Success) {
                            showSuccessMessage(data.Message);
                            $("#btnAddTenant").hide();
                            $(".finalSubmit").show();
                            $("#tenantMobile").attr("readonly", "true");
                            //window.location.href = "/Reception/MyTanent";
                        }
                        else
                            showError(data.Message);
                        loading.hide('#btnAddTenant', 'Submit');
                    });
                } else {
                    showError("Please fill all the field.");
                }
            });



            $('#SubmitOtp').click(function () {
                var OTP = $('#OTP').val();
                var mobile = $('#tenantMobile').val();

                var data = {
                    OTP: OTP, mobile: mobile
                };
                if (OTP != "") {
                    loading.show('#SubmitOtp');
                    $.post("/Reception/AddTanent", data, function (data) {
                        if (data.Success) {
                            showSuccessMessage(data.Message);
                            window.location.href = "/Reception/MyTanent";
                        }
                        else
                            showError(data.Message);
                        loading.hide('#SubmitOtp', 'Submit');
                    });
                } else {
                    showError("Please Enter OTP.");
                }
            });
        });

    });
     
  
</script>
<link href="@agentUrl/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="@agentUrl/Content/js/bootstrap-datetimepicker.min.js"></script>
