﻿@using FH.Web.Security;
@using FH.App.Entity;
@model UserDetail
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")    
}
else
{
    @Html.Partial("_PartialHeader")    
}

<style>
    @@media (min-width:600px) {
        .user-container
        {
            margin-top: 90px;
        }
    }
</style>

<div class="container pt-4 pb-4 user-container" >
    <div class="row">
        <div class="col-md-3 border-r-1 text-center" style="border-right: 1px solid #ccc;">
            <img src="~/Content/images/user.png" class="rounded-circle img-fluid mb-2 user-img">
            <h2>@Model.Name</h2>
        </div>
        <div class="col-md-9">
            <div class="profile-info-box">
                <div class="row m-0">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" value="@Model.Name" id="pUserName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" value="@Model.Email" id="pUserEmail" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Phone:</label>
                            <input type="text" value="@Model.Mobile" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>User Type:</label>
                            <input type="text" value="@Model.UserType" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="col-md-7">
                    <div class="form-group">
                        <button class="btn btn-primary" id="btnUpdateProfile">Update</button>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    $('#btnUpdateProfile').click(function () {
        var name = $('#pUserName').val().trim();
        var email = $('#pUserEmail').val().trim();

        if (name == "")
            return showError("Name required.");
        else if (name.length > 50)
            return showError("Name can't be more than 50 characters.");
        if (email == "")
         return showError("Email required.");
        else if (email.length > 50)
          return showError("Email can't be more than 50 characters.");
        else
        {
            var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (regex.test(email) == false)
              return showError("Invalid email.");
        }

        $('#btnUpdateProfile').html('Please Wait...<span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.post("/user/updateprofile", { Name: name,Email: email}, function (data) {
            if (data.Success == true) {
                showSuccessMessage("Details Update Successfully.");
                location.reload();
            }
            else
                showError(data.ErrorMessage);

            $('#btnUpdateProfile').html('Update').removeAttr("disabled");
        });
    });
</script>


