﻿@using FH.App.Entity;
@model UserDetail

@{
    ViewBag.Title = "Registration Verification";
    Layout = "~/Views/Shared/_LayoutWeb2.cshtml";

    var tempMobileNo = "";
    if (!string.IsNullOrEmpty(Model.Mobile))
    {
        string mobileNo = Model.Mobile;
        string first2Digit = mobileNo.Substring(0, 2);
        string last2Digit = mobileNo.Substring(mobileNo.Length - 2);
        tempMobileNo = first2Digit + "******" + last2Digit;
    }

}

<style>
    .form-control {
        outline: 0;
        background: none;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid #999999;
        box-shadow: none;
    }

        .form-control:focus {
            background: none;
            box-shadow: none;
            border-color: #6c86cb;
            border-bottom-width: 2px;
            outline: none;
        }
</style>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-10 jumbotron">
                <div class="col-md-6">
                    <h4>Verify Your Flat Halt Account</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <form id="frmSignup" action="/user/registrationverify" class="form-horizontal style-form" method="post">
                                    <input type="hidden" id="user" name="user" value="@Model.UserId" />
                                    <input type="hidden" name="mobile" value="@Model.Mobile" />
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @if (TempData["error"] != null)
                                            {<div style="font-size:12px;margin-bottom:0px;padding:2px" class="alert alert-danger popupAlert"> @TempData["error"]</div>                                           
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <span>Enter 4 digit verification code sent on @tempMobileNo</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 col-sm-12">Verification Code: <span style="color: red">*</span></label>
                                        <div class="col-sm-12">
                                            <input type="text" id="OTP" name="OTP" value="" class="form-control" placeholder="Enter verification code" autocomplete="off">
                                            <span id="lblOTP" class="error">@TempData["OTP"]</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary btn-block">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




