﻿@using FH.App.Entity;
@model UserDetail

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutWeb2.cshtml";
}
<style>
    .form-control {
        outline: 0;
        background: none;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid #999999;
        box-shadow: none;
    }

        .form-control:focus {
            background: none;
            box-shadow: none;
            border-color: #6c86cb;
            border-bottom-width: 2px;
            outline: none;
        }
</style>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-10 jumbotron">
                <div class="col-md-6">
                    <h4>Reset Your Flat Halt Account</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <form id="frmReset" action="/user/resetpassword" class="form-horizontal style-form" method="post">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @if (TempData["error"] != null)
                                            {<div style="height:30px;margin-bottom: 1px;line-height:30px;padding:0px 15px;" class="alert alert-danger popupAlert"> @TempData["error"]</div>
                                            <script>hidePopupAlert();</script>
                                            }
                                        </div>
                                    </div>
                                    <input type="hidden" id="txtMobile" name="Mobile" value="@Model.Mobile">
                                    <div class="form-group">
                                        <label class="col-sm-11 col-sm-11">New Password: <span style="color: red">*</span></label>
                                        <div class="col-sm-12">
                                            <input type="password" id="txtPassword" name="Password" value="" class="form-control" placeholder="New Password">
                                            <span id="lblPassword" class="error">@TempData["password"]</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-11 col-sm-11">Confirm Password: <span style="color: red">*</span></label>
                                        <div class="col-sm-12">
                                            <input type="password" id="txtConfirmPassword" name="ConfirmPassword" value="" class="form-control" placeholder="Confirm Password">
                                            <span id="lblPassword" class="error">@TempData["confirmPassword"]</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-11 col-sm-11">OTP: <span style="color: red">*</span></label>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtOTP" name="OTP" value="" class="form-control" placeholder="4 digit OTP">
                                            <span id="lblOTP" class="error">@TempData["otp"]</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button id="btnReset" onclick="return resetPassword();" class="btn btn-primary btn-block">Reset Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Why Sign Up?</h4>
                    <div class="row">
                        <div class="col-md-10">
                            <ul>
                                <li style="padding:15px 0 5px 0;border-bottom:1px solid #e2e2e2;font-family:Lato Italic;color:#666666"><i style="height:30px;width:50px" class="fa fa-arrow-right"></i>Trip Booking faster </li>
                                <li style="padding:15px 0 5px 0;border-bottom:1px solid #e2e2e2;font-family:Lato Italic;color:#666666"><i style="height:30px;width:50px" class="fa fa-arrow-right"></i>Check Booking History </li>
                                <li style="padding:15px 0 5px 0;border-bottom:1px solid #e2e2e2;font-family:Lato Italic;color:#666666"><i style="height:30px;width:50px" class="fa fa-arrow-right"></i>Manage Your Booking </li>
                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label style="width:100%;height:21px"></label>
                                <label>You have Account? Login now!</label>
                                <a href="/user/login" class="btn btn-default" style="width:100%;padding:12px 15px">Login Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





