﻿@using FH.App.Entity;
@model IEnumerable<CityAreaMaster>
<div class="property_list" id="localityListSection">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item"><a class="nav-link active" data-tab="Flat" data-toggle="tab" href="#dvlocalityList">Flat</a></li>
            <li class="nav-item"><a class="nav-link" data-tab="Room" data-toggle="tab" href="#dvlocalityList">Room</a></li>
            <li class="nav-item"><a class="nav-link" data-tab="Flatmate" data-toggle="tab" href="#dvlocalityList">Flatmate</a></li>
            <li class="nav-item"><a class="nav-link" data-tab="PG" data-toggle="tab" href="#dvlocalityList">PG/Hostel</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane container active container" id="dvlocalityList">
            <div class="row">
                <ul class="property-keyword-list">
                    @foreach (var item in Model)
                    {
                        <li><a onclick="propertysearchByArea('@item.AreaName','@item.Latitude','@item.Longitude')">@item.AreaName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>