﻿@using FH.Web.Security;
@using FH.App_Web;

@{var agentUrl = System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];
    var webUrl = "";
    if (!Request.IsLocal)
    { webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"]; }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="loader"></div>
<div class="backDropBg"></div>
<div class="customMenuRight">
    <ul>
        @if (CurrentUser.User != null && !string.IsNullOrEmpty(CurrentUser.User.Name))
        {
            <li>
                <span class="customMenuClose">X</span>
                <span class="pl-2">
                    Welcome,
                    @(CurrentUser.User.Name.Length > 10 ? CurrentUser.User.Name.Substring(0, CurrentUser.User.Name.IndexOf(' ') + 1) : CurrentUser.User.Name)
                </span>

            </li>

            if (CurrentUser.User != null && !string.IsNullOrWhiteSpace(CurrentUser.User.Roles[0]) && (CurrentUser.User.Roles[0].ToUpper() == "AGENT" || CurrentUser.User.Roles[0].ToUpper() == "OWNER"))
            {
                @*                <li><a href="@agentUrl/userprofile/myprofile"><i class="fas fa-user"></i><span> Profile</span></a></li>*@
                @*   <li><a href="@agentUrl/plan/packages"><i class="fas fa-building"></i><span> Promote Your Property</span></a></li>*@
                @*<li><a href="@agentUrl/plan/myplans"><i class="fas fa-building"></i><span> My Promotions</span></a></li>*@
                @*                <li><a href="@agentUrl/property/postyourproperty"><i class="fas fa-money-bill-alt"></i><span> Post Your Property</span></a></li>

                <li><a href="@agentUrl/myproperty/property"><i class="fas fa-building"></i><span> My Properties</span></a></li>
                <li><a href="@agentUrl/mytenant/tenantlist"><i class="fas fa-user"></i><span> My Tenant</span></a></li>
                <li><a href="@agentUrl/Myteam/List"><i class="fas fa-user"></i><span>>My Team</span></a></li>

                <li><a href="@agentUrl/mytenant/TenantListNew?IsActive1=1"><i class="fas fa-user"></i><span> My Earning</span></a></li>
                <li><a href="@agentUrl/mylead/Lead"><i class="fas fa-map-marked-alt"></i><span> My Leads</span></a></li>*@
                @*<li><a href="@agentUrl/MyEarning/list"><i class="fas fa-money-bill-alt"></i><span> Earning</span></a></li>*@
                <li><a href="@webUrl/mystay/paynow"><i class="fas fa-building"></i><span> My Stay</span></a></li>

                @*<li><a href="@webUrl/MyEarning/PaymentList"><i class="fas fa-building"></i><span> Pending List</span></a></li>*@
                <!-- <li><a href="@webUrl/mywallet/wallet"><i class="fas fa-money-bill-alt"></i><span> My Wallet</span></a></li> -->
            }
            else if (CurrentUser.User != null && !string.IsNullOrWhiteSpace(CurrentUser.User.Roles[0]) && (CurrentUser.User.Roles[0] == "Receptionist"))
            {
                <li><a href="@webUrl/user/myprofile" class="dropdown-item"><i class="fas fa-user"></i> My Profile</a></li>
                <li><a href="@webUrl/mystay/paynow"><i class="fas fa-building"></i><span> My Stay</span></a></li>
                <li><a href="@webUrl/Reception/MyTanent"><i class="fas fa-building"></i><span> My Tanent</span></a></li>
                @*                <li><a href="@webUrl/Reception/propertymap"><i class="fas fa-building"></i><span> Property Map</span></a></li>*@
                <li><a href="@webUrl/Reception/addnew"><i class="fas fa-building"></i><span> Add Tanent</span></a></li>
            }
            else if (CurrentUser.User != null && !string.IsNullOrWhiteSpace(CurrentUser.User.Roles[0]) && (CurrentUser.User.Roles[0] == "Sales"))
            {
                <li><a href="@webUrl/user/myprofile" class="dropdown-item"><i class="fas fa-user"></i> My Profile</a></li>
                <li><a href="@webUrl/mystay/paynow"><i class="fas fa-building"></i><span> My Stay</span></a></li>
                @*                <li><a href="@webUrl/Sales/propertyMap?Pid=1202"><i class="fas fa-building"></i><span> Property Map</span></a></li>*@
                <li><a href="@webUrl/Sales/occupancyDetails"><i class="fas fa-building"></i><span> Occupancy Details</span></a></li>
                //  <li><a href="@webUrl/Sales/MyTanent"><i class="fas fa-building"></i><span> My Tanent</span></a></li>
                <li><a href="@webUrl/Sales/AllLeadList"><i class="fas fa-building"></i><span> My Leads</span></a></li>
                <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a></li>
            }
            else
            {
                <li><a href="@webUrl/user/myprofile" class="dropdown-item"><i class="fas fa-user"></i> My Profile</a></li>
                <li><a href="@webUrl/mystay/paynow"><i class="fas fa-building"></i><span> My Stay</span></a></li>
                @*              < !-- <li><a href="@webUrl/mywallet/wallet"><i class="fas fa-money-bill-alt"></i><span> My Wallet</span></a></li> -->
                <!-- <li><a href="@webUrl/property/wishlist" class="dropdown-item">WishList</a></li> -->*@
            }

        }
        else
        {
            <li>
                <a onclick="showLoginPopUp('login');" class="btn btn-primary btn-lr">Login</a>
                <!--  <a onclick="showLoginPopUp('register');" class="btn btn-primary btn-lr">Register</a> -->
                <span class="customMenuClose">X</span>
            </li>
        }

        <li class="menu-divider"><a href="@webUrl/Home/index"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="@webUrl/about"><i class="fas fa-building"></i> About Us</a></li>
        <li><a href="@webUrl/contact-us"><i class="fas fa-map-marked-alt"></i> Contact Us</a></li>
        <li><a href="@webUrl/faq"> <i class="fa fa-building"></i> FAQ</a></li>
        <li><a href="@webUrl/term-and-condition"><i class="fa fa-building"></i> Term & Conditions </a></li>
        <li><a href="@webUrl/privacy"> <i class="fa fa-building"></i> Privacy Policy</a></li>
        @if (CurrentUser.User != null)
        {
            <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a></li>
        }
    </ul>
</div>

<header>
    <div class="container">
        <div class="row">
            <div class="col-4 logo_brand pr-0" style="overflow:hidden">
                <a href="@webUrl"><img src="@WebConfigHelper.LogoUrl" alt="Logo"></a>
            </div>
            <div class="col-5 pr-0">


                <!-- <a href="@agentUrl/property/postyourproperty" class="btn btn-primary post-property-btn" style=" float: right; margin-right: 3px;">Post Property</a> -->


            </div>
            <div class="col-3 mt-1">
                <div class="phone-circle float-left">
                    <a style= "color:#9C27B0;" href="tel:@WebConfigHelper.CompanyPhone"><i class="fa fa-phone"></i></a>
                </div>
                @*<a href="/property/wishlist">
                            @{
                    var wishListCount = 0;
                    if (Request.Cookies["wishlist"] != null)
                    {
                        var wishList = Request.Cookies["wishlist"].Value;
                        if (!string.IsNullOrWhiteSpace(wishList) && wishList.Split('|').Length > 0)
                        { wishListCount = wishList.Split('|').Length; }
                    }
                                <span class="wishlist_count" data-count="@wishListCount">
                                    <i class="far text-orange fa-heart"></i>
                                    <sup>@wishListCount</sup>
                                </span>
                            }
                        </a>*@
                <a class="menuBtn"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </div>
</header>
@Html.Partial("_Login_Registration")


<style>
    header .logo_brand img {
        width: 100px;
        float: left;
        margin-top: -14px !important;
    }

    header .logo_brand img {
        width: 93px;
        float: left;
        margin-top: -18px;
        margin-bottom: -11px;
    }

    a {
        color: #4A148C;
    }
    .btn-primary {
        background: #4A148C;
        transition: all 0.45s;
        border: 0;
        border-radius: 25px;
        padding: 4px 20px;
        transition: all 0.45s;
        font-size: 12px;
    }
    .customMenuClose {
        float: right;
        padding: 18px;
        cursor: pointer;
        color: #4A148C;
        font-weight: bold;
        padding-top: 2px;
    }
</style>