﻿@using System.Web.Optimization

@{
    var agentUrl = System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];

    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    var jsVersion = System.Configuration.ConfigurationManager.AppSettings["JsVersion"];

    string cookieToken, formToken, tokencookie;
    AntiForgery.GetTokens(null, out cookieToken, out formToken);
    tokencookie = cookieToken + ":" + formToken;

    bool isMobile = Request.Browser.IsMobileDevice;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortlink" href="@Request.Url.ToString()" />
    <link rel="canonical" href="@webUrl" />
    <meta name="description" content="@ViewBag.MetaDesc" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="@WebConfigHelper.WebsiteFavIcon" />
    <link rel="icon" type="image/x-icon" href="@WebConfigHelper.WebsiteFavIcon">
    <meta name="subject" content="Search Property for rent" />
    <meta name="classification" content="Real Estate Property Search" />
    <meta name="copyright" content="@webUrl" />
    <meta name="Language" content="en" />
    <meta name="Publisher" content="Haltn" />
    <meta name="distribution" content="Global" />
    <meta name="Robots" content="INDEX,FOLLOW" />
    <meta name="city" content="Gurgaon" />
    <meta name="country" content="India" />

    @if (isMobile)
    {
        @Styles.Render("~/bundle/mstyle")
    }
    else
    {
        @Styles.Render("~/bundle/style")}
    <!-- gfg fg fdgfgdf gdgd g-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148714818-2"></script>
    @Scripts.RenderFormat(@"<script src=""{0}""></script>", "~/bundle/js")
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-148714818-2');
    </script>
</head>
<body>

    <input type="hidden" id="RequestVerificationTokenAjax" value="@tokencookie" />
    <div class="loader"></div>
    <div class="validation_error"></div>
    <div class="success-message"></div>
    @RenderBody()
  
    @RenderSection("Scripts", false)
    @if (isMobile)
    {
      @*  @Html.Partial("_Footer_Mobile")*@
        @Scripts.RenderFormat(@"<script src=""{0}""></script defer>", "~/bundle/mjsproj")
    }
    else
    {
        @Html.Partial("_PartialFooter")
        @Scripts.RenderFormat(@"<script src=""{0}""></script defer>", "~/bundle/jsproj")
    }
</body>
</html>
