﻿@using FH.Util;
@model Pager

<div class="text-center">
        @if (Model.EndPage > 1)
        {
            <ul class="mb-1 pagination pagination-sm justify-content-center">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" onclick="Paging(1)">First</a>
                    </li>
                            <li class="page-item">
                                <a class="page-link" onclick="Paging(@(Model.CurrentPage - 1))">Previous</a>
                            </li>
                }

                @for (var page = Model.StartPage; page <= Model.EndPage; page++)
                {
                    <li class="page-item @(page == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" onclick="Paging(@page)">@page</a>
                    </li>
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" onclick="Paging(@(Model.CurrentPage + 1))">Next</a>
                    </li>
                            <li class="page-item">
                                <a class="page-link" onclick="Paging(@(Model.TotalPages))">Last</a>
                            </li>
                }
            </ul>}
</div>