﻿@using FH.Web.Security;
@{
    var agentUrl = System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];
    var webUrl = "";
    if (!Request.IsLocal)
    { webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"]; }
}


<style>
    header {
        margin-top: 27px;
        margin-left: 77px;
        background-color: #fff;
        border-radius: 8px;
    }

    a.btn.btn-primary {
        color: #fff !important;
    } 
    /*
    li.nav-item:hover {
        border-radius:8px;
        background-color: whitesmoke;
    }
    */

    #boxcall {
        margin-left: 203px;
        color: white;
        border-radius: 21px;
        padding-top: 10px;
        margin-top: -7px;
        text-align: center;
        height: 40px;
        width: 176px;
        background-color: #9C27B0;
    }

        #boxcall:hover {
            border: 1px solid #9C27B0 !important;
            color: #9C27B0;
            background: #ffffff;
        }

    .heading {
        font-family: Arial, Helvetica, sans-serif;
    }

    header .headerRight ul li {
        list-style: none;
        float: left;
        margin: 0px 20px;
        font-size: 18px;
        font-family: "Kantumruy Pro", sans-serif;
        font-weight: 500;
    }

    a:hover {
        color: #9C27B0 !important;
    }

    a#headerA:hover {
        color: #9C27B0 !important;
    }

    .btn-primary {
        background: #9C27B0 !important;
        border: 1px solid #9C27B0 !important;
    }

    button#btnLogin:hover {
        color: #9C27B0 !important;
        background: #ffffff !important;
        border: 1px solid #9C27B0 !important;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<header id="siteHeader" style="width: 90%; padding: 3px 0px;z-index:9999999;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 logo">
                <a href="@webUrl">
                    <img src="@WebConfigHelper.LogoUrl" alt="Logo" id="siteLogo" style="width: 104px;">
                </a>
            </div>
            <div class="col-md-8">
                <div class=" headerRight">
                    <ul style="float: right;">
                        <li class="nav-item">
                            <a class="" href="@webUrl/Home/index" id="headerA" aria-haspopup="true" aria-expanded="false" style="font-size:14px;color:black;">
                                Home
                            </a>
                        </li>
                        @*                        <li class="nav-item">
            <a class="" href="@webUrl/Home/Home" id="headerA" aria-haspopup="true" aria-expanded="false" style="font-size:14px;color:black;">
                Property List
            </a>
        </li>*@

                        <li class="nav-item dropdown">
                            <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px; color: black;">
                                Cities
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="@webUrl/property/search?propertytype=PG&city=GN&locality=Gurugram%2C+Haryana&latitude=28.4594965&longitude=77.0266383" class="dropdown-item">Gurgaon</a>
                                <a href="@webUrl/property/search?City=GN&Locality=Noida,%20Uttar%20Pradesh&PropertyType=pg&Latitude=28.5355161&Longitude=77.3910265&MinPrice=0&MaxPrice=200000&PageIndex=1" class="dropdown-item">Noida</a>
                                <a href="@webUrl/property/search?City=GN&Locality=Delhi&PropertyType=pg&Latitude=28.7040592&Longitude=77.10249019999999&MinPrice=0&MaxPrice=200000&PageIndex=1" class="dropdown-item">Delhi</a>
                                <a href="@webUrl/property/search?City=GN&Locality=Bengaluru,%20Karnataka&PropertyType=pg&Latitude=12.9715987&Longitude=77.5945627&MinPrice=0&MaxPrice=200000&PageIndex=1" class="dropdown-item">Bengaluru</a>
                                <a href="@webUrl/property/search?City=GN&Locality=Pune,%20Maharashtra&PropertyType=pg&Latitude=18.5204303&Longitude=73.8567437&MinPrice=0&MaxPrice=200000&PageIndex=1" class="dropdown-item">Pune</a>
                            </div>
                        </li>



                        @*      <li class="nav-item">
            <a class="" href="@webUrl" id="" aria-haspopup="true" aria-expanded="false">
                Blogs
            </a>
        </li>*@

                        @*
        <li class="nav-item dropdown">
            <a class="btn btn-primary" href="#" id="" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
        </li>*@


                        <li class="nav-item dropdown">

                            <a class="  dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px; color: black;">

                                @if (CurrentUser.User != null)
                                 {
                      @(String.IsNullOrEmpty(CurrentUser.User.Name) ? "" : (CurrentUser.User.Name.Length > 10 ? CurrentUser.User.Name.Substring(0, CurrentUser.User.Name.IndexOf(' ') + 1) : CurrentUser.User.Name))
                                  }
                             else

                              {

                              <text >My Profile</text>
                              }
                            </a>




                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (CurrentUser.User == null)
                                {
                                    <a href="#" class="dropdown-item" onclick="showLoginPopUp('login');">Login</a>
                                    <a href="#" class="dropdown-item" onclick="showLoginPopUp('register');">Register</a>
                                }
                                else
                                {
                                    if (CurrentUser.User != null && !string.IsNullOrEmpty(CurrentUser.User.UserType) && (CurrentUser.User.UserType.ToUpper() == "AGENT" || CurrentUser.User.UserType.ToUpper() == "OWNER"))
                                    {
                                        @*                                        <a href="@agentUrl/userprofile/myprofile" class="dropdown-item">Profile</a>*@
                                        @* <a href="@agentUrl/plan/packages" class="dropdown-item">Promot Your Property</a>
                                        *@
                                        @*<a href="@agentUrl/plan/myplans" class="dropdown-item">My Promotions</a>*@

                                        @*    <a href="@agentUrl/myproperty/property" class="dropdown-item">My Properties</a>

                <a href="@agentUrl/Myteam/List" class="dropdown-item">My Team</a>

                <a href="@agentUrl/mylead/Lead" class="dropdown-item">My Leads</a>

                <a href="@agentUrl/mytenant/tenantlist" class="dropdown-item">My Tenant</a>

                <a href="@agentUrl/mytenant/TenantListNew?IsActive1=1" class="dropdown-item">My Earning</a>*@

                                        @*<a href="@agentUrl/MyEarning/list" class="dropdown-item">Earning</a>*@
                                        @*<a href="@agentUrl/MyEarning/PaymentList" class="dropdown-item"> Pending List</a>*@
                                        <a href="@webUrl/mystay/paynow" class="dropdown-item">My Stay</a>

                                        <!--<a href="@webUrl/mywallet/wallet" class="dropdown-item">My Wallet</a> -->
                                        <a href="@webUrl/user/logout" class="dropdown-item">logout</a>


                                    }
                                    else if (CurrentUser.User != null && !string.IsNullOrEmpty(CurrentUser.User.UserType) && (CurrentUser.User.UserType == "Receptionist"))
                                    {
                                        <a href="@webUrl/user/myprofile" class="dropdown-item">My Profile</a>
                                        <a href="@webUrl/mystay/paynow" class="dropdown-item">My Stay</a>
                                        <a href="@webUrl/Reception/MyTanent" class="dropdown-item">My Tanent</a>
                                        @*                                        <a href="@webUrl/Reception/propertymap" class="dropdown-item">Property Map</a>*@
                                        <a href="@webUrl/Reception/addnew" class="dropdown-item">Add Tanent</a>
                                        <a href="@webUrl/user/logout" class="dropdown-item">logout</a>
                                    }
                                    else if (CurrentUser.User != null && !string.IsNullOrEmpty(CurrentUser.User.UserType) && (CurrentUser.User.UserType == "Sales"))
                                    {
                                        @*                                        <a href="@webUrl/Sales/propertyMap?Pid=1202" class="dropdown-item">Property Map</a>*@
                                        // <a href="@webUrl/Sales/MyTanent" class="dropdown-item">My Tenant</a>
                                        <a href="@webUrl/Sales/occupancyDetails" class="dropdown-item">Occupancy Details</a>
                                        <a href="@webUrl/mystay/paynow" class="dropdown-item">My Stay</a>
                                        <a href="@webUrl/Sales/AllLeadList" class="dropdown-item">My Leads</a>
                                        <a href="@webUrl/user/logout" class="dropdown-item">logout</a>
                                    }
                                    else
                                    {
                                        <a href="@webUrl/user/myprofile" class="dropdown-item">My Profile</a>
                                        <a href="@webUrl/mystay/paynow" class="dropdown-item">My Stay</a>
                                        <!--  <a href="@webUrl/mywallet/wallet" class="dropdown-item">My Wallet</a> -->
                                        <!--                                <a href="@webUrl/property/wishlist" class="dropdown-item">WishList</a> -->
                                        <a href="@webUrl/user/logout" class="dropdown-item">logout</a>
                                    }
                                }
                            </div>
                        </li>


              @*          <li class="nav-item">
                            <a class="" href="@agentUrl" id="headerA" aria-haspopup="true" aria-expanded="false" style="font-size: 14px;; color: black;">
                                Post Property
                            </a>
                        </li>*@

                        <li class="nav-item">
                            <a class="" href="@webUrl/Home/ContactUs" id="headerA" aria-haspopup="true" aria-expanded="false" style="font-size: 14px; color: black;">
                                Contact us
                            </a>
                        </li>

                        @*       <li>
            <a href="@agentUrl/property/postyourproperty" class="">
                <div id="boxcall">
                    Post
                    Property
                </div>
            </a>
        </li>*@

@*                        <li class="" style="font-size:14px;">
                            <a class="btn btn-primary" href="@agentUrl" id="" aria-haspopup="true" aria-expanded="false" style="background-color: #9C27B0 !important; margin-top: -3px;">
                                <div id="">Post Property</div>
                            </a>
                        </li>*@

                        <li class="" style="font-size:14px;">
                            <a class="btn btn-primary" href="tel:@WebConfigHelper.CompanyPhone" id="" aria-haspopup="true" aria-expanded="false" style="background-color: #9C27B0 !important; margin-top: -3px;">
                                <div id="">+91 @WebConfigHelper.CompanyPhone</div>
                            </a>
                        </li>
                        <!--
    <li>
        <a href="/property/wishlist">
            @{
                var wishListCount = 0;
                if (Request.Cookies["wishlist"] != null)
                {
                    var wishList = Request.Cookies["wishlist"].Value;
                    if (!string.IsNullOrWhiteSpace(wishList) && wishList.Split('|').Length > 0)
                    { wishListCount = wishList.Split('|').Length; }
                }
                <span class="wishlist_count" data-count="@wishListCount">
                    <i class="far text-orange fa-heart"></i>
                    <sup>@wishListCount</sup>
                </span>}
        </a>
    </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


@Html.Partial("_Login_Registration")

