﻿@{
    var companyName = System.Configuration.ConfigurationManager.AppSettings["WebsiteName"];
}
<style>
    ul.linkList li a {
        color: #ffff;
        font-size: 14px;
        font-weight: normal;
        transition: all 0.45s;
        line-height: 30px;
        position: relative;
        padding-left: 15px;
    }

    footer a:hover {
        color: #fff !important;
    }

    .fa.fa-instagram {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;  
    }

    ul.socialLink li a {
        color: #fff !important;
    }

    h4.h4heading {
        font-family: "Kantumruy Pro", sans-serif;
        margin-bottom: 22px;
        font-weight: 600;
    }

    header#siteHeader {
        top: -22px;
        position: fixed;
    }

    div.boxcall_h {
        color: #ffffff;
        margin-top: 9px;
        margin-left: 85px;
    }
</style>

<footer style="background-color: #9C27B0; padding-top: 55px; padding-right: 0px !important; padding-left: 0px !important; padding-bottom: 44px;">
    <div class="container-fluid">
        <div class="row" style="color: #ffff;">
            <div class="col-md-4">
                <h4 class="h4heading" style=" margin-left: 57px; ">About Us</h4>
                <p class="mb-0" style=" margin-left: 57px; ">
                    @companyName is a customized home rental technology company. We are integrating technology in real estate industry to simplify the way people to find Flats for rent in Gurgaon, Room for rent in Gurgaon, PG in Gurgaon, Apartments for rent in Gurgaon and PG for girls in Gurgaon...
                </p>
                @* <a href="/about"style="color: white;">Read More +</a>*@
            </div>

            <div class="col-md-2">
                <h4 class="h4heading" style="margin-left: 88px;">Company</h4>
                <ul class="" style="margin-left: 88px;">
                    <li><a href="/about" style="color: white;">About Us</a></li>
                    <li><a href="/contact-us" style="color: white;">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4 class="h4heading" style="margin-left: 61px;">Explore</h4>
                <ul class="" style="margin-left: 61px;">
                    <li><a href="/faq" style="color: white;">FAQ</a></li>
                    <li><a href="/term-and-condition" style="color: white;">Term & Conditions</a></li>
                    <li><a href="/privacy" style="color: white;">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="h4heading" style="margin-left: 88px;">Connect with us</h4>
                <a style="margin-left: 88px; margin-top: 12px; color:#fff;" href="tel:@WebConfigHelper.CompanyPhone">+91 @WebConfigHelper.CompanyPhone</a>
                <ul class="socialLink" style="margin-left: 88px; margin-top:12px;">
                    <!--<li>
                        <a href="https://twitter.com/telonestay" style="" target="_blank">-->
                            @* <img src="~/Content/images/tw.png" alt="Twitter"> color: #1DA1F2;*@
                            <!--<i class="fa-brands fa-twitter" style="font-size: 23px;"></i>
                        </a>
                    </li>-->
                    <li>
                        @*<a href="https://www.facebook.com/telonestaypgs" style="" target="_blank">*@
                            <a href="https://www.facebook.com/haltn.pg?mibextid=WC7FNe" style="" target="_blank">

                                @*  <img src="~/Content/images/fb.png"
            alt="Facebook">*@

                                <i class="fa-brands fa-facebook" style="font-size: 23px;"></i>
                            </a>
</li>
                    <li>
                        @*<a href="https://www.instagram.com/telonestay.pg/" style=" " target="_blank">*@

                        <a href="https://www.instagram.com/haltn_ggn/?igsh=bXMzeHU5ZWppMmNq&utm_source=qr" target="_blank">



                            @* <img src="~/Content/images/ins.png"
            alt="Instagram">*@
                            <i class="fa-brands fa-square-instagram" style=" font-size: 23px;"></i>
                        </a>
                    </li>
                    <li>
                        @*<a href="https://www.youtube.com" style="" target="_blank">*@
                            @* <img src="~/Content/images/yt.png" alt="Youtube">*@
                            <i class="fa-brands fa-youtube" style="font-size: 23px;"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<div class="footerStripe" style="background-color:#ffff;color:black;">
    <div class="container-fluid">
        Copyright © 2024 @System.Configuration.ConfigurationManager.AppSettings["CompanyName"]
    </div>
</div>