﻿ 
<style>
    .headingDiv {
        display:none;
    }
</style>
<form class="mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h1 style=" color: #9C27B0; font-size: 30px; font-family: 'Libre Caslon Text', serif; margin-bottom: 30px; font-weight: 600;">Get connect with us</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" id="qeUserName" maxlength="50" onkeypress="return isAlpha(event);" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Mobile" id="qeUserMobile" required maxlength="10">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="qeUserEmail" maxlength="50" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control" placeholder="Message" id="qeDescription" maxlength="500"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" id="btnQuickEnquiry" onclick="">Submit</button>
            </div>
        </div>
    </div>
</form>
