﻿@using FH.App.Entity;
@using FH.Util;
@model IEnumerable<PropertyList>

@if (Model != null)
{    
    <div class="table-responsive">
        <div class="m_slides_container">
            @foreach (var item in Model)
            {
                <div class="card">
                    <a href="/property/details/@item.PropertyId/@item.Locality.ReplaceSpace()">
                        <div class="p-relative">
                            @if (string.IsNullOrEmpty(item.ImageUrl))
                    {
                    <img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">
                    }
                    else
                    {
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                    }
                            <div class="property_status">Verified Property</div>
                            <div class="property_shadow">
                                <div class="property_price">@item.ExpectedRent</div>
                                @if (!string.IsNullOrEmpty(item.PropertyType) && item.PropertyType.ToUpper() != "PG")
                                {<div class="property_sqFt">@item.PropertySize Sq Ft</div>}                                
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@(!string.IsNullOrEmpty(item.Locality) && item.Locality.Length >45 ? item.Locality.Substring(0,45) + "..." : item.Locality)</h5>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
