﻿@using FH.Web.Security
@{
    var categories = ViewBag.allCategoriesMetaList;
}

<div class="container">
    <div style="padding-bottom:10px;"><span class="seeMoreCat">See More...</span></div>
</div>
 
<div class="catDiv" style="display:none; max-height:300px; overflow-y:scroll;"> 
    @foreach (var item in categories)
    {
        var hrefUrl = "/search/" + item.PropertyType + "/" + item.Url;
        <a href="@hrefUrl" class="btn btn-primary">@item.Heading</a>
    } 
</div>


<style>
    .catDiv a {
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 1px;
    }
</style>

<script>
    $(".seeMoreCat").click(function () { $(".catDiv").show(); $(this).hide(); });
</script>