@using FH.Web.Security
@{
    var propertyType = ViewBag.propertyType;
    var properties = ViewBag.properties;
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    if (Request.IsLocal)
    { webUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port; }
    var googleApiKey = System.Configuration.ConfigurationManager.AppSettings["GooglePlaceApiKey"].ToString();
    var companyName = System.Configuration.ConfigurationManager.AppSettings["WebsiteName"];
}



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=KantumruyPro">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
    .text-blue {
        color: #005e9b;
    }

    .text-orange {
        color: #f01941;
    }

    a {
        color: black;
    }

    .img-100 {
        width: 100%;
    }

    .top-box.ads {
        background: none !important;
        box-shadow: 2px 4px 10px #273b454d;
    }

    .top-box {
        width: 100%;
        max-height: 140px;
        min-height: 140px;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(-90deg, black, transparent);
        margin-bottom: 30px;
    }

        .top-box a {
            display: block;
            padding: 25px;
            padding-left: 250px;
        }

            .top-box a:hover {
                text-decoration: none;
            }

        .top-box h3 {
            color: #fff;
        }

        .top-box p {
            color: #fff;
        }

        .top-box img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 0.45s;
            transform: scale(1);
            z-index: -1;
        }

        .top-box:hover img {
            transform: scale(1.1);
        }

    .topbanerdiv {
        margin-bottom: 10px;
        height: 662px;
        overflow-y: hidden;
        margin-top: 84px;
        overflow-x: hidden;
        background-color: #f3e5f5;
    }

    .text-danger {
        color: #ffff !important;
    }

    .btn-primary-border {
        background: none !important;
        border: 2px solid !important;
        color: #da241a;
        font-size: 13px !important;
    }


    #custom_nav li a {
        background-color: #fff;
        margin-left: 2px;
        border-radius: 5px 5px 0px 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    ul#custom_nav li a.active {
        background-color: #e11d1d;
        color: #fff;
    }

    .tab-pane1 {
        margin-left: 149px;
        padding: 7px;
        margin-top: -159px;
    }
    /*
    .btn-primary {
        background: #9C27B0;
        transition: all 0.45s;
        border: 1px solid #9C27B0;
    }
    */
    header {
        width: 100%;
        height: auto;
        padding: 6px 0px;
        top: 0px;
        position: fixed;
        z-index: 1;
        border-bottom: 0px;
        z-index: 9999999999999999;
    }

    #overlay {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .myProperties {
        border-radius: 5px;
        overflow: hidden;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

        .myProperties > div > a > h5 {
            height: 25px !important;
            font-family: ui-serif;
            margin-top: 10px;
        }

    .amenitiesDiv > div > div {
        background-color: #f3e5f5;
        border-radius: 5px;
        box-shadow: 3px 3px 0px 3px #9C27B0;
    }

    .amenitiesDiv > div div > svg {
        font-size: 70px;
        min-height: 85px;
        color: #9C27B0;
    }

    .amenitiesDiv > div div > label {
        font-family: ui-serif;
        font-size: 16px;
    }

    .amenitiesDiv > div div > i {
        min-height: 85px;
        color: #9C27B0;
        padding-top: 7px;
        font-size: 70px;
    }

    .partnerdiv {
        padding-top: 11px;
    }

    .top-btn {
        background: #9C27B0;
        transition: all 0.45s;
        border: 0px;
    }

    a.btn.btn-primary.btn-primary-border.bottom_schedule_modal_btn.text-danger {
        margin-top: -313px;
    }
</style>

<style>
    .owl-carousel .nav-btn {
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 100px !important;
    }

    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled {
        pointer-events: none;
        opacity: 0.2;
    }



        .owl-carousel .next-slide {
        background: url('@webUrl/content/images/nav.png') no-repeat scroll -12px 0px;
        right: -12px;
        background-size: 28px 29px;
        width: 25px;
    }

    .owl-carousel .prev-slide {
        background: url('@webUrl/content/images/nav1.png') no-repeat scroll 0 0;
        left: 6px;
        background-size: 21px 30px;
        width: 12px;
    }

    .owl-carousel .prev-slide:hover {
        background-position: 0px -53px;
    }

    .owl-carousel .next-slide:hover {
        background-position: -24px -53px;
    }

    .owl-theme .owl-nav {
        margin-top: -25px !important;
    }

    ul#custom_nav {
        border-bottom: 0px;
    }
    .input-group.Top {
        margin-left: 185px;
        margin-top: 64px;
    }
    .box {
        padding-top: 6px;
        border-radius: 9px;
        margin-right: 213px;
        margin-left: -175px;
        color: black;
        height: 40px;
        width: 30px;
        background-color: #ffffff;
        opacity:0.9;
    }
        .box:hover {
            background-color: #9C27B0;
            color: white;
        }
    .col-md-2.box.a:hover {
        color: white!important;
    }
        a.ab:hover{
            color:#ffffff!important;
        }
        .box1 {
            color: #85837f;
            padding: 5px;
            padding-top: 8px;
            border-radius: 4px;
            font-size: 13px;
            margin: 3px;
            height: 35px;
            width: auto;
            border: 1px solid #b5b0b0;
            cursor:default;
        }
            .box1:hover {
                font-size: 14px;
                color: #9C27B0;
                cursor: default;
            }
    .asdf{
      color: red;
    }
    img.card-img-top {
        border-radius: 8px;
        height: 281px;
        width: 269px;
    }

    img.card-img-top:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        h5 .loc {
        font-size: 16px;
        color: #ffff;
        margin-left: 69px;
        margin-top: -39px;
    }
    a.text-danger:hover {
        color: #ffffff !important;
    }
    /*
    .btn-primary {
        background: #9C27B0 !important;
        border: 1px solid #9C27B0 !important;
    }
        */
    .btn-primary:hover {
        border: 1px solid #9C27B0 !important;
        background: #9C27B0 !important;
        border: 1px solid #9C27B0 !important;
    }
    #boxcall1 {
        margin-left: 77px;
        color: white;
        border-radius: 21px;
        padding-top: 7px;
        margin-top: -27px;
        text-align: center;
        height: 37px;
        width: 136px;
        background-color: #9C27B0;

    }

    .row.Herosecction {
        margin-bottom: 10px;
        height: 662px;
        overflow-y: hidden;
        margin-top: 84px;
        overflow-x: hidden;
        background-color: #f3e5f5;
    }
    h5.loc {
        color:#ffffff;
        margin-left: 76px;
        margin-top: -46px;
    }

/* logo css */

img.logo {
  width: 100px;
  height: 45px;
  animation: scroll 60s linear infinite;
}

    .slide-track {
        margin-bottom: 21px;
        margin-top: 78px;
        width: 100%;
        display: flex;
        gap: 13em;
        overflow: hidden;
    }
    a.city:hover {
        color: #ffffff !important;
    }
    #btnLocalitySearch {
        background: #9C27B0;
        border: 1px solid #9C27B0;
    }
    button#btnLocalitySearch:hover {
        color: #9C27B0 !important;
        background: #ffffff !important;
        border: 1px solid #9C27B0 !important;
    }

    /* add this code start*/

    button#btnLocalitySearch {
        margin-top: -78px;
    }
        button#btnLocalitySearch.clicked {
            margin-top: -78px;
        }
    span#cityError {
        font-weight: 600;
        font-size: 19px;
        margin-right: 27rem;
        position: relative;
        top: -42px
    }

    .input-group {
        position: relative;
    }


    element.style {
    }

    .clear-icon {
        position: absolute;
        left: 494px;
        margin-top: -23px;
        color: #0000006b !important;
        transform: translateY(-50%);
        cursor: pointer;
        /* opacity: 0.5; */
        z-index: 99;
    }

        .clear-icon:hover {
            opacity: 1;
        }
    .btn-search.clicked {
        margin-top: -70px;
    }

    /* add this code end*/
    /*
.slider {
  margin-top: 70px;
  padding: 8em 2em;
}
*/
    @@keyframes scroll {
        0% {transform: translateX(0);}
  100% { transform: translatex(-1000%); }
}

    .haltndesk {
        text-align: justify !important;
        font-size: 16px !important;
        line-height: 26px !important;
        color: #748383 !important;
        font-weight: 400;
    }
    .main_heading:before {
        width: 70px;
        height: 70px;
        background: #e0b2e9;
        border-radius: 100%;
        position: absolute;
        left: 107px;
        margin-top: -21px;
        content: "";
        display: block;
    }
    .col-sm-3.onclicklinkimg:hover {
        background:black;

    }
    .haltnpara {
        font-size:21px !important;
    }
    .haltnimg {
        background-image: url('@webUrl/content/images/bannerf.png');
        background-size: cover; /* Background image ko cover kare */
        background-position: center;
        height: 50vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .listhtln {
        line-height: 4;
        margin-top: 71px;
    }
    .Haltnicon{
        font-size:30px;

    }
    .haltnlist {
        font-size: 13px;
    }
    .haltnad {
        margin-top: 82px;
        margin-left: 117px;
    }
   
</style>






@*

    <div class="container-fluid" style="padding: 0px; margin-top: -85px; overflow-x: hidden;">
        <div class="row Herosecction">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@webUrl/Content/images/Rectangle 1 (8).png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="@webUrl/Content/images/Rectangle 1 (8).png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="@webUrl/Content/images/Rectangle 1 (8).png" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

    </div>
*@
<div class="container-fluid" style="padding: 0px; margin-top: -85px; overflow-x: hidden;">



    <div class="row topbanerdiv" style=" height: 625px;">


        <div class="col-sm-12" style=" background-color: #9e23b0; overflow: hidden; ">

            <div id="overlay" style="z-index:99;">
                <div>
                    <div class="col-md-12 text-center box-div">
                        <div style=" width: 60%; margin-top: 275px; margin-left: 135px;">
                            <div class="text-center text-white">

                            </div>
                            <ul class="nav nav-tabs " id="custom_nav">
                                @*                            <li class="active"><a data-toggle="tab" href="#pgs" class="active">PG's</a></li>
                                    <li><a data-toggle="tab" href="#rooms">Room / 1RK</a></li>*@
                            </ul>
                            <div class="tab-content">
                                <div id="pgs" class="tab-pane tab-pane1 fade in active show">
                                    <form id="searchForm" action="/property/search">
                                        <div class="input-group Top" style="display:block">

                                            <h1 style=" line-height: 4rem; color: #9C27B0; font-family: 'Libre Caslon Text', serif; font-size: 43px; margin-left: -116px; text-align: center; width: 776px; ">
                                                Find the best PG &amp; Rooms for you at Haltn Now
                                            </h1>
                                            <br />
                                            @*<p style=" font-family: cursive; margin-left: -133px; color: white ">Indulge in the ultimate luxury of managed living at Haltn. </p>
                                                <p style=" font-family: cursive; margin-left: -133px; margin-top: -14px; color: white ">From top-notch amenities to an exclusive community, we have everything you need to live in style.</p><br />*@


                                            @*   add this code start*@
                                            <input type="text" id="txtLocality" style=" height: 50px; margin-left: -117px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; width: 661px; padding-left: 25px; font-size: 14px; font-family: Arial, FontAwesome " class="form-control" placeholder="&#xF002; Search  city....">
                                            <span id="cityError" style="color: red; "></span>
                                            <span class="clear-icon"><i class="fas fa-times"></i></span>
                                            @*   add this code end*@
                                            <span class="input-group-append">
                                                <button class="btn btn-primary btn-search top-btn" style=" height: 50px; margin-left: 537px; margin-top: -79px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;" type="submit" value="Search" id="btnLocalitySearch">Search</button>
                                            </span>

                                            @*          <div class="row" style="flex-wrap: nowrap; margin-top: 65px; margin-left: -100px;">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-2 box"><a class="ab" href="@webUrl/property/search?propertytype=PG&city=GN&locality=Gurugram%2C+Haryana&latitude=28.4594965&longitude=77.0266383" id="" aria-haspopup="true" aria-expanded="false">Gurgaon</a></div>
                                                    <div class="col-md-2 box"><a class="ab" href="@webUrl/property/search?City=GN&Locality=Noida,%20Uttar%20Pradesh&PropertyType=pg&Latitude=28.5355161&Longitude=77.3910265&MinPrice=0&MaxPrice=200000&PageIndex=1" id="" aria-haspopup="true" aria-expanded="false">Noida</a></div>
                                                    <div class="col-md-2 box"><a class="ab" href="@webUrl/property/search?City=GN&Locality=Delhi&PropertyType=pg&Latitude=28.7040592&Longitude=77.10249019999999&MinPrice=0&MaxPrice=200000&PageIndex=1" id="" aria-haspopup="true" aria-expanded="false">Delhi</a></div>
                                                    <div class="col-md-2 box"><a class="ab" href="@webUrl/property/search?City=GN&Locality=Bengaluru,%20Karnataka&PropertyType=pg&Latitude=12.9715987&Longitude=77.5945627&MinPrice=0&MaxPrice=200000&PageIndex=1" id="" aria-haspopup="true" aria-expanded="false">Banglore</a></div>
                                                    <div class="col-md-2 box"><a class="ab" href="@webUrl/property/search?City=GN&Locality=Pune,%20Maharashtra&PropertyType=pg&Latitude=18.5204303&Longitude=73.8567437&MinPrice=0&MaxPrice=200000&PageIndex=1" id="" aria-haspopup="true" aria-expanded="false">Pune</a></div>
                                                </div>*@


                                            <input type="hidden" name="propertytype" value="PG" />
                                            <input type="hidden" name="city" value="GN" />
                                            <input type="hidden" name="locality" id="hdnLocality" value="Gurgaon, Haryana" />
                                            <input type="hidden" name="latitude" id="hdnLat" value="28.4594965" />
                                            <input type="hidden" name="longitude" id="hdnLng" value="77.0266383" />
                                        </div>
                                    </form>
                                </div>
                                <div id="rooms" class="tab-pane tab-pane1 fade">
                                    <form action="/property/search">
                                        <div class="input-group">
                                            <input type="text" id="rtxtLocality" class="form-control" placeholder="Enter Your room Location">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary btn-search" id="btnLocalitySearch"><i class="fas fa-search"></i></button>
                                            </span>
                                            <input type="hidden" name="propertytype" value="room" />
                                            <input type="hidden" name="city" value="GN" />
                                            <input type="hidden" name="locality" id="rhdnLocality" value="Gurgaon, Haryana" />
                                            <input type="hidden" name="latitude" id="rhdnLat" value="28.4594965" />
                                            <input type="hidden" name="longitude" id="rhdnLng" value="77.0266383" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>

                <div class="container-fluid" style="padding: 0px; margin-top: -85px; overflow-x: hidden;">
                    <div class="row Herosecction">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 blackblur" src="@webUrl/Content/images/homeBG1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 blackblur" src="@webUrl/Content/images/homeBG4.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 blackblur" src="@webUrl/Content/images/homeBG3.jpg" alt="Third slide">
                                </div>
                            </div>
                            @* <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>*@
                        </div>

                    </div>

                </div>


                @*

                    <div class="owl-carousel owl-theme" id="myslider">
                        <div class="item" style="">
                            <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                        </div>
                        <div class="item" style="">
                            <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                        </div>
                        <div class="item" style="">
                            <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%; ">
                        </div>
                        <div class="item" style="">
                            <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                        </div>
                    </div>
                *@
            </div>
        </div>
    </div>
</div>




@* my code*@
<div class="container" style=" margin-top: 79px;">
    @*    <h1 style="color: #9C27B0;font-size:30px; font-family: 'Libre Caslon Text', serif; margin-bottom: 30px;font-weight:600">Find Coliving PG in your city</h1>
    *@    <div class="row">
        <div class="col-sm-3 onclicklink">
            <div class="" style="width: 15rem;">
                <img src="@webUrl/Content/images/colivingimg.jpeg" class="card-img-top onclicklinkimg" alt="...">
            </div>
            <h5 class="loc">
                <a class="city" href="#" style="color:#ffff">Colivng PG</a>
            </h5>
        </div>
        <div class="col-sm-3 onclicklink">
            <div class="" style="width: 15rem;">
                <img src="@webUrl/Content/images/girl.jpg" class="card-img-top onclicklinkimg" alt="...">
            </div>
            <h5 class="loc">
                <a class="city" href="#" style="color:#ffff">Girls PG</a>
            </h5>
        </div>
        <div class="col-sm-3 onclicklink">
            <div class="" style="width: 15rem;">
                <img src="@webUrl/Content/images/boys.jpeg" class="card-img-top onclicklinkimg" alt="...">
            </div>
            <h5 class="loc">
                <a class="city" href="#" style="color:#ffff">Boys PG</a>
            </h5>
        </div>
        <div class="col-sm-3 onclicklink">
            <div class="" style="width: 15rem;">
                <img src="@webUrl/Content/images/RoomRK.jpg" class="card-img-top onclicklinkimg" alt="...">
            </div>
            <h5 class="loc">
                <a class="city" href="#" style="color:#ffff">Room/RK</a>
            </h5>
        </div>
    </div>
</div>


@*<div class="container" style=" margin-top: 79px;">
        <h1 style="color: #9C27B0;font-size:30px; font-family: 'Libre Caslon Text', serif; margin-bottom: 30px;font-weight:600">CoWorking Spaces for you</h1>
        <div class="row">
            <div class="col-sm-4 onclicklink">
                <div class="" style="width: 17rem;">
                    <img src="@webUrl/Content/images/gurgaon.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a class="city" href="@webUrl/property/search?propertytype=PG&city=GN&locality=Gurugram%2C+Haryana&latitude=28.4594965&longitude=77.0266383" style="color:#ffff">Low Cost</a>
                </h5>
            </div>
            <div class="col-sm-4 onclicklink">
                <div class="" style="width: 17rem;">
                    <img src="@webUrl/Content/images/noida.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a class="city" href="@webUrl/property/search?City=GN&Locality=Noida,%20Uttar%20Pradesh&PropertyType=pg&Latitude=28.5355161&Longitude=77.3910265&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Affordable</a>
                </h5>
            </div>
            <div class="col-sm-4 onclicklink">
                <div class="" style="width: 17rem;">
                    <img src="@webUrl/Content/images/delhi.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a class="city" href="@webUrl/property/search?City=GN&Locality=Delhi&PropertyType=pg&Latitude=28.7040592&Longitude=77.10249019999999&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Luxury</a>
                </h5>
            </div>

        </div>
    </div>*@

<div class="container " style=" margin-bottom: 116px; margin-top: 114px;">

    <div class="row">
        <div class="col-lg-6 col-6">
            <img src="@webUrl/Content/images/circul.png" class="img-fluid" style="width:89%;" alt="...">

        </div>
        <div class="col-lg-6 col-6">
            <div class="haltnad">
                <div class="main_heading title_divider">
                    <h1 style="padding-bottom: 12px; font-family: 'Libre Caslon Text', serif; position: relative; z-index: 99; color: #9C27B0; ">Haltn Advantages</h1>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-6">
                        <p class="haltnpara"><i class="fa-solid fa-hand-holding-dollar" style="padding-right: 14px; font-size: 34px;"></i> No booking service fee</p>
                    </div>
                    <div class="col-sm-12 col-6">
                        <p class="haltnpara"><i class="fa-solid fa-indian-rupee-sign" style="padding-right: 30px; font-size: 34px;"></i> Exclusive Pricing</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-6">
                        <p class="haltnpara"><i class="fa-solid fa-building-circle-check" style="padding-right: 14px; font-size: 34px;"></i> Verified Spaces and Trusted Partners</p>
                    </div>
                    <div class="col-sm-12 col-6">
                        <p class="haltnpara"><i class="fa-solid fa-headset" style="padding-right: 14px; font-size: 34px;"></i> 100% Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="haltnimg">
        <div class="row">
            <div class="col-lg-5 col-5">
                <h2 style="text-align: center; padding-top: 83px; padding-left: 20px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; ">Haltn Enterprice Solution </h2>
                <p style="margin-left:51px;font-size:21px !important;"> One india. One Network</p>
                <button class="btn btn-primary" style="margin-left: 42px;">Get in Touch</button>
            </div>
            <div class="col-lg-2 col-2">
                <div class="listhtln">
                    <ul style="list-style:none;">

                        <li class="haltnlist"> <i class="fa-solid fa-hand-holding-dollar Haltnicon"></i> Exclusive Pricing</li>
                        <li class="haltnlist"><i class="fa-solid fa-user-tie Haltnicon"></i> Dedicated Manager</li>
                        <li class="haltnlist"><i class="fa-solid fa-circle-check Haltnicon"></i> Verified Space</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-3 col-2">
                <div class="listhtln">
                    <ul style="list-style:none;">
                        <li class="haltnlist"><i class="fa fa-laptop Haltnicon"></i> Zero Fee</li>
                        <li class="haltnlist"><i class="fa-solid fa-gear Haltnicon"></i> Vendor Management</li>
                        <li class="haltnlist"><i class="fa fa-book Haltnicon"></i> Centralised Billing</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-2">

            </div>




        </div>
    </div>

</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-12 text-center">
            <img src="~/Content/images/officeboss.jpeg" class="card-img-top" alt="..." style=" height: 16rem; width: 21rem;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <h3 style="padding-bottom: 12px; text-align: center; margin-top: 40px; color: #9C27B0; font-family: 'Libre Caslon Text', serif; ">What's the Haltn Desk?</h3>
            <p class="haltndesk">
                "Haltn helps you find the right rental space. Whether it's a room, a PG,
                or anything else, we are here to assist you every step of the way. With our expanding network,
                we are committed to creating a shared environment where SellerHatln community members can thrive and connect,
                reaching their highest potential.
            </p>
        </div>
    </div>
</div>



@* end my code*@





@*<div class="container" style=" margin-top: 79px;">
        <h1 style="color: #9C27B0;font-size:30px; font-family: 'Libre Caslon Text', serif; margin-bottom: 30px;font-weight:600">Find Coliving PG in your city</h1>
        <div class="row">
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/gurgaon.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="@webUrl/property/search?propertytype=PG&city=GN&locality=Gurugram%2C+Haryana&latitude=28.4594965&longitude=77.0266383" style="color:#ffff">Gurgaon</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/noida.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="@webUrl/property/search?City=GN&Locality=Noida,%20Uttar%20Pradesh&PropertyType=pg&Latitude=28.5355161&Longitude=77.3910265&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Noida</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/delhi.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="@webUrl/property/search?City=GN&Locality=Delhi&PropertyType=pg&Latitude=28.7040592&Longitude=77.10249019999999&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Delhi</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/bengaluru.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="@webUrl/property/search?City=GN&Locality=Bengaluru,%20Karnataka&PropertyType=pg&Latitude=12.9715987&Longitude=77.5945627&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Bengaluru</a>
                </h5>
            </div>
        </div>
    </div>*@


@*<div class="container" style=" margin-top: 79px;">
        <h1 style="color: #9C27B0;font-size:30px; font-family: 'Libre Caslon Text', serif; margin-bottom: 30px;font-weight:600">Find Girls PG in your city</h1>
        <div class="row">
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/gurgaon.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Gurugram,%20Haryana&PropertyType=pg&Latitude=28.4594965&Longitude=77.0266383&TenantGender=Female&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Gurgaon</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/noida.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Noida,%20Uttar%20Pradesh&PropertyType=pg&Latitude=28.5355161&Longitude=77.3910265&TenantGender=Female&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Noida</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/delhi.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Delhi&PropertyType=pg&Latitude=28.7040592&Longitude=77.10249019999999&TenantGender=Female&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Delhi</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/bengaluru.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Bengaluru,%20Karnataka&PropertyType=pg&Latitude=12.9715987&Longitude=77.5945627&TenantGender=Female&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Bengaluru</a>
                </h5>
            </div>
        </div>
    </div>*@


@*<div class="container" style=" margin-top: 79px;">
        <h1 style="color: #9C27B0;font-size:30px; font-family: 'Libre Caslon Text', serif; margin-bottom: 30px;font-weight:600">Find Boys PG in your city</h1>
        <div class="row">
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/gurgaon.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Gurugram,%20Haryana&PropertyType=pg&Latitude=28.4594965&Longitude=77.0266383&TenantGender=Male&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Gurgaon</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/noida.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Noida,%20Uttar%20Pradesh&PropertyType=pg&Latitude=28.5355161&Longitude=77.3910265&TenantGender=Male&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Noida</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/delhi.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Delhi&PropertyType=pg&Latitude=28.7040592&Longitude=77.10249019999999&TenantGender=Male&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Delhi</a>
                </h5>
            </div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 15rem;">
                    <img src="@webUrl/Content/images/bengaluru.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <i class="fa-solid fa-location-dot"></i>
                    <a class="city" href="http://haltn.com/property/search?City=GN&Locality=Bengaluru,%20Karnataka&PropertyType=pg&Latitude=12.9715987&Longitude=77.5945627&TenantGender=Male&MinPrice=0&MaxPrice=200000&PageIndex=1" style="color:#ffff">Bengaluru</a>
                </h5>
            </div>
        </div>
    </div>*@


<br />
<br />


<!--<div class="container-fluid">
    <div class="row" style="margin-top: 55px; margin-left: 102px;">
        <div class="col-sm-6 text-center">

            <img src="@webUrl/Content/images/image about.png" class="img-fluid" id="" style=" width: 86%; opacity: 0.8;">

        </div>
        <div class="col-sm-5 text-center">
            <h2 class="text-blue" style=" text-align: start; padding-bottom: 14px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; font-weight: 600; margin-top: 65px; ">
                We Know What You Want
            </h2>
            <p style="color: #85837f; text-align: start; "> Indulge in the ultimate luxury of managed living at Haltn. From top-notch amenities to an exclusive community, we have everything you need to live in style.Indulge in the ultimate luxury of managed living at Haltn.</p><br />
            <div class="row" style="margin-top: -14px;">
                <div class="col-md-2 box1">Free Wifi</div>
                <div class="col-md-4 box1">Fully Furnitured</div>
                <div class="col-md-4 box1">Regular Cleaning</div>
                <div class="col-md-1 box1">TV</div>
            </div>
            <div class="row">
                <div class="col-md-2 box1">Kitchen</div>
                <div class="col-md-3 box1">Community</div>
                <div class="col-md-3 box1">Flexible Lease</div>
                <div class="col-md-3 box1">BreakFast</div>
            </div>
            <div class="row">
                <div class="col-md-3 box1">Free Parking</div>
            </div>-->
@*            <a href="@webUrl/about">
        <p class="btn btn-primary btn-search" style=" border-radius: 22px; margin-top: 44px; margin-left: -423px;" id="btnLocalitySearch">About more</p>
    </a>*@
<!--</div>
    </div>
</div>-->
@*   logo start *@

@*<h1 style="color: #9C27B0;font-weight:600; margin-bottom: 35px; margin-left: 489px; font-size: 30px; font-family: 'Libre Caslon Text', serif; margin-top: 100px; ">Trusted by the world`s best</h1>


    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img class="logo" src="https://www.icicibank.com/assets/images/img/logo.png" style="width:100px;" alt="">
            </div>
            <div class="slide">
                <img class="logo" src="@webUrl/Content/images/amazon.png" style="width:100px;" alt="">
            </div>
            <div class="slide">
                <img class="logo" src="https://drws17a9qx558.cloudfront.net/website/images/logo.png" style="width:100px;" alt="">
            </div>

            <div class="slide">
                <img class="logo" src="https://www.icicibank.com/assets/images/img/logo.png" style="width:100px;" alt="">
            </div>
            <div class="slide">
                <img class="logo" src="@webUrl/Content/images/amazon.png" style="width:100px;" alt="">
            </div>
            <div class="slide">
                <img class="logo" src="https://drws17a9qx558.cloudfront.net/website/images/logo.png" style="width:100px;" alt="">
            </div>
            <div class="slide">
                <img class="logo" src="https://cdn1.byjus.com/byjusweb/img/classes/logo-4.png" style="width:100px;" alt="">
            </div>
            <div class="slide">
                <img class="logo" src="@webUrl/Content/images/amazon.png" style="width:100px;" alt="">
            </div>
        </div>
    </div>*@


@* logo end *@

@*
    <h1 style="color: #9C27B0;font-weight:600; margin-bottom: 35px; margin-left: 489px; font-size: 30px; font-family: 'Libre Caslon Text', serif; margin-top: 100px; ">Trusted by the world`s best</h1>

    <div class="container-fluid">*@
@* <div class="container-fluid" style="background-color: #F3E5F5; border-radius: 4px;">*@


@*<div class="row">*@
@* <div class="col-sm-4 text-center pt-4" style="border-right: 2px solid #9C27B0; background-color: #9C27B0; color: #f3e5f5; ">
        <h1 class="text-blue" style=" padding-top: 0px; margin-top: -20px; vertical-align: top; color: #f3e5f5; font-family: ui-serif;">Our Partners</h1>
    </div>*@
@*<div class="col-sm-2 text-center partnerdiv">
        <img src="https://www.icicibank.com/assets/images/img/logo.png" style="width:100px;" />
    </div>
    <div class="col-sm-2 text-center partnerdiv">
        <img src="@webUrl/Content/images/amazon.png" style="width:100px;" />
    </div>
    <div class="col-sm-2 text-center partnerdiv">
        <img src="https://drws17a9qx558.cloudfront.net/website/images/logo.png" style="width:100px;" />
    </div>
    <div class="col-sm-2 text-center partnerdiv">
        <img src="https://www.icicibank.com/assets/images/img/logo.png" style="width:100px;" />
    </div>
    <div class="col-sm-2 text-center partnerdiv">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/logo-4.png" style="width:100px;" />
    </div>

    <div class="col-sm-2 text-center partnerdiv">
        <img src="@webUrl/Content/images/amazon.png" style="width:100px;" />
    </div>
    </div>
    </div>
*@

@*<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="text-blue" style="margin-top: 67px; padding-bottom: 14px; font-size: 30px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; font-weight: 600; margin-bottom: 26px; ">Popular Rental Properties</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="margin-left: 66px;">
            <div class="owl-carousel owl-theme" style="">
                @foreach (var property in properties)
                {
                    var detailLink = "/property/details/" + property.PropertyId + "/PG-In-" + (property.Locality);
                    <div class="" style=" width: 85%; margin-left: auto; margin-right: auto;">
                        <a href="@detailLink" style="color:#000;">
                            <div class="myProperties">
                                <div style="height:270px;border-radius:7px; overflow-y: hidden;">

                                    <img src="@property.ImageUrl" style="width:100%;height:270px;" alt="Alternate Text" />
                                </div>
                                <div style="padding-left: 10px; padding-right: 10px;">
                                    @{string title = property.Address;
                                        string CompanyName = property.CompanyName; }
                                    <h5 style="height: 50px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; font-size: 16px; font-weight: 600; "> @(title.Length > 40 ? title.Substring(0, 40) + ".." : title) </h5>
                                    <small style=" height:50px;margin-bottom:2px;"> @(CompanyName.Length > 40 ? CompanyName.Substring(0, 40) + ".." : CompanyName) </small>

                                    <div class="row text-center" style="padding-bottom:5px;">

                                        <div class="col-sm-12  " style="  ">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="" style="margin-bottom: 5px; text-align: start; margin-top: -8px; "><small style="font-weight:400; font-size: 14px;">Deposit  @property.ExpectedDeposit/-</small></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12  " style="  ">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="" style=" margin-bottom: 5px; text-align: start; margin-top: -8px;"><small style="font-weight: 400;font-size:14px;">Room  @(string.IsNullOrEmpty(property.ApartmentType)?"NA": property.ApartmentType)</small></p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-12  " style="  ">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="" style=" margin-bottom: 5px; text-align: start; margin-top: -8px;"><small style="font-weight: 400; font-size: 14px;">Fooding  @(property.Bathrooms == 1 ? "Yes" : "No")</small></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="text-center" style="margin-top: -45px;">
                                        <a href="@detailLink" id="" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn text-danger" style="border-radius: 5px; margin-left: -5px; margin-top: -240px;">View Details</a> &nbsp;
                                        <a href="@detailLink" id="" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn text-danger" style="height: 39px; border-radius: 31px; margin-left: 68px; margin-top: -240px; "><i class="fa-solid fa-phone-volume" style="padding-top: 9px;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-3 " style="  ">
            <img src="@webUrl/Content/images/Rectangle 12 (1).png" class="card-img-top" style="height:366px" alt="...">

            <a href="" id="" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn text-danger" style="border-radius: -11px; margin-left: 72px; margin-top: -407px;">See More + </a> &nbsp;



        </div>

    </div>*@




<br />
<br />
@* <div class="container-fluid" style="background-color: #F3E5F5; border-radius: 4px;">
            <div class="row">
                <div class="col-sm-4 text-center pt-4" style="border-right: 2px solid #9C27B0; background-color: #9C27B0; color: #f3e5f5; ">
                    <h1 class="text-blue" style=" padding-top: 0px; margin-top: -20px; vertical-align: top; color: #f3e5f5; font-family: ui-serif;">Our Partners</h1>
                </div>
                <div class="col-sm-2 text-center partnerdiv">
                    <img src="https://drws17a9qx558.cloudfront.net/website/images/logo.png" style="width:100px;" />
                </div>
                <div class="col-sm-2 text-center partnerdiv">
                    <img src="https://www.icicibank.com/assets/images/img/logo.png" style="width:100px;" />
                </div>
                <div class="col-sm-2 text-center partnerdiv">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/logo-4.png" style="width:100px;" />
                </div>
                <div class="col-sm-2 text-center partnerdiv">
                    <img src="@webUrl/Content/images/amazon.png" style="width:100px;" />
                </div>
            </div>
        </div>


    <br />
    <br />
    <div class="container-fluid pt-5 pb-5" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%); border-radius: 9px; background-color: #f3e5f5; width: 90%; ">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <h1 class="text-blue" style="font-family: ui-serif; color: #4A148C;">Hygienic Living Environment. Hassle-free Experience</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="font-size: 20px !important; font-family: ui-serif; ">
                    Haltn is a  customized home rental  technology company. we  allows home seekers to  check real time images of
                    the property, in-depth  information about the  availability of the property  and then proceed for it,  schedule house visit and  finalize them.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
*@
@*<div class="container pt-5">
        <div class="row text-center">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h1 class="text-blue" style="border-bottom: 3px solid #961d1d; margin-left: 30%; margin-right: 30%; padding-bottom: 10px;">Refer And Earn</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="@webUrl/content/images/referandearn.jpg" style="width:80%;" />
                    </div>
                    <div class="col-sm-6">
                        <p style="font-size: 20px !important;">Good things need to be shared. Invite your friends to enjoy better living at Haltn and win unlimited cash credit! It’s possible because you can keep referring as many of your friends as you want. Every time your referred friend moves into Haltn and pays the deposit and first month’s rent, you get cash credit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@*<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="text-blue text-center" style=" font-family: ui-serif; color: #4A148C;">Stay Safe with our best facilitated PG's</h1>
                <p style="font-size: 18px !important; margin-top: 24px; font-family: ui-serif;">In Haltn we provide the best stay with hygienic food and No touch housekeeping. We have well trained staf to provide you the best services. We also provide you web managed stay services.</p>
            </div>
            <div class="col-sm-4">
                <img src="@webUrl/content/images/staySafeImg.png" style="width: 60%; margin-top: -20px; margin-left: 80px;" />
            </div>
        </div>
        <div class="row">

        </div>
    </div>
*@
<!--
<div class="container-fluid" style="padding:0px;">
    <div class="row topbanerdiv">
        <div class="col-md-12 text-center box-div">
            <div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 110px;">
                <ul class="nav nav-tabs " id="custom_nav">
                    <li class="active"><a data-toggle="tab" href="#pgs" class="active">PG's</a></li>
                    <li><a data-toggle="tab" href="#rooms">Room / 1RK</a></li>
                </ul>
                <div class="tab-content">
                    <div id="pgs" class="tab-pane tab-pane1 fade in active show">
                        <form action="/property/search">
                            <div class="input-group">
                                <input type="text" id="txtLocality" class="form-control" placeholder="Enter Your Location">
                                <span class="input-group-append">
                                    <button class="btn btn-primary btn-search" id="btnLocalitySearch"><i class="fas fa-search"></i></button>
                                </span>
                                <input type="hidden" name="propertytype" value="PG" />
                                <input type="hidden" name="city" value="GN" />
                                <input type="hidden" name="locality" id="hdnLocality" value="Gurgaon, Haryana" />
                                <input type="hidden" name="latitude" id="hdnLat" value="28.4594965" />
                                <input type="hidden" name="longitude" id="hdnLng" value="77.0266383" />
                            </div>
                        </form>
                    </div>
                    <div id="rooms" class="tab-pane tab-pane1 fade">
                        <form action="/property/search">
                            <div class="input-group">
                                <input type="text" id="rtxtLocality" class="form-control" placeholder="Enter Your room Location">
                                <span class="input-group-append">
                                    <button class="btn btn-primary btn-search" id="btnLocalitySearch"><i class="fas fa-search"></i></button>
                                </span>
                                <input type="hidden" name="propertytype" value="room" />
                                <input type="hidden" name="city" value="GN" />
                                <input type="hidden" name="locality" id="rhdnLocality" value="Gurgaon, Haryana" />
                                <input type="hidden" name="latitude" id="rhdnLat" value="28.4594965" />
                                <input type="hidden" name="longitude" id="rhdnLng" value="77.0266383" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="top-box">
                <a href="/property/search?propertytype=PG&city=GN&locality=Gurgaon, Haryana&latitude=28.4594965&longitude=77.0266383">
                    <h3>Explore PG</h3>
                    <p>Villas & Apartments with extra space & privacy</p>
                    <img src="~/Content/images/Home/img4.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="top-box">
                <a href="/property/search?propertytype=Room&city=GN&locality=Gurgaon, Haryana&latitude=28.4594965&longitude=77.0266383">
                    <h3>Explore Room</h3>
                    <p>Villas & Apartments with extra space & privacy</p>
                    <img src="~/Content/images/Home/img2.jpg" alt="">
                </a>
            </div>
        </div>

                <div class="col-md-6">
                    <div class="top-box">
                        <a href="/property/search?propertytype=Flat&city=GN&locality=Gurgaon, Haryana&latitude=28.4594965&longitude=77.0266383">
                            <h3>Explore Flat</h3>
                            <p>Villas & Apartments with extra space & privacy</p>
                            <img src="~/Content/images/Home/img1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="top-box">
                        <a href="/property/search?propertytype=Flatmate&city=GN&locality=Gurgaon, Haryana&latitude=28.4594965&longitude=77.0266383">
                            <h3>Explore Flatmate</h3>
                            <p>Villas & Apartments with extra space & privacy</p>
                            <img src="~/Content/images/Home/img3.jpg" alt="">
                        </a>
                    </div>
                </div>

        <div class="col-md-6">
                <div class="top-box ads" onclick="openVoucherCode()">
                    <a href="/home/vouchercodelist" target="_blank">
                        <img src="~/Content/images/Home/img5.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                @if (CurrentUser.User != null && !string.IsNullOrEmpty(CurrentUser.User.UserId))
                {
                    <div class="top-box ads" onclick="shopNow()">
                        <a href="/home/eshopnow">
                            <img src="~/Content/images/Home/img6.png" alt="">
                        </a>
                    </div>
                }
                else
                {
                    <div class="top-box ads" onclick="showLoginPopUp()">
                        <a href="#" onclick="showLoginPopUp()">
                            <img src="~/Content/images/Home/img6.png" alt="">
                        </a>
                    </div>
                }

            </div>


    </div>
</div> -->
<!--
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/images/Home/img-3.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="mt-5 text-blue">PG for Boys in Gurgaon</h2>
            <p>
                We have 1000’s of quality verified pg’s in all over India for boys. We make a hassle free service for our customer with quality service support.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-5 text-orange">Pg For Girls in Gurgaon</h2>
            <p>
                When we talk about accommodation for girls, Security is our primary concern. We believe in delivering more secured places and a hassle free service to our customers.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/images/Home/img-2.png" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/images/Home/img-1.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="mt-5 text-blue">Coliving in Gurgaon</h2>
            <p>
                Community living or co-living is when a lot of people come together to share rental housing. Haltn provides them co-living experiences. More than 500 plus Buyers are currently staying with us.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-5 text-orange">PG Accommodation in India</h2>
            <p>
                We Advertise more than 3000 genuine flats, Rooms, Villas, Apartments etc. where you can schedule a visit by submitting your basic details. We offer our representatives also who helps you in finding a better accommodation.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/images/Home/img-3.png" alt="" class="img-fluid">
        </div>
    </div>

</div> -->
@*   <div class="enquiry-form-parent">
        <img src="~/Content/images/enquiry-form-btn.png" class="enquiry-form-btn" alt="enquiry">
        <div class="enquiry-form-top">
            @Html.Partial("_Quick_Enquiry_Form")
        </div>
    </div>
*@

@*   add this code start*@

<script>
    document.getElementById('btnLocalitySearch').addEventListener('click', function (event) {

        var city = document.getElementById('txtLocality').value;
        var cityError = document.getElementById('cityError');
        var txtLocality = document.getElementById('txtLocality');


        // Check if city is not empty
        if (city.trim() !== '') {
            cityError.textContent = ''; // Clear any previous error message
            filterClickEvent(1);
            // Redirect to another page with the city parameter
        } else {
            cityError.textContent = 'Please enter Location.';
            txtLocality.placeholder = '';
            event.preventDefault();

        }
    });

    // Button click hone par clicked class toggle karna
    document.getElementById('btnLocalitySearch').addEventListener('click', function () {
        this.classList.add('clicked'); // Add clicked class when button is clicked
    });


    // Input box par focus hone par error message ko hide karna
    document.getElementById('txtLocality').addEventListener('focus', function (event) {
        document.getElementById('cityError').textContent = ''; // Clear error message
    });
</script>

<script>
    document.querySelector('.clear-icon').addEventListener('click', function () {
        document.getElementById('txtLocality').value = ''; // Clear input box value when cross icon is clicked
    });
</script>


@*   add this code end*@

<script>
    $(document).ready(function () {
        $(".onclicklink").click(function () { window.location.href = $(this).children("h5").children("a").attr("href"); });
        $("#myslider").owlCarousel({
            margin: 0,
            nav: false,
            autoPlay: true,
            autoplayTimeout: 500,
            navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false,
                    loop: true
                }
            }
        });


        $(".owl-carousel").owlCarousel({
            margin: 10,
            nav: true,
            navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 3,
                    nav: false,
                    loop: true
                }
            }
        });
    });
</script>
<script>
    //selectCity
    $("#selectCity").change(function () {
        var cityName = $("#selectCity").val();
        console.log(cityName);
        initMap(cityName);
    });
</script>
<script>


    function initMap(cityName = "GN1") {
        var txtSearch = document.getElementById("txtLocality");
        var gurgaon = { swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };

        if (cityName == "GN") {
            var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat, gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
            var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch, { bounds: defaultBound, strictBounds: true });
        } else {
            var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch);
        }


        autocompleteFlat.addListener('place_changed', function () {
            var place = autocompleteFlat.getPlace();
            console.log(place);
            //console.log("Lat: " + place.geometry.location.lat());
            //console.log("Lng: " + place.geometry.location.lng());
            //console.log("Southwest: " + place.geometry.viewport.getSouthWest());
            //console.log("NorthEast: " + place.geometry.viewport.getNorthEast());
            $('#hdnLat').val(place.geometry.location.lat());
            $('#hdnLng').val(place.geometry.location.lng());
            $('#hdnLocality').val(place.formatted_address);
        });


        var txtSearch1 = document.getElementById("rtxtLocality");
        //var gurgaon = {swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };
        //var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat,gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
        //var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch, {bounds: defaultBound, strictBounds :true});
        var autocompleteFlat1 = new google.maps.places.Autocomplete(txtSearch1);

        autocompleteFlat1.addListener('place_changed', function () {
            var place = autocompleteFlat1.getPlace();
            //console.log(place);
            //console.log("Lat: " + place.geometry.location.lat());
            //console.log("Lng: " + place.geometry.location.lng());
            //console.log("Southwest: " + place.geometry.viewport.getSouthWest());
            //console.log("NorthEast: " + place.geometry.viewport.getNorthEast());
            $('#rhdnLat').val(place.geometry.location.lat());
            $('#rhdnLng').val(place.geometry.location.lng());
            $('#rhdnLocality').val(place.formatted_address);
        });

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@googleApiKey&libraries=places&region=in&callback=initMap" async defer></script>

<script>
    //setTimeout(function () {$(".enquiry-form-parent").addClass("active"); }, 5000);
    $(document).scroll(function () { if ($(document).scrollTop() > 480) { $("#siteHeader").css("background-color", "white"); $("#siteHeader").css("border-bottom", "1px solid #ccc"); $("#siteLogo").css("width", "104px"); } else { $("#siteHeader").css("background-color", "#fff"); $("#siteHeader").css("border-bottom", "0px"); $("#siteLogo").css("width", "104px"); } });
</script>


@section Scripts
{
    <script>

    function shopNow() {
        location.href = "/home/eshopnow";
    }

    function openVoucherCode() {
        window.open("/home/vouchercodelist", "_blank");
    }

    $(function () {

        $('body').on('click', '#flat', function () {
            $('#imgBanner').attr('src', '@webUrl/Content/images/flat-theme.jpg');
            $('.search-cart').hide(); $('#bedroom').show(); $('.allData').hide(); $('.flat').show();
            $('#search_tab_in .tab_pill').removeClass('currently'); $(this).addClass('currently'); var url = "@webUrl/flats-for-rent-in-gurgaon";
            window.history.pushState({ path: url }, '', url);
        });
        $('body').on('click', '#room', function () {
            $('#imgBanner').attr('src', '@webUrl/Content/images/room-theme.jpg');
            $('.search-cart').hide(); $('#roomType').show(); $('.allData').hide(); $('.room').show();
            $('#search_tab_in .tab_pill').removeClass('currently'); $(this).addClass('currently');
            var url = "@webUrl/room-for-rent-in-gurgaon";window.history.pushState({ path: url }, '', url);
        });
        $('body').on('click', '#flatmate', function () {
            $('#imgBanner').attr('src', '@webUrl/Content/images/flatmate-theme.jpg');
            $('.search-cart').hide(); $('#tenant').show(); $('.allData').hide(); $('.flatmate').show();
            $('#search_tab_in .tab_pill').removeClass('currently'); $(this).addClass('currently');
            var url = "@webUrl/flatmate-for-rent-in-gurgaon";window.history.pushState({ path: url }, '', url);
        });
        $('body').on('click', '#pg', function () {
            $('#imgBanner').attr('src', '@webUrl/Content/images/pg-theme.jpg');
            $('.search-cart').hide(); $('#tenant').show(); $('.allData').hide(); $('.pg').show();
            $('#search_tab_in .tab_pill').removeClass('currently'); $(this).addClass('currently');
            var url = "@webUrl/pg-for-rent-in-gurgaon";window.history.pushState({ path: url }, '', url);
        });
    });

    $(function () {
        $('.flBHKText').click(function () {
            $(this).parents('.multiTypeSelector').find('ul').toggle();
        })
        $('body').click(function () {
            $('.multiTypeSelector').find('ul').hide();
        });
        $('.flBHKText, .multiTypeSelector ul').click(function (e) {
            e.stopPropagation();
        });
    });
    $('#bedroom  input[type=checkbox]').on('change', function () {
        var values = '';
        $.each($('#bedroom  input:checked'), function (index, input) {
            if ($(this).is(':checked')) {
                if (values == "")
                    values = $(this).val().substr(0, $(this).val().length-3);
                else
                    values += ", " + $(this).val().substr(0, $(this).val().length - 3);
            }
        });

        if (values == "") {
            $('#bedroom').find('.flBHKText span').text('Any BHK');
        }
        else {
            $('#bedroom').find('.flBHKText span').text(values + ' BHK');
        }
    });

    $('#roomType  input[type=checkbox]').on('change', function () {
        var values = '';
        $.each($('#roomType input:checked'), function (index, input) {
            if ($(this).is(':checked')) {
                if (values == "")
                    values = $(this).val();
                else
                    values += ", " + $(this).val();
            }
        });

        if (values == "") {
            $('#roomType').find('.flBHKText span').text('Any Room');
        }
        else {
            $('#roomType .flBHKText').find('span').text(values)+"Room";
        }
    });

    $('#tenant  input[type=checkbox]').on('change', function () {
        var values = '';
        $.each($('#tenant  input:checked'), function (index, input) {
            if ($(this).is(':checked')) {
                if (values == "")
                    values = $(this).val();
                else
                    values += ", " + $(this).val();
            }
        });

        if (values == "") {
            $('#tenant').find('.flBHKText span').text('Any');
        }
        else {
            $('#tenant').find('.flBHKText span').text(values);
        }
    });

    $('#pg_tenant  input[type=checkbox]').on('change', function () {
        var values = '';
        $.each($('#pg_tenant  input:checked'), function (index, input) {
            if ($(this).is(':checked')) {
                if (values == "")
                    values = $(this).val();
                else
                    values += ", " + $(this).val();
            }
        });

        if (values == "") {
            $('#pg_tenant').find('.flBHKText span').text('Any');
        }
        else {
            $('#pg_tenant').find('.flBHKText span').text(values);
        }
    });

    flatCount();
    roomCount();
    pgCount();
    buyerCount();
    function flatCount(){
        var i = 0;
        setInterval(function(){
            if(i < 1858){
                $('.flatCount').html(i + '+');
                ++i;
            }
        });
    }
    function roomCount(){
        var i = 0;
        setInterval(function(){
            if(i < 1653){
                $('.roomCount').html(i + '+');
                ++i;
            }
        });
    }   
   function pgCount(){
        var i = 0;
        setInterval(function(){
            if(i < 1349){
                $('.pgCount').html(i + '+');
                ++i;
            }
        });
    }
    function buyerCount(){
        var i = 0;
        setInterval(function(){
            if(i < 986){
                $('.buyerCount').html(i + '+');
                ++i;
            }
        });
    }
    </script>
}
