﻿@using FH.Web.Security
@{
    var propertyType = ViewBag.propertyType;
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    if (Request.IsLocal)
    { webUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port; }

    var properties = ViewBag.properties;
    var googleApiKey = System.Configuration.ConfigurationManager.AppSettings["GooglePlaceApiKey"].ToString();
    var companyName = System.Configuration.ConfigurationManager.AppSettings["WebsiteName"];
    var companyMobile = System.Configuration.ConfigurationManager.AppSettings["CompanyPhone"];
}

<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=KantumruyPro">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<style>
    .top-box {
        width: 100%;
        max-height: 200px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(-90deg, black, transparent);
        margin-bottom: 30px;
    }

    .phone-circle svg {
        color: #4A148C;
        margin: 8px;
    }

    .top-box a {
        display: block;
        padding: 25px;
    }

        .top-box a:hover {
            text-decoration: none;
        }

    .top-box h3 {
        color: #fff;
    }

    .text-danger {
        color: #4527A0 !important;
    }

    .btn-primary-border {
        background: none !important;
        border: 2px solid #ffff !important;
        color: #ffff;
        padding: 2px 12px !important;
        font-size: 13px !important;
    }


    .top-box p {
        color: #fff;
    }

    .top-box img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.45s;
        transform: scale(1);
        z-index: -1;
    }

    .top-box:hover img {
        transform: scale(1.1);
    }

    .top-box.ads {
        background: none !important;
        height: 100px;
        /*box-shadow: 2px 4px 10px #273b454d;*/
    }

    .topbanerdiv {
        height: 212px;
        overflow-y: hidden;
        /*margin-top: -46px; */
    }


    #custom_nav li a {
        background-color: #fff;
        margin-left: 2px;
        border-radius: 5px 5px 0px 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    ul#custom_nav li a.active {
        background-color: #e11d1d;
        color: #fff;
    }

    .tab-pane1 {
        padding: 7px;
    }

    #overlay {
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 999;
        left: 0px;
    }

    header {
        border-bottom: 0px;
        z-index: 999999999;
    }


    .myProperties {
        border-radius: 5px;
        overflow: hidden;
    }

        .myProperties > div > a > h5 {
            height: 25px !important;
            font-family: ui-serif;
            margin-top: 10px;
        }

    .amenitiesDiv > div > div {
        background-color: #f3e5f5;
        border-radius: 5px;
        box-shadow: 3px 3px 0px 3px #9C27B0;
    }

    .amenitiesDiv > div div > svg {
        font-size: 70px;
        min-height: 85px;
        color: #9C27B0;
    }

    .amenitiesDiv > div div > label {
        font-family: ui-serif;
        font-size: 16px;
    }

    .amenitiesDiv > div div > i {
        min-height: 85px;
        color: #9C27B0;
        padding-top: 7px;
        font-size: 70px;
    }

    .partnerdiv {
        padding-top: 11px;
    }

    .row.amenitiesDiv > div {
        margin-bottom: 20px;
    }

    .top-btn {
        background: #9C27B0;
        transition: all 0.45s;
        border: 0px;
    }



    .box {
        margin-top: 6px;
        margin-bottom: 5px;
        font-size: 9px;
        padding-top: 4px;
        border-radius: 9px;
        color: black;
        height: 23px;
        background-color: #ffffff;
        opacity: 0.9;
    }

    .box1 {
        color: #85837f;
        padding: 5px;
        padding-top: 8px;
        border-radius: 4px;
        font-size: 10px;
        margin: 3px;
        height: 35px;
        width: auto;
        border: 1px solid #b5b0b0;
    }

        .box1:hover {
            font-size: 12px;
            color: #9C27B0;
            cursor: default;
        }

    img.card-img-top:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .box:hover {
        background-color: #9C27B0;
        color: white;
    }

    h5.loc {
        font-size: 12px;
        color: #ffff;
        margin-left: 55px;
        margin-top: -25px;
    }

    .input-group-append {
        margin-left: 17px;
    }


    .btn-primary:hover {
        border: 1px solid #9C27B0 !important;
        background: #ffffff !important;
        color: #9C27B0 !important;
    }

    a.btn.btn-primary:hover {
        color: #000000 !important;
    }


    .onclicklink > div {
        max-height: 100px;
        overflow: hidden;
        border-radius: 10px;
    }

    .owl-nav {
        font-size: 19px;
        display: flex;
        justify-content: center;
    }

    .col-sm-3.onclicklink {
        padding-left: 0px !important;
    }

    .col-sm-3.onclicklinkk {
        padding-left: 0px !important;
    }


    .owl-carousel .owl-nav button.owl-prev {
        padding: 6px !important;
    }

    .owl-carousel .owl-nav button.owl-next {
        padding: 6px !important;
    }

    button#btnLocalitySearch {
        margin-top: -78px;
    }

        button#btnLocalitySearch.clicked {
            margin-top: -78px;
        }

    span#cityError {
        font-weight: 600;
        font-size: 9px;
        margin-right: 12rem;
        position: relative;
        top: -33px
    }

    .input-group {
        position: relative;
    }


    element.style {
    }

    .clear-icon {
        position: absolute;
        margin-left: -34px;
        margin-top: -19px;
        color: #0000006b !important;
        transform: translateY(-50%);
        cursor: pointer;
        /* opacity: 0.5; */
        z-index: 99;
    } 
    .clear-icon:hover {
        opacity: 1;
    } 

    .btn-search.clicked {
        margin-top: -70px;
    }

    @@media screen and (max-width: 500px) and (min-width: 361px) {
        .clear-icon {
            margin-left: -5% !important;
        }
    }

    @@media screen and (max-width: 430px) and (min-width: 389px) {
 

    }

    .onclicklinkk > div {
        max-height: 100px;
        overflow: hidden;
        border-radius: 10px;
    }


    .ddd {
        margin-left: 0px;
        margin-right: 0px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: nowrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .cityCustom {
        /* margin-right: -6px; */
        color: #ffff;
        text-align: center;
        font-size: 12px;
    }

    h5.card-title.advance {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin-top: -28px;
        margin-bottom: .75rem;
        font-size: 12px;
        text-align: center;
    }

    .icon {
        padding: 4px;
        font-size: 20px;
    }

    i.fa-solid.fa-indian-rupee-sign.icon {
        padding-right: 11px;
    }

    i.fa-solid.fa-headset.icon {
        margin-left: -5px;
        padding-right: 8px;
    }

    .haltndesk {
        text-align: justify !important;
        font-size: 13px !important;
        line-height: 20px !important;
        color: #748383 !important;
        font-weight: 400;
    }
  
  
</style>




<div class="container-fluid" style="padding: 0px; overflow-x: hidden;">
    <div class="row Herosecction">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 blackblur" src="@webUrl/Content/images/homeBG1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 blackblur" src="@webUrl/Content/images/homeBG4.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 blackblur" src="@webUrl/Content/images/homeBG3.jpg" alt="Third slide">
                </div>
            </div>
            @*
                       <div class="container-fluid" style="padding: 0px; ">

                       <div class="topbanerdiv">
                           <div>
                               <div class="owl-carousel owl-theme" id="myslider" style="">
                                   <div class="item" style="">
                                       <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                                   </div>
                                   <div class="item" style="">
                                       <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                                   </div>
                                   <div class="item" style="">
                                       <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                                   </div>
                                   <div class="item" style="">
                                       <img src="@webUrl/Content/images/Rectangle 1 (8).png" class="img-fluid" id="" style=" width: 100%;">
                                   </div>
                               </div>
                </div>
                           </div>
            *@
        </div>
        <div id="overlay">
            <div>
                <div class="col-md-12 text-center box-div">
                    <div style="width: 100%; margin-left: auto; margin-right: auto;">
                        <div class="text-center text-white">

                        </div>
                        <ul class="nav nav-tabs " id="custom_nav">
                            @*                            <li class="active"><a data-toggle="tab" href="#pgs" class="active">PG's</a></li>
                                <li><a data-toggle="tab" href="#rooms">Room / 1RK</a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div id="pgs" class="tab-pane tab-pane1 fade in active show">
                                <form action="/property/search">
                                    <div class="input-group d-block">
                                        <div style="padding: 10px; margin-top: 20px;">
                                            <h1 style="line-height: 1.5rem;font-size: 16px; margin-bottom: 20px; color: #9C27B0; font-family: 'Libre Caslon Text', serif;">
                                                Find the best PG &amp; Rooms for you <br /> at Haltn Now
                                            </h1>
                                            @*<p style=" font-family: cursive; color: #ffff;  font-size: 9px !important; ">Indulge in the ultimate luxury of managed living at Haltn. From top-notch amenities to an exclusive community, we have everything you need to live in style.</p>*@



                                            @*  <select id="selectCity" class="form-control" style="border-radius: 0px;width:72%; border-top-left-radius: 10px; border-bottom-left-radius: 10px; height: 35px; padding-left: 5px; padding-right: 0px; ">
                <option value="GN"><a href="@webUrl/property/search?propertytype=PG&city=GN&locality=Gurgaon%2C+Haryana&latitude=28.4594965&longitude=77.0266383">Gurgaon</a></option
            </select>
                                            *@
                                            <input type="text" id="txtLocality" style=" margin-left: 0px; height: 28px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; width: 80%; padding-left: 25px; margin-bottom: 4px; font-size: 9px !important; font-family: Arial, FontAwesome " class="form-control" placeholder="&#xF002; Search  city....">
                                            <span id="cityError" style="color: red; "></span>
                                            <span class="clear-icon"><i class="fas fa-times"></i></span>
                                            <span class="input-group-append">
                                                <button class="btn btn-primary btn-search top-btn" style="height: 28px; font-size: 9px !important; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 78% !important; position: relative; top: 22px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; " id="btnLocalitySearch">Search</button>
                                            </span>
                                            <div class="row" style=" margin-top: 2px;">

                                                @* <div class="col-md-2 box">Noida</div>*@
                                            </div>
                                            <input type="hidden" name="propertytype" value="PG" />
                                            <input type="hidden" name="city" value="GN" />
                                            <input type="hidden" name="locality" id="hdnLocality" value="Gurgaon, Haryana" />
                                            <input type="hidden" name="latitude" id="hdnLat" value="28.4594965" />
                                            <input type="hidden" name="longitude" id="hdnLng" value="77.0266383" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            @* <div id="rooms" class="tab-pane tab-pane1 fade">
                                    <form action="/property/search">
                                        <div class="input-group">
                                            <input type="text" id="rtxtLocality" class="form-control" placeholder="Enter Your room Location">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary btn-search" id="btnLocalitySearch"><i class="fas fa-search"></i></button>
                                            </span>
                                            <input type="hidden" name="propertytype" value="room" />
                                            <input type="hidden" name="city" value="GN" />
                                            <input type="hidden" name="locality" id="rhdnLocality" value="Gurgaon, Haryana" />
                                            <input type="hidden" name="latitude" id="rhdnLat" value="28.4594965" />
                                            <input type="hidden" name="longitude" id="rhdnLng" value="77.0266383" />
                                        </div>
                                    </form>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="container" style=" margin-top: 40px;">
    @*    <h1 style="color: #9C27B0;font-size:21px; font-family: 'Libre Caslon Text', serif;text-align:center; margin-bottom: 24px;font-weight:600">Find Room/RK in your city</h1>
    *@
    <div class="owl-carousel">

        <div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 10rem;">
                    <img src="@webUrl/Content/images/colivingimg.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a href="#" style="color:#ffff">Coliving PG</a>
                </h5>
            </div>
        </div>

        <div>

            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 10rem;">
                    <img src="@webUrl/Content/images/girl.jpg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a href="#" style="color:#ffff">Girls PG</a>
                </h5>
            </div>
        </div>
        <div>
            <div class="col-sm-3 onclicklink">

                <div class="" style="width: 10rem;">
                    <img src="@webUrl/Content/images/boys.jpeg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a href="#" style="color:#ffff">Boys PG</a>
                </h5>
            </div>
        </div>

        <div>
            <div class="col-sm-3 onclicklink">
                <div class="" style="width: 10rem;">
                    <img src="@webUrl/Content/images/roomRK.jpg" class="card-img-top" alt="...">
                </div>
                <h5 class="loc">
                    <a href="#" style="color:#ffff">Room/RK</a>
                </h5>
            </div>
        </div>
    </div>
</div>
@* advanc*@

<div class="container">
    <h6 style="padding-bottom: 12px; color: #9C27B0; font-family: 'Libre Caslon Text', serif;">living Spaces for you</h6>
    <div class="row">
        <div class="col-sm-4 col-4">

            <div class="card" style="width: 6.4rem; border: none">
                <img src="@webUrl/Content/images/privateRoom.jpeg" class="card-img-top" alt="..." style=" height: 6rem; border-radius: 12px;">

                <h5 class="card-title advance">Private Room</h5>

            </div>

        </div>
        <div class="col-sm-4 col-4">
            <div class="card" style="width: 6.4rem; border: none; margin-left: -7px;">
                <img src="@webUrl/Content/images/twinRoom.jpeg" class="card-img-top" alt="..." style=" height: 6rem; border-radius: 12px;">

                <h5 class="card-title advance">Twin Sharing</h5>
            </div>

        </div>
        <div class="col-sm-4 col-4">
            <div class="card" style="width: 6.4rem; border: none; margin-left: -16px;">
                <img src="@webUrl/Content/images/food.jpeg" class="card-img-top" alt="..." style=" height: 6rem; border-radius: 12px;">

                <h5 class="card-title advance">Food Available</h5>
            </div>
        </div>

    </div>
</div>
<div class="container mt-4">
    <h6 style="padding-bottom: 12px; color: #9C27B0; font-family: 'Libre Caslon Text', serif;">Luxury & Affordable</h6>
    <div class="row">
        <div class="col-sm-4 col-4">

            <div class="card" style="width: 6rem; border: none">
                <img src="@webUrl/Content/images/lowCost.jpeg" class="card-img-top" alt="..." style=" height: 6rem;">

                <h5 class="card-title advance">Low Cost</h5>

            </div>

        </div>
        <div class="col-sm-4 col-4">
            <div class="card" style="width: 6rem; border:none">
                <img src="@webUrl/Content/images/affordable.jpeg" class="card-img-top" alt="..." style=" height: 6rem;">
                <h5 class="card-title advance">Affordable</h5>
            </div>

        </div>
        <div class="col-sm-4 col-4">
            <div class="card" style="width: 6rem; border: none">
                <img src="@webUrl/Content/images/luxury.jpeg" class="card-img-top" alt="..." style=" height: 6rem;">

                <h5 class="card-title advance">Luxury</h5>
            </div>
        </div>

    </div>
</div>


<div class="container mt-5">
    <h5 style="padding-bottom: 12px; color: #9C27B0;  font-family: 'Libre Caslon Text', serif;">Haltn Advantages</h5>
    <div class="row">
        <div class="col-sm-6 col-6">
            <p><i class="fa-solid fa-hand-holding-dollar icon"></i> Zero Booking Fee</p>
        </div>
        <div class="col-sm-6 col-6">
            <p><i class="fa-solid fa-indian-rupee-sign icon"></i> Exclusive Pricing</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-6">
            <p><i class="fa-solid fa-building-circle-check icon"></i> Verified Spaces</p>
        </div>
        <div class="col-sm-6 col-6">
            <p><i class="fa-solid fa-headset icon"></i> 100% Support</p>
        </div>
    </div>
</div>




<div class="container-fluid mt-3">
    <div class="card" style="width: 21rem; border: none">
        <img src="@webUrl/Content/images/officeboss.jpeg" class="card-img-top" alt="..." style=" height: 16rem;">
    </div>
    <h6 style="padding-bottom: 12px; text-align: center; color: #9C27B0; font-family: 'Libre Caslon Text', serif;">What's the Haltn Desk?</h6>
    <div class="row">
        <div class="col-sm-12 col-12">
            <p class="haltndesk">
                "Haltn helps you find the right rental space. Whether it's a room, a PG,
                or anything else, we are here to assist you every step of the way. With our expanding network,
                we are committed to creating a shared environment where SellerHatln community members can thrive and connect,
                reaching their highest potential.
            </p>
        </div>
    </div>
    @*    <h6>Coworking Office Spaces on Haltn</h6>
    *@  @*  <div class="row">
            <div class="col-sm-12 col-12">
                <p class="haltndesk">
                    Haltn offers 100,000+ coworking spaces for rent in 25+ cities of India. We have a
                    strong presence starting from - <a href="#">Gurgaon</a> <a href="#">Delhi</a> <a href="#">Noida</a>
                    <a href="#">Bangalore</a> <a href="#">Hyderabad</a> <a href="#">Pune</a>and more. Our spaces speak volumes of present-day amenities like quirky workspaces,
                    spacious meeting &amp; training rooms, uninterruptible wifi connection, strict CCTV surveillance, super
                    housekeeping, large pantry area, 24-hour power and water backup, ample parking space, recreational corners and most importantly
                    proper disinfection procedures have been taken care of in reply to the pandemic scenario. For an economical fee,
                    businesses/individuals can choose from a day pass for a day’s experience of our spaces. For longer durations,
                    there is the availability of hot desks, dedicated desks, private cabins, and managed offices.&nbsp;
                </p>
            </div>
        </div>*@

    @*<h6>Why Haltn</h6>*@
    @* <div class="row">
            <div class="col-sm-12 col-12">
                <p class="haltndesk">
                    Haltn truly understands all the pain points that one goes through in looking for the perfect coworking,
                    coliving or private office space. Thus, presenting to you our reliable spaces- a perfect blend of modern
                    lifestyle, cost-effectiveness, community interaction and convenience. Our current platform enables you to search,
                    book and experience according to your needs and preferences.
                </p>
                <p class="haltndesk">
                    We guarantee the best modern facilities for your smooth business operations. From vibrant workspaces, spacious
                    meeting rooms, daily housekeeping, seamless wifi connection, recreational corners, 24-hour power and water backup,
                    space for organising events, ample parking space, proximity to the nearest transport system and most chiefly all
                    safety measures have been kept in place during the ongoing pandemic scenario.&nbsp;
                </p>
            </div>
        </div>*@
</div>





@*<div class="container-fluid">
        <div class="row" style="margin-top:55px">
            <div class="col-sm-10 text-center">
                <img src="@webUrl/Content/images/image about.png" class="img-fluid" id="" style=" width: 86%; opacity: 0.8;">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-10 text-center" style=" ">
                        <h2 class="text-blue" style=" text-align: center; font-size:21px; padding-bottom: 14px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; font-weight: 600; margin-top: 20px; ">
                            We Know What You Want
                        </h2>
                        <p style="color: #85837f; text-align: center;font-size:10px !important; "> Indulge in the ultimate luxury of managed living at Haltn. From top-notch amenities to an exclusive community, we have everything you need to live in style.Indulge in the ultimate luxury of managed living at Haltn.</p><br />
                        <div class="row" style="margin-top: -23px;">
                            <div class="col-1"></div>
                            <div class="col-md-2 box1">Free Wifi</div>
                            <div class="col-md-4 box1">Fully Furnitured</div>
                            <div class="col-md-3 box1">Regular Cleaning</div>
                            <div class="col-md-1 box1">TV</div>
                            <div class="col-md-2 box1">Kitchen</div>
                        </div>
                        <div class="row" style="">
                            <div class="col-1"></div>
                            <div class="col-md-3 box1">Community</div>
                            <div class="col-md-3 box1">Flexible Lease</div>
                            <div class="col-md-3 box1">BreakFast</div>
                            <div class="col-md-3 box1">Free Parking</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@

@* auto carousel

    <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-blue" style="margin-left: auto; margin-right: auto; margin-top: 44px; font-size: 21px; font-weight: 600; padding-bottom: 10px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; ">Trusted by the world`s best</h2>
                </div>
            </div>
            <div class="row">

                    <div class="col-sm-8">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                @foreach (var property in properties)
                                {
                                    var detailLink = "/property/details/" + property.PropertyId + "/PG-In-" + (property.Locality);
                                    <div class="" style=" width: 85%; margin-left: auto; margin-right: auto;">
                                        <a href="@detailLink" style="color:#000;">
                                            <div class="carousel-item active">
                                                <img class="d-block" src="@webUrl/Content/images/Rectangle 12.png" style=" margin-left: 22px; width: 87% !important;" alt="First slide">
                                            </div>
                                            </a>
                                    </div>

                                }

                             </div>
                         </div>
                    </div>
                </div>
        </div>



                 end auto carousel*@




@*
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-blue" style="margin-left: auto; margin-right: auto; margin-top: 44px; font-size: 21px; font-weight: 600; padding-bottom: 10px; font-family: 'Libre Caslon Text', serif; color: #9C27B0; ">Trusted by the world`s best</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="owl-carousel owl-theme" style="">
                    @foreach (var property in properties)
                    {
                        var detailLink = "/property/details/" + property.PropertyId + "/PG-In-" + (property.Locality);
                        <div class="" style=" width: 85%; margin-left: auto; margin-right: auto;">
                            <span style="color:#000;">
                                <div class="myProperties">
                                    <div style=" overflow-y: hidden;">
                                        <img src="@property.ImageUrl" class="card-img-top" alt="...">

                                    </div>
                                    <div class="" style="margin-top: -45px; margin-bottom:5px;">
                                        <a href="@detailLink" id="" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn text-danger" style="border-radius: 5px; margin-left: 5px;color:#ffff !important; ">View Details</a>
                                        <a href="@detailLink" id="" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn text-danger" style="height: 39px; border-radius: 31px;color:#ffff !important; margin-left: 125px;  "><i class="fa-solid fa-phone-volume" style="padding-top: 9px;"></i></a>
                                    </div>
                                    <div style="padding-left: 10px; padding-right: 10px;">
                                        @{string title = property.Address;
                                            string CompanyName = property.CompanyName;}
                                        <h5 style=" font-family: 'Libre Caslon Text', serif; color: #9C27B0; font-size: 16px; font-weight: 600; "> @(title.Length > 40 ? title.Substring(0, 40) + ".." : title) </h5>
                                        <small style=" height: 50px;"> @(CompanyName.Length > 40 ? CompanyName.Substring(0, 40) + ".." : CompanyName) </small>

                                        <div class="row text-center" style="padding-bottom:5px;">
                                            <div class="col-sm-12  " style="  ">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="" style="margin-bottom: 5px; text-align: start; margin-top: -8px; "><small style="font-weight:400; font-size: 11px;">Deposit  @property.ExpectedDeposit/-</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12  " style="  ">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="" style=" margin-bottom: 5px; text-align: start; margin-top: -8px;"><small style="font-weight: 400;font-size:11px;">Room  @(string.IsNullOrEmpty(property.ApartmentType)?"NA": property.ApartmentType)</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12  " style="  ">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="" style=" margin-bottom: 5px; text-align: start; margin-top: -8px;"><small style="font-weight: 400; font-size: 11px;">Fooding  @(property.Bathrooms == 1 ? "Yes" : "No")</small></p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@

@*

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-blue" style=" margin-left: auto; margin-right: auto; padding-bottom: 14px; font-family: ui-serif; color: #4A148C; margin-top: 41px; ">
                        Amenities Included in Rent
                    </h2>
                </div>
            </div>
            <div class="row amenitiesDiv" style=" margin-left: auto; margin-right: auto;">
                <div class="col-sm-2 col-6 text-center" style="">
                    <div>
                  <img src="@webUrl/Content/images/Animities/1.png" style="width:100px;height:100px;" /> <br />
    <i class="fa fa-bed" aria-hidden="true"></i>
    <br />
    <label>Fully Furnished Room</label>
                </div>
            </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
                     <img src="@webUrl/Content/images/Animities/13.png" style="width:100px;height:100px;" /><br />
            <i class="fas fa-chair"></i>
            <label>Personal Work <br /> Desk</label>
        </div>
    </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
            <img src="@webUrl/Content/images/Animities/no-contact-hk.png" style="width:100px;height:100px;" /> <br />
            <i class="fas fa-spray-can"></i>
            <label>No-Contact Housekeeping</label>
        </div>
    </div>
    <div class="col-sm-2 col-6 text-center">
            <img src="@webUrl/Content/images/Animities/Professional-grade-sanitization.png" style="width:100px;height:100px;" /> <br />
        <div>
                           <i class="fas fa-hands-wash"></i>
            <i class="fa-solid fa-hands-bubbles"></i>
            <label>Professional-Grade Sanitization</label>
        </div>
    </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
                   <img src="@webUrl/Content/images/Animities/3-tire-security.png" style="width:100px;height:100px;" /> <br />
            <i class="fa-solid fa-person-military-rifle"></i> <br />
            <label>3-Tier <br /> Security</label>
        </div>
    </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
            <img src="@webUrl/Content/images/Animities/temp-check.png" style="width:100px;height:100px;" /> <br />
            <i class="fas fa-thermometer-half"></i> <br />
            <label>Temperature, Pulse & SpO2 checks</label>
        </div>
    </div>

    <div class="col-sm-2 col-6 text-center" style="">
        <div>
            <img src="@webUrl/Content/images/Animities/Doctor-On-Call.svg" style="width:100px;height:100px;" />
            <i class="fas fa-user-md"></i><br />
            <label>Online Doctor Consultation</label>
        </div>
    </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
                      <img src="@webUrl/Content/images/Animities/7.png" style="width:100px;height:100px;" />
            <i class="fa fa-wifi" aria-hidden="true"></i><br />
            <label>Superfast <br /> wifi</label>
        </div>
    </div>

    <div class="col-sm-2 col-6 text-center">
        <div>
            <img src="@webUrl/Content/images/Animities/61.png" style="width:100px;height:100px;" />
            <i class="fa fa-solid fa-refrigerator"></i></i><br />
            <label>Personal <br /> Refrigerator</label>
        </div>
    </div>

    <div class="col-sm-2 col-6 text-center">
        <div>
            <img src="@webUrl/Content/images/Animities/9.png" style="width:100px;height:100px;" />
            <i class="fas fa-washer"></i> <br />
            <label>Washing <br /> Machine</label>
        </div>

    </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
            <img src="@webUrl/Content/images/Animities/11.png" style="width:100px;height:100px;" />
            <i class="fa fa-tv"></i> <br />
            <label>Smart <br /> TV</label>
        </div>
    </div>
    <div class="col-sm-2 col-6 text-center">
        <div>
            @*<img src="@webUrl/Content/images/Animities/5.png" style="width:100px;height:100px;" />
                    <i class="fa fa-battery-full" aria-hidden="true"></i> <br />
                    <label>Power <br /> Backup</label>
                </div>
            </div>

            <div class="col-sm-2 col-6 text-center">
                <div>
                   <img src="@webUrl/Content/images/Animities/6.png" style="width:100px;height:100px;" />
                    <i class="fa fa-play" aria-hidden="true"></i> <br />
                    <label>Netflix, Amazon Prime Video subscription</label>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div>
                    <img src="@webUrl/Content/images/Animities/4.png" style="width:100px;height:100px;" />
                    <i class="fa fa-lock" aria-hidden="true"></i> <br />
                    <label>No-touch <br /> Smart locks for all Flats</label>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-sm-2 col-6 text-center">
                <div>
                    <img src="@webUrl/Content/images/Animities/10.png" style="width:100px;height:100px;" />
                    <i class="fa fa-user" aria-hidden="true"></i><br />
                    <label>On-ground Community Manager</label>
                </div>
            </div>
                </div>
            </div>
*@

@* <br />
    <br />
    <div class="container-fluid pt-5 pb-5" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%); border-radius: 9px; background-color: #f3e5f5; width: 90%; ">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <h1 class="text-blue" style="font-family: ui-serif; color: #4A148C;">Hygienic Living Environment. Hassle-free Experience</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="font-size: 20px !important; font-family: ui-serif; ">
                    Haltn is a  customized home rental  technology company. we  allows home seekers to  check real time images of
                    the property, in-depth  information about the  availability of the property  and then proceed for it,  schedule house visit and  finalize them.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
*@

@*<div class="container-fluid" style="background-color: #F3E5F5; border-radius: 4px;">
        <div class="row">
            <div class="col-sm-4 text-center pt-4" style="border-right: 2px solid #9C27B0; background-color: #9C27B0; color: #f3e5f5; ">
                <h1 class="text-blue" style=" padding-top: 0px; margin-top: -20px; vertical-align: top; color: #f3e5f5; font-family: ui-serif;">Our Partners</h1>
            </div>
            <div class="col-sm-2 col-6 text-center partnerdiv">
                <img src="https://drws17a9qx558.cloudfront.net/website/images/logo.png" style="width:100px;" />
            </div>
            <div class="col-sm-2 col-6 text-center partnerdiv">
                <img src="https://www.icicibank.com/assets/images/img/logo.png" style="width:100px;" />
            </div>
            <div class="col-sm-2 col-6 text-center partnerdiv">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/logo-4.png" style="width:100px;" />
            </div>
            <div class="col-sm-2 col-6 text-center partnerdiv">
                <img src="@webUrl/Content/images/amazon.png" style="width:100px;" />
            </div>
        </div>
    </div>*@

@*<div class="container pt-5">
        <div class="row text-center">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h5 class="text-blue" style="border-bottom: 3px solid #961d1d; margin-left: 30%; margin-right: 30%; padding-bottom: 10px;">Refer And Earn</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="@webUrl/content/images/referandearn.jpg" style="width:80%;" />
                    </div>
                    <div class="col-sm-6">
                        <p style=" ">Good things need to be shared. Invite your friends to enjoy better living at Telonestay and win unlimited cash credit! It’s possible because you can keep referring as many of your friends as you want. Every time your referred friend moves into Telonestay and pays the deposit and first month’s rent, you get cash credit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@*<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="text-blue text-center" style="border-bottom: 3px solid #961d1d; margin-left: 10%; margin-right: 10%; padding-bottom: 10px;">Stay Safe with our best facilitated PG's</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p style=" " class="text-center">In Telonestay we provide the best stay with hygienic food and No touch housekeeping. We have well trained staf to provide you the best services. We also provide you web managed stay services.</p>
            </div>
            <div class="col-sm-6">
                <img src="@webUrl/content/images/staySafeImg.png" style="width: 60%; margin-top: -20px; margin-left: 80px;" />
            </div>
        </div>
    </div>*@

@*<div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/Home/img-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="mt-5 text-blue">PG for Boys in Gurgaon</h2>
                <p>
                    We have 1000’s of quality verified pg’s in all over India for boys. We make a hassle free service for our customer with quality service support.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h5 class="mt-5 text-orange">Pg For Girls in Gurgaon</h5>
                <p>
                    When we talk about accommodation for girls, Security is our primary concern. We believe in delivering more secured places and a hassle free service to our customers.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Content/images/Home/img-2.png" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/Home/img-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h5 class="mt-5 text-blue">Coliving in Gurgaon</h5>
                <p>
                    Community living or co-living is when a lot of people come together to share rental housing. Telonestay provides them co-living experiences. More than 500 plus Buyers are currently staying with us.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h5 class="mt-5 text-orange">PG Accommodation in India</h5>
                <p>
                    We Advertise more than 3000 genuine flats, Rooms, Villas, Apartments etc. where you can schedule a visit by submitting your basic details. We offer our representatives also who helps you in finding a better accommodation.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Content/images/Home/img-3.png" alt="" class="img-fluid">
            </div>
        </div>

    </div>*@

@*<div class="m_slides bg-dark-gray pt-3 pb-3 why-choose-mobile-section">
        <div class="container">
            <div class="text-center"><h2 class="text-center title2_white"><span class="text-light-gray">Why Choose</span> <span class="text-white">@companyName</span></h2></div>
            <div class="clearfix"></div><br>
            <div id="why_choose" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#why_choose" data-slide-to="0" class="active"></li>
                    <li data-target="#why_choose" data-slide-to="1"></li>
                    <li data-target="#why_choose" data-slide-to="2"></li>
                    <li data-target="#why_choose" data-slide-to="3"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/chooseIcon1.png" alt="Why Choose @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Verified Properties</h5>
                                <p>We have 100's of verified properties in all over Gurgaon.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/chooseIcon2.png" alt="Why Choose @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Free Listing</h5>
                                <p>We offer free & easy listing to all our agent's & owner's.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/chooseIcon3.png" alt="Why Choose @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Finalise in one day</h5>
                                <p>Our verified and quality property option helps you to finalise your property in one day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/chooseIcon4.png" alt="Why Choose @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Hassle free move in</h5>
                                <p>We provide end to end solution for your hassle free move in.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="m_slides bg-dark-orange pt-3 pb-3 how-it-works-mobile-section">
        <div class="container">
            <div class="text-center"><h2 class="text-center title2_white">How It <span class="text-white">Works</span></h2></div>
            <div class="clearfix"></div><br>

            <div id="how_it_works" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#how_it_works" data-slide-to="0" class="active"></li>
                    <li data-target="#how_it_works" data-slide-to="1"></li>
                    <li data-target="#how_it_works" data-slide-to="2"></li>
                    <li data-target="#how_it_works" data-slide-to="3"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/workIcon1.png" alt="How to work @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Choose</h5>
                                <p>over our all verified properties within your budget.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/workIcon2.png" alt="How to work @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Browse & Shortlist</h5>
                                <p>Browse our verified properties & shortlist without visiting after exploring their photos & quality depth information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/workIcon3.png" alt="How to work @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Schedule Visit</h5>
                                <p>Make schedule visit as per your date and timing or you can contact us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/workIcon4.png" alt="How to work @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Relax & Shift</h5>
                                <p>Relax and shift to fully furnished home.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/Content/images/workIcon4.png" alt="How to work @companyName">
                            </div>
                            <div class="col-9">
                                <h5>Browse & Shortlist</h5>
                                <p>Browse our verified properties & shortlist without visiting after exploring their photos & quality depth information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="need_assistance">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h5>Need Assistance ? </h5>
                    <p>We are just a call away @companyMobile</p>
                </div>
                <div class="col-2">
                    <div class="phone-circle">
                        <a href="tel:@companyMobile"><i class="fa fa-phone"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>*@

<script>
    document.getElementById('btnLocalitySearch').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default button behavior

        var city = document.getElementById('txtLocality').value;
        var cityError = document.getElementById('cityError');
        var txtLocality = document.getElementById('txtLocality');
        var hdnLat = document.getElementById('hdnLat').value;
        var hdnLng = document.getElementById('hdnLng').value;

        // Check if city is not empty
        if (city.trim() !== '') {
            cityError.textContent = ''; // Clear any previous error message

            // Redirect to another page with the city parameter
            window.location.href = 'https://haltn.com/property/search?PropertyType=PG&city=GN&locality=' + encodeURIComponent(city) + '&Latitude=' + hdnLat + '&Longitude=' + hdnLng + "&PageIndex=1";
        } else {
            cityError.textContent = 'Please enter a city.';
            txtLocality.placeholder = '';

        }
    });


    // Button click hone par clicked class toggle karna
    document.getElementById('btnLocalitySearch').addEventListener('click', function () {
        this.classList.add('clicked'); // Add clicked class when button is clicked
        document.querySelector('.clear-icon').style.display = 'none'; // Show clear icon

    });


    // Input box par focus hone par error message ko hide karna
    document.getElementById('txtLocality').addEventListener('focus', function (event) {
        document.getElementById('cityError').textContent = ''; // Clear error message

        document.querySelector('.clear-icon').style.display = 'inline'; // Show clear icon

    });
</script>
<script>
    document.querySelector('.clear-icon').addEventListener('click', function () {
        document.getElementById('txtLocality').value = ''; // Clear input box value when cross icon is clicked
    });
</script>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            margin: 10,
            nav: true,
            navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        });
    });
</script>


<style>
    .nav-tabs {
        border-bottom: none;
    }
    .owl-carousel .nav-btn {
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 100px !important;
    }

    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled {
        pointer-events: none;
        opacity: 0.2;
    }


    .owl-carousel .next-slide {
        background: url('@webUrl/content/images/nav.png') no-repeat scroll -12px 0px;
        right: -12px;
        background-size: 28px 29px;
        width: 25px;
    }

    .owl-carousel .prev-slide {
        background: url('@webUrl/content/images/nav1.png') no-repeat scroll 0 0;
        left: 6px;
        background-size: 21px 30px;
        width: 12px;
    }

    .owl-carousel .prev-slide:hover {
        background-position: 0px -53px;
    }

    .owl-carousel .next-slide:hover {
        background-position: -24px -53px;
    }

    .owl-theme .owl-nav {
        margin-top: -25px !important;
    }
</style>


<script>
    //function initMap(cityName = "GN") {
    //    var txtSearch = document.getElementById("txtLocality");
    //    var options = {};

    //    if (cityName == "GN") {
    //        options = {
    //            types: ['geocode', 'establishment'], // Include geocode and establishment types
    //            componentRestrictions: { country: 'IN' } // Restrict results to India
    //        };
    //    }

    //    var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch, options);

    //    autocompleteFlat.addListener('place_changed', function () {
    //        var place = autocompleteFlat.getPlace();
    //        $('#hdnLat').val(place.geometry.location.lat());
    //        $('#hdnLng').val(place.geometry.location.lng());
    //        $('#hdnLocality').val(place.formatted_address);
    //    });


    //    var txtSearch1 = document.getElementById("rtxtLocality");
    //    var autocompleteFlat1 = new google.maps.places.Autocomplete(txtSearch1);

    //    autocompleteFlat1.addListener('place_changed', function () {
    //        var place = autocompleteFlat1.getPlace();
    //        $('#rhdnLat').val(place.geometry.location.lat());
    //        $('#rhdnLng').val(place.geometry.location.lng());
    //        $('#rhdnLocality').val(place.formatted_address);
    //    });
    //}

    function initMap() {
        var txtSearch = document.getElementById("txtLocality");
        var gurgaon = { swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };
        var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat, gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
        var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch, { bounds: defaultBound, strictBounds: false });
        var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch);

        autocompleteFlat.addListener('place_changed', function () {
            var place = autocompleteFlat.getPlace();
            //console.log(place);
            //console.log("Lat: " + place.geometry.location.lat());
            //console.log("Lng: " + place.geometry.location.lng());
            //console.log("Southwest: " + place.geometry.viewport.getSouthWest());
            //console.log("NorthEast: " + place.geometry.viewport.getNorthEast());
            $('#hdnLat').val(place.geometry.location.lat());
            $('#hdnLng').val(place.geometry.location.lng());
            $('#hdnLocality').val(place.formatted_address);
        });


        var txtSearch1 = document.getElementById("rtxtLocality");
        //var gurgaon = { swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };
        //var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat,gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
        //var autocompleteFlat = new google.maps.places.Autocomplete(txtSearch, { bounds: defaultBound, strictBounds :true});
        var autocompleteFlat1 = new google.maps.places.Autocomplete(txtSearch1);

        autocompleteFlat1.addListener('place_changed', function () {
            var place = autocompleteFlat1.getPlace();
            //console.log(place);
            //console.log("Lat: " + place.geometry.location.lat());
            //console.log("Lng: " + place.geometry.location.lng());
            //console.log("Southwest: " + place.geometry.viewport.getSouthWest());
            //console.log("NorthEast: " + place.geometry.viewport.getNorthEast());
            $('#rhdnLat').val(place.geometry.location.lat());
            $('#rhdnLng').val(place.geometry.location.lng());
            $('#rhdnLocality').val(place.formatted_address);
        });

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@googleApiKey&libraries=places&region=in&callback=initMap" async defer></script>


<script>
    $(".onclicklink").click(function () { window.location.href = $(this).children("h5").children("a").attr("href"); });

 $(document).ready(function(){
        $(".onclicklinkk").on("click", function(){
            var url = $(this).find("a").attr("href");
            window.location.href = url;
        });
    });



    function shopNow()
    {
        location.href = "/home/eshopnow";
    }

    function openVoucherCode() {
        location.href="/home/vouchercodelist";
    }
 $('.search-box-btn').click(function () {
        $('.search-box').addClass('active');
        $('html, body').addClass('overflow_hidden');
    });
$('#search_tab li').click(function(){
    $('#search_tab li').find('span').removeClass('currently');
    $(this).find('span').addClass('currently');
});
$('#search_tab_in li').click(function(){
    $('#search_tab_in li').find('span').removeClass('currently');
    $(this).find('span').addClass('currently');
});

$('.sbhk-type,.sroom-type,.stenant, .spg-tenant').click(function () {
    $(this).toggleClass('active');
});

$(function () {
    $('body').on('click', '#flat', function () {
        $('.allData').hide(); $('.flat').show();
        $('#searchBoxBody .search-propperty-info').hide();
        $('#city,#location,#bedroom').show();
        $('#search_tab_in li span').removeClass('currently');
        $('#search_tab_in li span[data-tab="flat"]').addClass('currently');
        var url = "@webUrl/flats-for-rent-in-gurgaon";
        window.history.pushState({ path: url }, '', url);
    });
    $('body').on('click', '#room', function () {
        $('.allData').hide(); $('.room').show();
        $('#searchBoxBody .search-propperty-info').hide();
        $('#city,#location,#room_type').show();
        $('#search_tab_in li span').removeClass('currently');
        $('#search_tab_in li span[data-tab="room"]').addClass('currently');
        var url ="@webUrl/room-for-rent-in-gurgaon";
        window.history.pushState({ path: url }, '', url);
    });
    $('body').on('click', '#flatmate', function () {
        $('.allData').hide(); $('.flatmate').show();
        $('#searchBoxBody .search-propperty-info').hide();
        $('#city,#location,#tenant').show();
        $('#search_tab_in li span').removeClass('currently');
        $('#search_tab_in li span[data-tab="flatmate"]').addClass('currently');
        var url ="@webUrl/flatmate-for-rent-in-gurgaon";
        window.history.pushState({ path: url }, '', url);
    });
    $('body').on('click', '#pg', function () {
        $('.allData').hide(); $('.pg').show();
        $('#searchBoxBody .search-propperty-info').hide();
        $('#city,#location,#pg_tenant').show();
        $('#search_tab_in li span').removeClass('currently');
        $('#search_tab_in li span[data-tab="pg"]').addClass('currently');
        var url ="@webUrl/pg-for-rent-in-gurgaon";
        window.history.pushState({ path: url }, '', url);
    });

    $('#search_tab_in li span').click(function () {
        if($(this).data('tab')=='flat')
        {
            $('#searchBoxBody .search-propperty-info').hide();
            $('#city,#location,#bedroom').show();
        }
        else if($(this).data('tab')=='flatmate')
        {
            $('#searchBoxBody .search-propperty-info').hide();
            $('#city, #location, #tenant').show();
        }
        else if($(this).data('tab') == 'room')
        {
            $('#searchBoxBody .search-propperty-info').hide();
            $('#city, #location, #room_type').show();
        }
        else if ($(this).data('tab') == 'pg') {
            $('#searchBoxBody .search-propperty-info').hide();
            $('#city, #location, #pg_tenant').show();
        }
    });
    $('#btnSearch111').click(function () {
        var city = $('#city option:selected').val();
        var locality = $('#txtLocality').val();
        var lat = $('#hdnLat').val();
        var lng = $('#hdnLng').val();
        var pType = $('#search_tab_in li').find('span.currently').data('tab');

        if (city == "" || city == undefined)
        {
            showError('City required.'); return false;
        }

        if (locality.trim() == "" || lat == "" || lng == "") {
            showError("Choose locality.");
            return false;
        }

        if(pType !="" && pType !=undefined)
        {
            pType=pType.trim().toLowerCase();
            if(pType=='flat')
            {
                if ($('.sbhk-type').hasClass('active') == true)
                {
                    var bhk = "";
                    $('.sbhk-type.active').each(function () {
                        if ($(this).data('key') != "" || $(this).data('key') != undefined) {
                            if (bhk == "")
                            { bhk = $(this).data('key') }
                            else
                            { bhk += "_" + $(this).data('key') }
                        }
                    });

                    if(bhk !="" || bhk !=undefined)
                        window.location.href = "/property/search?pType=flat&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng + "&bhkType=" + bhk;
                }
                else
                    window.location.href = "/property/search?pType=flat&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng;
            }

            if (pType == 'room') {
                if ($('.sroom-type').hasClass('active') == true) {
                    var roomType = "";
                    $('.sroom-type.active').each(function () {
                        if ($(this).data('key') != "" || $(this).data('key') != undefined) {
                            if (roomType == "")
                            { roomType = $(this).data('key') }
                            else
                            { roomType += "_" + $(this).data('key') }
                        }
                    });
                    if (roomType != "" || roomType != undefined)
                        window.location.href = "/property/search?pType=room&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng + "&roomType=" + roomType;
                }
                else
                    window.location.href = "/property/search?pType=room&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng;
            }

            if (pType == 'flatmate') {
                if ($('.stenant').hasClass('active') == true) {
                    var tenant = "";
                    $('.stenant.active').each(function () {
                        if ($(this).data('key') != "" || $(this).data('key') != undefined) {
                            if (tenant == "")
                            { tenant = $(this).data('key') }
                            else
                            { tenant += "_" + $(this).data('key') }
                        }
                    });
                    if (tenant != "" || tenant != undefined)
                        window.location.href = "/property/search?pType=flatmate&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng + "&gender=" + tenant;
                }
                else
                    window.location.href = "/property/search?pType=flatmate&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng;
            }

            if (pType == 'pg') {
                if ($('.spg-tenant').hasClass('active') == true) {
                    var tenant = "";
                    $('.spg-tenant.active').each(function () {
                        if ($(this).data('key') != "" || $(this).data('key') != undefined) {
                            if (tenant == "")
                            { tenant = $(this).data('key') }
                            else
                            { tenant += "_" + $(this).data('key') }
                        }
                    });
                    if (tenant != "" || tenant != undefined)
                        window.location.href = "/property/search?pType=pg&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng + "&gender=" + tenant;
                }
                else
                    window.location.href = "/property/search?pType=pg&city=" + city + "&locality=" + locality + "&lat=" + lat + "&lng=" + lng;
            }
        }
    });

})
</script>
<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.jss"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 2,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 4,
                nav: true,
                loop: true
            }
        }
    })
</script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
</script>
