﻿@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var companyName = System.Configuration.ConfigurationManager.AppSettings["WebsiteName"];
    ViewBag.Title = "About " + companyName;
    ViewBag.MetaDesc = "Know More About Telone and Search Flats for rent in Gurgaon, Room for rent in Gurgaon, PG in Gurgaon, Flatmate in Gurgaon and PG for girls in Gurgaon on " + companyName;
    ViewBag.MetaKeywords = "About " + companyName + " | flats for rent in gurgaon | room for rent in gurgaon | pg in gurgaon | flatmates in gurgaon";
}


@using FH.Web.Security
@{
    var propertyType = ViewBag.propertyType;
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    if (Request.IsLocal)
    { webUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port; }

    var properties = ViewBag.properties;


    var companyMobile = System.Configuration.ConfigurationManager.AppSettings["CompanyPhone"];
}



@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}


@* my code*@


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=KantumruyPro">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap" rel="stylesheet">

<style>
    .container-fluid.con {
        background: url('@webUrl/content/images/Group 64.png') no-repeat scroll -12px 0px;
    }
    .col-md-8.offset-md-2.text-center {
        margin-top: 8px;
    }
    #boxcallA {
        margin-left: 399px;
        color: white;
        border-radius: 21px;
        padding-top: 7px;
        margin-top: 42px;
        text-align: center;
        height: 37px;
        width: 136px;
        border: 1px solid #9C27B0 !important;
        background-color: #9C27B0;
    }
        #boxcallA:hover{
            color: #9C27B0 !important;
            border: 1px solid #9C27B0 !important;
            background: #ffffff !important;
        }
    .liH {
        list-style-type: none;
    }
    @@media only screen and (max-width: 3000px) and (min-width: 768px) {
        .whatWeDoAbout {
            display: none;
        }
    }

</style>
@*<div class="innerHeader">
        <div class="container">
            <h1 class="textWhite">About Us</h1>
        </div>
    </div>*@
<!-- our_mission begin here -->
@* for desktop *@
<div class="whatWeDo pt-4 pb-4">
    <div class="container-fluid con">
        <div class="row ml-3 p-5">
            <div class="col-md-10 " style="position: static; margin-top: 26px;">
                <ul style=" display: flex; list-style-type: none; ">
               @*     <li class="nav-item">
                        <a class="" href="@webUrl/Home/index" id="" aria-haspopup="true" aria-expanded="false" style="font-size:14px;color:black;">
                            Home
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" href="@webUrl/Home/Home" id="" aria-haspopup="true" aria-expanded="false" style="font-size:14px;margin-left:14px;  color:black;">
                            Property List
                        </a>
                    </li>*@
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 text-center" style="position:static;">

                <div>
                    <ul class="d-flex" style=" ">
                        <li class="liH" style="margin-left:42px;">
                            <img src="@webUrl/Content/images/Line 1.png" class="img-fluid" id="" style=" width: 65%;margin-left:46px;">

                        </li>
                        <li class="liH">
                            <h2 style="color: #9e23b0; margin-top: -13px; font-family: 'Libre Caslon Text', serif; text-align: center; font-size: 43px; margin-bottom: 60px; font-weight: 600; text-shadow: 1px 3px 5px #b5b5b5; "> About Us</h2>

                        </li>
                        <li class="liH">
                            <img src="@webUrl/Content/images/Line 4.png" class="img-fluid" id="" style=" margin-left: -10px; width: 65%;">

                        </li>
                    </ul>
                </div>



                @* <h2 class="title2">Welcome to <span class="text-orange" style="color: #9e23b0 "> @companyName</span></h2>*@
                <p> It’s a complete hassle free home renting system for every individual.</p>
                <img src="@webUrl/Content/images/AboutUs.png" class="img-fluid" id="" style=" width: 100%;">

                <div class="clearfix"></div><br>
                <p class="pt-2">
                    @companyName is a customized home rental technology company. We are integrating technology in real estate industry to simplify the way people rent Home,PG,Apartments and real estate. we allows home seekers to check real time images of the property, in-depth information about the availability of the property and then proceed for it, schedule house visit and finalize them.
                </p>
                <p>
                    It’s a complete hassle free home renting system for every individual.
                </p>
                <div style="font-size: 14px;">
                    <a class=" " href="@webUrl" id="" aria-haspopup="true" aria-expanded="false">
                        <div id="boxcallA">Learn More</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@* for mobile *@

<div class="whatWeDoAbout">
    <div class="container-fluid conA">
        <div class="row ">
            <div class="col-md-10 " style="position: static; margin-top: 13px;margin-left:-34px;">
                <ul style=" display: flex; list-style-type: none; ">
                    <li class="nav-item">
                  @*      <a class="" href="@webUrl/Home/index" id="" aria-haspopup="true" aria-expanded="false" style="font-size:14px;color:black;">
                            Home
                        </a>*@
                    </li>
                    <li class="nav-item ">
                  @*      <a class="" href="@webUrl/Home/Home" id="" aria-haspopup="true" aria-expanded="false" style="font-size:14px;margin-left:14px;  color:black;">
                            Property List
                        </a>*@
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 text-center" style="position:static;">

                <div>
                    <ul class="d-flex" style=" margin-left: -32px; ">
                        <li class="liH" style="">
                            <img src="@webUrl/Content/images/Line 1.png" class="img-fluid" id="" style=" width: 65%;">

                        </li>
                        <li class="liH">
                            <h2 style="color: #9e23b0; font-family: 'Libre Caslon Text', serif; text-align: center; font-size: 23px; margin-bottom: 30px; font-weight: 600; text-shadow: 1px 3px 5px #b5b5b5; "> About</h2>

                        </li>
                        <li class="liH">
                            <img src="@webUrl/Content/images/Line 4.png" class="img-fluid" id="" style=" width: 65%;">

                        </li>
                    </ul>
                </div>



                @* <h2 class="title2">Welcome to <span class="text-orange" style="color: #9e23b0 "> @companyName</span></h2>*@
                <p> It’s a complete hassle free home renting system for every individual.</p>
                <img src="@webUrl/Content/images/AboutUs.png" class="img-fluid" id="" style=" width: 100%;">

                <div class="clearfix"></div><br>
                <p class="pt-2">
                    @companyName is a customized home rental technology company. We are integrating technology in real estate industry to simplify the way people rent Home,PG,Apartments and real estate. we allows home seekers to check real time images of the property, in-depth information about the availability of the property and then proceed for it, schedule house visit and finalize them.
                </p>
                <p>
                    It’s a complete hassle free home renting system for every individual.
                </p>
                <div style="font-size: 14px;">
                    <a class=" " href="@webUrl" id="" aria-haspopup="true" aria-expanded="false">
                        <div id="boxcallA">Learn More</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    @@media only screen and (max-width: 768px) {

        .whatWeDo.pt-4.pb-4 {
            padding-top: 0px !important;
            display: none;
        }

        header .logo_brand img {
            width: 92px;
        }

        .phone-circle svg {
            color: #9e23b0;
        }

        div#boxcallA {
            margin-left: 91px;
            margin-bottom: 15px;
            margin-top: 32px;
        }
    }
</style>

@*my code end*@

@*<div class="innerHeader">
        <div class="container">
            <h1 class="textWhite">About Us</h1>
        </div>
    </div>*@
<!-- our_mission begin here -->
@*
    <div class="whatWeDo pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="title2">Welcome to <span class="text-orange" style="color: #9e23b0 "> @companyName</span></h2>
                    <div class="clearfix"></div><br>
                    <p class="pt-2">
                        @companyName is a customized home rental technology company. We are integrating technology in real estate industry to simplify the way people rent Home,PG,Apartments and real estate. we allows home seekers to check real time images of the property, in-depth information about the availability of the property and then proceed for it, schedule house visit and finalize them.
                    </p>
                    <p>
                        It’s a complete hassle free home renting system for every individual.
                    </p>
                </div>
            </div>
        </div>
    </div>*@
