﻿@{
    ViewBag.Title = "Buyer Manual";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}

<div class="innerHeader">
    <div class="container">
        <h1 class="textWhite">Buyer Guide Manual</h1>
    </div>
</div>
<div class="container mb-5">
    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>1. User Registration</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>
                    User can register with flathalt.com after click on my account button then click on register
                    option.
                </li>
                <li>Fill all relevant information and register with user type.</li>
                <li>
                    User will recieve OTP on given mobile number, Verify your Flathalt Account with 4 digit OTP.
                </li>
                <li>Now, User can login with their valid mobile and Password.</li>
            </ul>
            <img src="~/Content/images/user/1.jpg" alt="" class="img-fluid img-steps">
            <img src="~/Content/images/user/2.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>2. Profile Update</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>User can update their profile information from "My Profile" option.</li>
                <li>User can change their Name from Name option.</li>
                <li>User can change their email from email option.</li>
            </ul>
            <img src="~/Content/images/user/3.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>


    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>3. Search Property</h3>
        </div>
        <div class="step-body">
            <p class="font-weight-bold">User have to follow these steps:-</p>
            <ul class="step-details">
                <li>First User have to search the url flathalt.com</li>
                <li>Where user find out the search bar .</li>
                <li>
                    Select flat If user searching for Flat. Select location, BHK Type, City as shown in picture.
                </li>
            </ul>
            <img src="~/Content/images/user/4.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>
                    Select Room, If user searching for Room. Select Location, Room type and city as shown in
                    picture.
                </li>
            </ul>
            <img src="~/Content/images/user/5.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>
                    Select Flatmate, If user searching for Flatmate. Select Location, Flatmate Type and City as
                    shown in picture.
                </li>
            </ul>
            <img src="~/Content/images/user/6.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>
                    Select PG/Hostel, If user searching for PG/Hostel. Select Location, PG/Hostel Type and City as
                    shown in picture.
                </li>
            </ul>
            <img src="~/Content/images/user/7.jpg" alt="" class="img-fluid img-steps">


            <ul class="step-details">
                <li>Now, user are able to see all the properties related to their requirement.</li>
            </ul>
            <img src="~/Content/images/user/8.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>User can whishlist the property by click on heart button as shown in picture.</li>
                <li>
                    User can filter Apartment Type, BHK Type, Furnishing status, preferred tenant, facing, price
                    range according to their convenient.
                </li>
            </ul>
            <img src="~/Content/images/user/9.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>


    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>4. Schedule Visit for Property</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>User can schedule the visit by Click on “Schedule visit” as shown in picture.</li>
            </ul>
            <img src="~/Content/images/user/10.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>Select the “Day” and “Time” as shown in picture.</li>
            </ul>
            <img src="~/Content/images/user/11.jpg" alt="" class="img-fluid img-steps">
            <img src="~/Content/images/user/12.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">

                <li>Enter your mobile number Click on Next button to schedule visit.</li>
            </ul>
            <img src="~/Content/images/user/13.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>Now, User get the confirmation message.</li>
            </ul>
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>5. Contact for Property</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>User can contact us for property by click on "Contact" button as shown in below picture.</li>
            </ul>
            <img src="~/Content/images/user/14.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>6. Property Wishlist</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>User can whishlist the property by click on heart button as shown in picture.</li>
            </ul>
            <img src="~/Content/images/user/15.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>7. Forgot Password</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>By clicking on Logout button, User can session out from login.</li>
            </ul>
            <img src="~/Content/images/user/16.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>8. Logout</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>By clicking on logout button, User can session out from login.</li>
            </ul>
            <img src="~/Content/images/user/16.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>
</div>

