﻿@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var companyName = System.Configuration.ConfigurationManager.AppSettings["WebsiteName"];
    ViewBag.Title = "Covid Safe Pg " + companyName;
    ViewBag.MetaDesc = "Know More About Telone and Search Flats for rent in Gurgaon, Room for rent in Gurgaon, PG in Gurgaon, Flatmate in Gurgaon and PG for girls in Gurgaon on " + companyName;
    ViewBag.MetaKeywords = "Covid Safe Pg " + companyName + " | flats for rent in gurgaon | room for rent in gurgaon | pg in gurgaon | flatmates in gurgaon";
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    if (Request.IsLocal)
    { webUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port; }

}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}
@*<div class="innerHeader">
    <div class="container">
        <h1 class="textWhite">Covid Safe PG</h1>
    </div>
</div>*@
<!-- our_mission begin here -->
<div class="whatWeDo pt-4 pb-4" style=" background-image: url('@webUrl/content/images/staySafe.jpg'); height: 600px; background-size: 100% 600px; background-repeat: no-repeat; }">
    <div class="container">
        <div class="row"> 
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="title2">Welcome to <span class="text-orange"> @companyName</span></h2>
                <div class="clearfix"></div><br>
                <p class="pt-2" style=" font-size: 17px !important; font-weight: 600; }">
                    In Telonestay we provide the best stay with hygienic food and No touch housekeeping. We have well trained staf to provide you the best services. We also provide you web managed stay services.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

    </div>
</div>