﻿@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    ViewBag.Title = "FAQ";
    ViewBag.MetaDesc = "FAQ";
    ViewBag.MetaKeywords = "FAQ";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}
<style>
    header .logo_brand img {
        width: 92px;
    }

    .phone-circle svg {
        color: #9C27B0;
    }
    .innerHeader {
        margin-top: 86px;
    }

    header#siteHeader {
        z-index: 9999;
    }
</style>
<div class="innerHeader">
    <div class="container">
        <h1 class="textWhite">Frequently Asked Questions</h1>
    </div>
</div>

<div class="faq pt-5 pb-5">
    <div class="container container_boom">
        <div class="row">
            <div class="col-md-6">
                <h2>Buyer FAQ</h2>
                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How can a buyer register on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p class="highlight_text">Following steps are as:-</p>
                        <ol class="custom_list">
                            <li>
                                First of all click on <span class="highlight_text">My Account</span> that is given
                                on top.
                            </li>
                            <li> Click on <span class="highlight_text">register button</span>. </li>
                            <li>Fill information like Username, Mobile, Email & Password. </li>
                            <li> Choose the type of account as <span class="highlight_text">buyer</span>.</li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How much I have to pay to register on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p>
                            You don’t need to pay for registration, This is <span class="highlight_text">
                                absolutely
                                free
                            </span>.
                        </p>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How can I login to my account?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p>
                            Click on login button and enter your information mobile No, Password, press to login
                            button.
                        </p>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>Why buyer have to choose Haltn?</h4>

                        </div>
                    </div>
                    <div class="faq_body">
                        <ol class="custom_list">
                            <li>
                                We make sure that all the properties which are listed on our website go through a
                                proper screening process and hence, 100% verified.
                            </li>
                            <li>
                                The verified property options which are listed on our official website make it easy
                                for an individual to finalize a deal related to property in no time. But for the
                                help of our professionals, this would have been a hectic and time-consuming task.
                            </li>
                            <li>
                                Our professionals also make sure that you move-in to your new residence in a
                                hassle-free manner. You don't have to spend extra bucks in the maintenance of the
                                house.
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How do I search properties?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p class="highlight_text">buyer have to follow these steps:-</p>
                        <ol class="custom_list">
                            <li>First search the url Haltn.com</li>
                            <li>Where buyer find out the search bar, select flat / flatmate / PG.</li>
                            <li>Buyer have to type the location where he/she want to rent property .</li>
                            <li>If the buyer search type is Flat the enter the BHK type .</li>
                            <li>Enter City Location and then click on search.</li>
                            <li>Now, you are able to see all the properties related to your credentials.</li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How can I change my password?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <ol class="custom_list">
                            <li>You can click the forgot your password? Reset now .</li>
                            <li>Now , you can find out the link or OTP on Mobile No.</li>
                            <li>Enter your OTP.</li>
                            <li>Type your new password and save it.</li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>Who should I contact If I face any issues?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p>
                            We have a dedicated customer care service team, which is available at your service seven
                            days a week from 9:30 am to 7:30 pm. You can call them or email customer service.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <h2>Owner FAQ</h2>
                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How can owner register on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <ol class="custom_list">
                            <li>First of all click on <span class="highlight_text">My Account</span> that is given on top.</li>
                            <li>Click on <span class="highlight_text">register</span> button.</li>
                            <li>Fill information like Username, Mobile, Email & Password.</li>
                            <li>Choose the type of account as <span class="highlight_text">Owner</span>.</li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How much agent/owner have to pay to register on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p>Agent/Owner don’t need to pay for registration, this is <span class="highlight_text">absolutely free</span>.</p>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How can an agent/owner post a property on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p class="highlight_text">Agent/Owner has to follow following steps to post property:-</p>
                        <ol class="custom_list">
                            <li>First of all click on post property that is given on top.</li>
                            <li>Select property type & follow other steps.</li>
                            <li>Make sure you need to login to post any property.</li>
                            <li>Select Apartment type.</li>
                            <li>Select the BHK type.</li>
                            <li>Fill apartment Name.</li>
                            <li>Fill build up area in sq ft.</li>
                            <li>And fill all the information in the given form.</li>
                            <li>Provide locality details.</li>
                            <li>Fill up all the information </li>
                            <li>Add images related to the property.</li>
                            <li>Click the submit button.</li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>What are the benefits of enrolling as an agent/owner on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p class="highlight_text">To enroll with us you have following advantages:-</p>
                        <ol class="custom_list">
                            <li>We have thoroughly verified properties.</li>
                            <li> We make sure that the listing of offers on our website is free of cost.</li>
                            <li>Agent/Owner have no any software to maintain client follow up and inventory management.</li>
                        </ol>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How long is my property valid on Haltn?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p>Your property wills valid and visible till up to that property will be rent out. Agent/Owner don’t need to worry to refresh the listing.</p>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>How many properties can agent/owner post on our website?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p>Agent/Owner can post unlimited listings, depending on services that they have from Haltn</p>
                    </div>
                </div>

                <div class="faq_box">
                    <div class="faq_hd">
                        <div class="float-left">
                            <div class="faq_info_btn"><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="float-left faq-q">
                            <h4>After agent/owner posted the property, how will they know if anyone interested in their property?</h4>
                        </div>
                    </div>
                    <div class="faq_body">
                        <p class="highlight_text">If buyer will interest in the property then he/she will have to options:-</p>
                        <ol class="custom_list">
                            <li>First buyer can click on the button contacted then buyer gave the contact number , after that a sms received to buyer that our follow up team will contact them soon .</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.faq_hd').click(function () {
        $(this).next('.faq_body').slideToggle();
        if ($(this).find('svg').attr('data-icon') == 'minus')
            $(this).find('svg').attr('data-icon', 'plus');
        else
            $(this).find('svg').attr('data-icon', 'minus');
    });
</script>
