﻿@{
    ViewBag.Title = "Seller Manual";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}

<div class="innerHeader">
    <div class="container">
        <h1 class="textWhite">Seller Guide Manual</h1>
    </div>
</div>
<div class="container mb-5">
    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>1. Seller Registration</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>
                    Seller can register on Flathalt.com, First of all click on My Account that is given on top.
                </li>
                <li>Click on register button.</li>
                <li>Fill information like Username, Mobile, Email & Password.</li>
                <li>Choose the type of account as Seller.</li>
            </ul>
            <img src="~/Content/images/seller/1.jpg" alt="" class="img-fluid img-steps">
            <img src="~/Content/images/seller/2.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>2. Profile Update</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>Seller can update their profile info from “My profile” option.</li>
                <li>Seller can change their Name from Name option.</li>
                <li>Seller can change their email from email option.</li>
            </ul>
            <img src="~/Content/images/seller/3.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>Account details can not be changed, you have to contact to admin.</li>
            </ul>
            <img src="~/Content/images/seller/4.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>
                    Business details can be changed by entering new information like company Name, Owner Name,
                    Official email, Official address and GST No.
                </li>
                <li>After entering all relevant information, click on update button.</li>
            </ul>
            <img src="~/Content/images/seller/5.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>3. Post Property</h3>
        </div>
        <div class="step-body">

            <p class="font-weight-bold">Seller have to follow following steps :-</p>
            <ul class="step-details">
                <li>First of all click on post property that is given on top.</li>
            </ul>
            <img src="~/Content/images/seller/6.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>Select property type & follow other steps as shown in picture.</li>
                <li>Make sure you need to login to post any property.</li>
            </ul>
            <img src="~/Content/images/seller/7.jpg" alt="" class="img-fluid img-steps">

            <ul class="step-details">
                <li>Select Apartment type.</li>
                <li>Select the BHK type.</li>
                <li>Fill apartment Name.</li>
                <li>Fill build up area in sq ft.</li>
                <li>And fill all the information in the given form.</li>
            </ul>
            <img src="~/Content/images/seller/8.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>Provide locality details.</li>
                <li>Fill up all the information.</li>
                <li>Click the submit button.</li>
            </ul>
            <img src="~/Content/images/seller/9.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>Provide rental details about your property as shown in picture.</li>
                <li>Click on submit button.</li>
            </ul>
            <img src="~/Content/images/seller/10.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>Now, You get Upload photo gallery, click on “Add files” as shown in image.</li>
            </ul>
            <img src="~/Content/images/seller/11.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>Provide additional details about your property to get maximum visibilty.</li>
                <li>Click on submit button to post your property.</li>
            </ul>
            <img src="~/Content/images/seller/12.jpg" alt="" class="img-fluid img-steps">
            <img src="~/Content/images/seller/13.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header">
            <h3>4. My Properties</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>First Click on “My Properties” as shown in Image.</li>
            </ul>
            <img src="~/Content/images/seller/14.jpg" alt="" class="img-fluid img-steps">
            <div class="clearfix"></div><br>
            <p class="font-weight-bold">Here you will get four options as given below:-</p>
            <ul class="step-details">
                <li>Approved Properties </li>
                <li>Pending Properties </li>
                <li>Rent Out Properties </li>
                <li>Rejected Properties</li>
            </ul>
            <img src="~/Content/images/seller/15.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li> When you upload The Property first it needs approval from the admin side.</li>
                <li>
                    If the property fulfill our terms and conditions then Your posted property will be approved
                    from admin side And It will be shown in “Approved Properties”.
                </li>
                <li>
                    You can see the response of that property by click on “View Response” as shown in the image.
                </li>
            </ul>
            <img src="~/Content/images/seller/16.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>
                    If the property will be like by user and rented out then that property will be shown in “Rent
                    Out Properties”
                </li>
                <li>
                    If the property will not fulfill our terms and conditions then your posted property will be
                    rejected from admin side and It will be shown in “Rejected Properties”.
                </li>
                <li>
                    If the property not approved or not rejected by admin then that property will be shown in
                    “Pending Properties”.
                </li>
            </ul>
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>5. My Leads</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>You can see your leads by click on “My Leads”.</li>
            </ul>
            <img src="~/Content/images/seller/17.jpg" alt="" class="img-fluid img-steps">
            <ul class="step-details">
                <li>You can add a new lead by click on “Add New Lead”.</li>
                <li>Now, fill all the relevant information like name, mobile, email and client information.</li>
                <li>Click on submit button.</li>
                <li>Your lead will be added.</li>
            </ul>
        </div>
    </div>
    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>6. Today Visit</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>You can see your today visit by click on “Toady Visit” as shown in image.</li>
            </ul>
            <img src="~/Content/images/seller/18.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>
    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>7. Edit Property</h3>
        </div>
        <div class="step-body">
            <p class="font-weight-bold">Seller have to follow following steps :-</p>
            <ul class="step-details">
                <li>First you have to login From your registered mobile no and password.</li>
                <li>Go in “My Properties”.</li>
                <li>
                    Seller only edit the property until it will be approved , If the property will be approved
                    by an admin , an Seller can not edit the property.
                </li>
                <li>Seller edit the property from “Pending Properties”.</li>
                <li>Click on “Edit” button.</li>
                <li>Now, you will be able to edit all the options whatever You want to do edit.</li>
            </ul>
            <img src="~/Content/images/seller/21.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>8. Forgot Password</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>Seller can reset the password by click on “My Account” option login.</li>
                <li>Fill up the registered Mobile number and click on “Reset Now”.</li>
                <li>Enter new password and 4 digit OTP which Seller get on the registered mobile number.</li>
                <li>Click on reset password.</li>
            </ul>
            <img src="~/Content/images/seller/19.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

    <div class="step-content">
        <div class="step-header" id="patientRegistration">
            <h3>9. Logout</h3>
        </div>
        <div class="step-body">
            <ul class="step-details">
                <li>By clicking on logout button, Seller can session out from login.</li>
            </ul>
            <img src="~/Content/images/seller/20.jpg" alt="" class="img-fluid img-steps">
        </div>
    </div>

</div>
