﻿
@using FH.App.Entity;
@model IEnumerable<TenantMaster>

<div class="" style="width: 90%; margin-left: auto; margin-right: auto; margin-top:100px;">
    <div class="content-box pt-3">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="color: #9C27B0; font-size: 30px; font-family: 'Libre Caslon Text', serif; font-weight: 600;">My Tanent</h1>
            </div>
        </div>
        <div class="row">
            <div class="formDiv" style="width: 100%; background-color: #fff; box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%); margin-bottom: 15px; padding-left: 20px; padding-right: 20px; border-radius: 11px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Room No</label>
                            <input type="text" id="RoomNo" class="form-control RoomNo" value="" placeholder="Room no">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tenant Status</label>
                            <select id="TenantStatus" class="form-control TenantStatus">
                                @if (ViewBag.TenantStatus == 1)
                                {
                                    <option value="1" selected>Currently Stay</option>
 }
                                else
                                {
                                    <option value="1">Currently Stay</option>
}
                                @if (ViewBag.TenantStatus == 2)
                                {
                                    <option value="2" selected>Upcoming Checkin's</option>
 }
                                else
                                {
                                    <option value="2">Upcoming Checkin's</option>
}
                                @if (ViewBag.TenantStatus == 3)
                                {
                                    <option value="3" selected>Upcoming Checkout's</option>
 }
                                else
                                {
                                    <option value="3">Upcoming Checkout's</option>
}
                                @if (ViewBag.TenantStatus == 4)
                                {
                                    <option value="4" selected>Checkouted</option>
 }
                                else
                                {
                                    <option value="4">Checkouted</option>
}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Rent Status</label>
                        <select id="RentPaid" class="form-control RentPaid">
                            @if (ViewBag.RentPaid == 2)
                            {
                                <option value="2" selected>All</option>
 }
                            else
                            {
                                <option value="2">All</option>
}
                            @if (ViewBag.RentPaid == 1)
                            {
                                <option value="1" selected>Paid</option>
 }
                            else
                            {
                                <option value="1">Paid</option>
}
                            @if (ViewBag.RentPaid == 0)
                            {
                                <option value="0" selected>Not Paid</option>
 }
                            else
                            {
                                <option value="0">Not Paid</option>
}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button class="btn btn-block btn-primary btn-big" id="btnSearchFilterT" style="margin-top: 33px;">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table no-footer table-hover table-striped" id="myTable">
                    <thead>
                        <tr style="background-color: #ee2e24; color: #fff;">
                            <th>Tenant ID</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Check-In Date</th>
                            <th>Check-Out Date</th>
                            <th>Check-Out Request On</th>
                            <th>Room No.</th>
                            <th>Paid for Current Month</th>
                            <th>Rent</th>
                            <th>Security Pending</th>
                            <th style="min-width: 175px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var isCheckoutinLastMonth = ((item.CheckOutDate != null ? ((((DateTime)item.CheckOutDate).Month < DateTime.Now.Month && ((DateTime)item.CheckOutDate).Year <= DateTime.Now.Year) ? 1 : 0) : 0));
                                var isCheckininNextMonth = ((item.CheckInDate != null ? ((((DateTime)item.CheckInDate).Month > DateTime.Now.Month && ((DateTime)item.CheckInDate).Year >= DateTime.Now.Year) ? 1 : 0) : 0));

                                <tr>
                                    <td>@item.TenantId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Mobile</td>
                                    <td>@(item.CheckInDate != null ? ((DateTime)item.CheckInDate).ToString("dd MMM yyyy") : "")</td>
                                    <td>@(item.CheckOutDate != null ? ((DateTime)item.CheckOutDate).ToString("dd MMM yyyy") : "")</td>
                                    <td>@(item.UpdatedOn != null ? ((DateTime)item.UpdatedOn).ToString("dd MMM yyyy") : "")</td>
                                    <td>
                                        @if (item.RoomNo != 0)
                                        {@item.RoomNo}
                                    </td>
                                    <td>
                                        @if (isCheckininNextMonth != 1 && isCheckoutinLastMonth != 1)
                                        {
                                            if (item.RentPaid != 0)
                                            {<label style="color:green;">Paid</label>}
                                            else
                                            { <label style="color:red;">Not Paid</label>}
                                        }
                                    </td>
                                    <td>@item.MonthlyRent</td>
                                    @{ var SecurityPending = item.SecurityAmount - item.SecurityDeposit; }
                                    <td>
                                        @if (isCheckoutinLastMonth != 1)
                                        {
                                            if (SecurityPending == 0)
                                            {<span style="color:green;">Paid</span> }
                                            else
                                            {
                                                if (((DateTime)item.CheckInDate) < DateTime.Now)
                                                {
                                                    <span style="color:red;"> @SecurityPending </span>
                                                }
                                                else
                                                {
                                                    <span> @SecurityPending </span>
                                                }
                                            }
                                        }
                                    </td>
                                    @* <td>@item.IsActive</td>*@
                                    <td><button onclick="getTenantPaymentLog(@item.TenantId)" class="btn-primary btn-sm">Show History</button>@* &nbsp; <a href="/myTenant/EditTenant?TenantId=@item.TenantId" target="_blank" class="btn-primary btn-sm">Edit</a> *@</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    No Data Available
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<br />
<br />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<script>
    function getTenantPaymentLog(tId) {
        if (tId > 0) {
            $.get("/Sales/getTenantPaymentLog", { tenantId: tId }, function (data) {
                if (data.Success == false) {
                    showError("Something went wrong,Please try again.");
                    return;
                }
                else {
                    $('#tenantLogModel').remove();
                    $('body').append(data);
                    $('#tenantLogModel').modal('show');
                }
            });
        }
    }

    function closeModel() {
        $('#tenantLogModel').modal('hide');
        $('#tenantLogModel').remove();
    }
</script>


<script>
    $("#btnSearchFilterT").click(function () {
        debugger;
        var RoomNo = $("#RoomNo").val();
        var TenantStatus = $("#TenantStatus").val();
        var RentPaid = $("#RentPaid").val();
        var url = "http://localhost:1502/Sales/MyTanent?RoomNo=" + RoomNo + "&TenantStatus=" + TenantStatus + "&RentPaid=" + RentPaid;
        window.location.href = url;
    });
</script>