﻿
@using FH.App.Entity;
@using FH.App.Web.ViewModel
@model VMPaymentDetails

<style>
    .property_detail_title2:after {
        width: 0px;
    }

    div#ScopyLinkbtn {
        border: 1px solid #ccc;
        padding: 0px 0px 0px 0px;
        background-color: #c8c8c8;
        font-weight: 700;
    }

    div#copyLinkbtn {
        border: 1px solid #ccc;
        padding: 0px 0px 0px 0px;
        background-color: #c8c8c8;
        font-weight: 700;
    }
</style>

<div class="modal" id="tenantLogModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tenant Payment History</h4>
                <button type="button" class="close" onclick="closeModel()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">


                    @if (Model.TanentStayDetails != null)
                    {

                        <div class="search-list-box">
                            <div class="card">
                                <div class="row text-center">
                                    <div class="col-sm-2"></div>
                                    <div class="col-4 col-sm-4">
                                        <h2 class="property_detail_title2" id="RentFormShow">Collect Rent</h2>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <h2 class="property_detail_title2" id="SecFormShow">Collect Security</h2>
                                    </div>
                                </div>
                            </div><br />
                            <div class="card RentForm" style="display:none;">
                                <!--
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="property_detail_title2">Collect Rent</h2>
                                    </div>
                                </div> -->
                                <div class="row paytype rent">
                                    <div class="col-2 col-sm-4">
                                        <div class="form-group">
                                            <label>Rent</label>
                                            <input type="hidden" id="TenantId" value="@Model.TanentStayDetails.TenantId" class="form-control hidden" data-rent="@Model.TanentStayDetails.TenantId" readonly />
                                            <input type="text" id="rentAmount" value="@Model.TanentStayDetails.MonthlyRent" class="form-control" data-rent="@Model.TanentStayDetails.MonthlyRent" readonly />
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4">
                                        <div class="form-group">
                                            <label>From Date</label>
                                            <input type="text" id="rentForMonthStartDate" value="@Model.TanentStayDetails.FromDate.ToString("dd MMM yyyy")" class="form-control" placeholder="From Date" readonly />
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <input type="text" id="rentForMonthEndDate" value="@Model.TanentStayDetails.ToDate.ToString("dd MMM yyyy")" class="form-control" placeholder="To Date" readonly />
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <!-- <button id="CollectRent" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Collect Rent</button> -->
                                            <button id="CollectRentC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Collect Rent</button>
                                            <div id="copyLinkbtn">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            @if (@Model.TanentStayDetails.MonthlyRent > 0)
                                            {
                                                <button id="RSendPaymentLink" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block RSendPaymentLink">Send Payment Link</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card SecForm" style="display:none;">
                                <!--
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="property_detail_title2">Collect Security</h2>
                                    </div>
                                </div>
                                    -->
                                <div class="row paytype rent">
                                    <div class="col-2 col-sm-4">
                                        <div class="form-group">
                                            <label>Security Amount</label>
                                            <input type="number" id="SecurityAmountDue" value="@Model.TanentStayDetails.SecurityAmountDue" max="@Model.TanentStayDetails.SecurityAmountDue" class="form-control" data-rent="@Model.TanentStayDetails.SecurityAmountDue" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12"></div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <!-- <button id="CollectSecurity" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Collect Security</button> -->
                                            <button id="CollectSecurityC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Collect Security</button>
                                            <div id="ScopyLinkbtn">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            @if (@Model.TanentStayDetails.SecurityAmountDue > 0)
                                            {
                                                <button id="SSendPaymentLink" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block SSendPaymentLink">Send Payment Link</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    }


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>PaymentId</th>
                                <th>Amount</th>
                                <th>Payment Type</th>
                                <th>Rent Month</th>
                                <th>Payment Mode</th>
                                <th>Payment Date</th>
                                <th>Download Pay Slip</th> 
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.TenantPaymentHistory)
                                {
                                    <tr>
                                        <td>@item.PaymentId</td>
                                        <td>@item.DepositAmount</td>
                                        <td>@item.PaymentType</td>
                                        <td>
                                            @(item.RentForMonthStartDate != null && item.RentForMonthEndDate != null ? ((DateTime)item.RentForMonthStartDate).ToString("dd MMM yyyy") + "-" + ((DateTime)item.RentForMonthEndDate).ToString("dd MMM yyyy") : "")
                                        </td>
                                        <td>@item.PaymentMode</td>
                                        <td>@item.CreatedOn</td>
                                        <td>
                                                <a href="/Reception/DownloadInvoice?invoiceId=@item.PaymentId" class="btn btn-primary">Download</a>
                                            </td> 
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModel()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    //RentForm,SecForm
    $("#RentFormShow").click(function () {
        $(".RentForm").show();
        $(".SecForm").hide();
    });

    $("#SecFormShow").click(function () {
        $(".RentForm").hide();
        $(".SecForm").show();
    });

    $("#SecurityAmountDue").change(function () {

        var maximumVal = $(this).attr('max');
        maximumVal = parseFloat(maximumVal);
        var tvalue = $(this).val();
        tvalue = parseFloat(tvalue);
        maximumVal = maximumVal + 1;
        if (maximumVal <= tvalue) {
            console.log(tvalue);
            console.log(maximumVal);

            $(this).val((maximumVal - 1));
        }
    });




    //CollectSecurity payment code end

    $("#RSendPaymentLink").click(function () {
        var TenantId = $('#TenantId').val();
        var rentAmount = $('#rentAmount').val();
        var rentForMonthStartDate = $('#rentForMonthStartDate').val();
        var rentForMonthEndDate = $('#rentForMonthEndDate').val();
        if (rentAmount == 0) {
            showError("Already Paid");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': rentAmount,
                'rentForMonthStartDate': rentForMonthStartDate,
                'rentForMonthEndDate': rentForMonthEndDate
            };
            $.post('/Sales/RSendPaymentLink', data, function (res) {
                if (res.Success == true) {
                    showSuccessMessage("Link Send Successfully.");
                    $("#copyLinkbtn").html("https://telonestay.com/user/Pbl/"+res.Message);
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }
    });

    //send payment link for security
    $("#SSendPaymentLink").click(function () {
        var TenantId = $('#TenantId').val();
        var rentAmount = $('#SecurityAmountDue').val();
        if (rentAmount == 0) {
            showError("Already Paid");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': rentAmount
            };
            $.post('/Sales/SSendPaymentLink', data, function (res) {
                if (res.Success == true) {
                    showSuccessMessage("Link Send Successfully.");
                    $("#ScopyLinkbtn").html("https://telonestay.com/user/Pbl/" + res.Message);
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }
    });


</script>





<style>
    .form-control {
        border: 2px solid #ced4da;
        height: calc(1.5em + .75rem + 0px) !important;
    }

    .dv-list-item {
        line-height: 31px;
        padding: 0px 23px;
        border-radius: 0px;
    }
</style>

