﻿@using FH.App.Entity;
@using FH.App.Web.ViewModel
@model VMPaymentDetails


<style>
    .modal-dialog {
        position: relative;
        width: 100%;
        pointer-events: none;
    }

    .modal-header {
        border-radius: 0px;
    }

        .modal-header > button {
            font-size: 17px;
        }

    h4.modal-title {
        font-size: 13px;
    }

    .property_detail_title2:after {
        width: 0px;
    }

    div#ScopyLinkbtn {
        border: 1px solid #ccc;
        padding: 0px 0px 0px 0px;
        background-color: #c8c8c8;
        font-weight: 700;
    }

    div#copyLinkbtn {
        border: 1px solid #ccc;
        padding: 0px 0px 0px 0px;
        background-color: #c8c8c8;
        font-weight: 700;
    }
</style>

<div class="modal" id="tenantLogModel" style="display:block;">
    <div class="modal-dialog modal-xs" style="margin: 0px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tenant Payment History</h4>
                <button type="button" class="close" onclick="closeModel()" data-dismiss="modal"><i class="fa fa-arrow-left" aria-hidden="true"></i> </button>
            </div>
            <div class="modal-body" style="max-height: 566px; overflow-y: scroll;">
                <div class="table-responsive">


                    @if (Model.TanentStayDetails != null)
                    {
                        <div class="search-list-box">
                            <div class="card">
                                <div class="row text-center" style="padding: 2px;">
                                    <div class="col-sm-2 col-12"></div>
                                    <div class="col-6 col-sm-4">
                                        <h2 class="property_detail_title2" id="RentFormShow">Collect Rent</h2>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <h2 class="property_detail_title2" id="SecFormShow">Collect Security</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card RentForm" style="display: none; padding: 5px;">
                                <!--
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="property_detail_title2">Collect Rent</h2>
                                    </div>
                                </div> -->
                                <div class="row paytype rent">
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group">
                                            <label>Rent</label>
                                            <input type="hidden" id="TenantId" value="@Model.TanentStayDetails.TenantId" class="form-control hidden" data-rent="@Model.TanentStayDetails.TenantId" readonly />
                                            <input type="text" id="rentAmount" value="@Model.TanentStayDetails.MonthlyRent" class="form-control" data-rent="@Model.TanentStayDetails.MonthlyRent" readonly />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group">
                                            <label>From Date</label>
                                            <input type="text" id="rentForMonthStartDate" value="@Model.TanentStayDetails.FromDate.ToString("dd MMM yyyy")" class="form-control" placeholder="From Date" readonly />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <input type="text" id="rentForMonthEndDate" value="@Model.TanentStayDetails.ToDate.ToString("dd MMM yyyy")" class="form-control" placeholder="To Date" readonly />
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <!-- <button id="CollectRent" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Collect Rent</button> -->
                                            <button id="CollectRentC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Collect Rent</button>
                                            <div id="copyLinkbtn">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            @if (@Model.TanentStayDetails.MonthlyRent > 0)
                                            {
                                                @*<button id="GenrateRentQr" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block GenrateRentQr">Genrate QR</button>*@
                                                <button id="RSendPaymentLink" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block RSendPaymentLink">Send Payment Link</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card SecForm" style="display: none; padding: 5px;">
                                <!--
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="property_detail_title2">Collect Security</h2>
                                    </div>
                                </div>
                                    -->
                                <div class="row paytype rent">
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group">
                                            <label>Security Amount</label>
                                            <input type="number" id="SecurityAmountDue" value="@Model.TanentStayDetails.SecurityAmountDue" max="@Model.TanentStayDetails.SecurityAmountDue" class="form-control" data-rent="@Model.TanentStayDetails.SecurityAmountDue" />
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <!-- <button id="CollectSecurity" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Collect Security</button> -->
                                            <button id="CollectSecurityC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Collect Security</button>
                                            <div id="ScopyLinkbtn">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            @if (@Model.TanentStayDetails.SecurityAmountDue > 0)
                                            {
@*                                                <button id="GenrateSecurityQr" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block GenrateSecurityQr">Genrate QR</button>*@
                                                <button id="SSendPaymentLink" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block SSendPaymentLink">Send Payment Link</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="">
                        <div class="row">
                            <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                                @if (Model != null)
                                {
                                    foreach (var item in Model.TenantPaymentHistory)
                                    {
                                        <div class="search-list-box">
                                            <div class="card">
                                                <div class="card-body p-2" style="background-color:white;padding-bottom: 0px !important;">
                                                    <div class="row text-center border-b-1 m-0">
                                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                                            <p class="m-0 font-weight-bold">@item.PaymentId </p>
                                                            <p class="m-0"><small>Payment ID</small></p>
                                                        </div>
                                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                                            <p class="m-0">@item.DepositAmount</p>
                                                            <p class="m-0"><small>Amount</small></p>
                                                        </div>
                                                        <div class="col-4 pl-1 pr-1">
                                                            <p class="m-0">@item.PaymentType</p>
                                                            <p class="m-0"><small>Payment Type</small></p>
                                                        </div>
                                                    </div>
                                                    <div class="row text-center border-b-1 m-0">
                                                        <div class="col-4 pl-1 pr-1 border-r-1">
                                                            <p class="m-0">@(item.RentForMonthStartDate!=null?(Convert.ToDateTime(item.RentForMonthStartDate).ToString("dd MMM yyyy")):"NA")</p>
                                                            <p class="m-0"><small>Month</small></p>
                                                        </div>
                                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                                            <p class="m-0">@item.PaymentMode </p>
                                                            <p class="m-0"><small>Payment Mode</small></p>
                                                        </div>
                                                        <div class="col-4 pl-1 pr-1">
                                                            <p class="m-0">@item.CreatedOn</p>
                                                            <p class="m-0"><small>Payment Date</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="">
                                                    <ul class="property_btn_list dontOpen" style=" list-style-type: none; margin-bottom: 5px;">
                                                        @* <li>
                                                                <a href="/Reception/DownloadInvoice?invoiceId=@item.PaymentId" class="btn btn-primary">Download</a>
                                                            </li>*@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModel()">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="qr-html">
</div>




<script>
        function cancelPayment() {
            $("#qr-html").html("");
        }

        function varifyPayment(paymentId) {
            console.log(paymentId);
            var TenantId = $('#TenantId').val();
            var rentAmount = $('#rentAmount').val();
            var rentForMonthStartDate = $('#rentForMonthStartDate').val();
            var rentForMonthEndDate = $('#rentForMonthEndDate').val();

            if (rentAmount = 0) {
                showError("Already Paid");
            } else {
                var data = {
                    'TenantId': TenantId,
                    'rentAmount': rentAmount,
                    'rentForMonthStartDate': rentForMonthStartDate,
                    'rentForMonthEndDate': rentForMonthEndDate,
                    'paymentId': paymentId,
                };
                $.post('/Reception/checkPayment', data, function (res) {
                    $("#qr-html").html("");
                    if (res.Success == true) {
                        showSuccessMessage("Payment Updated Successfully.");
                    }
                    else
                        showError(res.Message);
                });
            }
        }
</script>

<style>
    .display-qr-code {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        background-color: #fff;
        padding: 15px;
        border-radius: 17px;
    }

    .qr-code-body {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 99999999999999999;
        background-color: #000000a3;
        height: 670px;
    }
</style>

<script>
        //RentForm,SecForm
        $("#RentFormShow").click(function () {
            $(".RentForm").show();
            $(".SecForm").hide();
        });

        $("#SecFormShow").click(function () {
            $(".RentForm").hide();
            $(".SecForm").show();
        });

        $("#SecurityAmountDue").change(function () {

            var maximumVal = $(this).attr('max');
            maximumVal = parseFloat(maximumVal);
            var tvalue = $(this).val();
            tvalue = parseFloat(tvalue);
            maximumVal = maximumVal + 1;
            if (maximumVal <= tvalue) {
                console.log(tvalue);
                console.log(maximumVal);

                $(this).val((maximumVal - 1));
            }
        });

        //CollectSecurity payment code start


        //CollectSecurity payment code end

        //
        $("#GenrateRentQr").click(function () {
            var TenantId = $('#TenantId').val();
            var rentAmount = $('#rentAmount').val();
            var rentForMonthStartDate = $('#rentForMonthStartDate').val();
            var rentForMonthEndDate = $('#rentForMonthEndDate').val();
            if (rentAmount = 0) {
                showError("Already Paid");
            } else {
                var data = {
                    'TenantId': TenantId,
                    'rentAmount': rentAmount,
                    'rentForMonthStartDate': rentForMonthStartDate,
                    'rentForMonthEndDate': rentForMonthEndDate
                };
                $.post('/Reception/GenrateRentQr', data, function (res) {
                    if (res.Success == true) {
                        showSuccessMessage("QR Genrated.");
                        var Data = JSON.parse(res.Data);
                        console.log(Data);
                        var html = '<div class="qr-code-body"> <div class="display-qr-code"> <div class="row"> <div class="col-sm-12"> <img src="data:image/png;base64,' + Data.image + '" style="width:100%;" /> <br />  </div> </div> <div class="row">  <div class="col-sm-6 col-6 text-center">  <button class="varifyPayment btn btn-primary" onclick="varifyPayment(' + Data.OrderId + ')">Check Status</button> </div> <div class="col-sm-6  col-6 text-center">  <button class="cancelPayment btn btn-primary" onclick="cancelPayment()">Cancel Payment</button>  </div>  </div>  </div> </div>';
                        $("#qr-html").html(html);
                        //redirect(res.Data);
                    }
                    else
                        showError(res.Message);
                });
            }
        });

        $("#GenrateSecurityQr").click(function () {
            var TenantId = $('#TenantId').val();
            var DepositAmount = $('#SecurityAmountDue').val();
            if (DepositAmount == 0) {
                showError("Already Paid");
            } else {
                var data = {
                    'TenantId': TenantId,
                    'DepositAmount': DepositAmount,
                };
                $.post('/Reception/GenrateSRentQr', data, function (res) {
                    if (res.Success == true) {
                        showSuccessMessage("QR Genrated.");
                        var Data = JSON.parse(res.Data);
                        console.log(Data);
                        var html = '<div class="qr-code-body"> <div class="display-qr-code"> <div class="row"> <div class="col-sm-12"> <img src="data:image/png;base64,' + Data.image + '" style="width:100%;" /> <br />  </div> </div> <div class="row">  <div class="col-sm-6 col-6 text-center">  <button class="varifyPayment btn btn-primary" onclick="varifyPayment(' + Data.OrderId + ')">Check Status</button> </div> <div class="col-sm-6  col-6 text-center">  <button class="cancelPayment btn btn-primary" onclick="cancelPayment()">Cancel Payment</button>  </div>  </div>  </div> </div>';
                        $("#qr-html").html(html);
                        //redirect(res.Data);
                    }
                    else
                        showError(res.Message);
                });
            }
        });


        $("#RSendPaymentLink").click(function () {
            var TenantId = $('#TenantId').val();
            var rentAmount = $('#rentAmount').val();
            var rentForMonthStartDate = $('#rentForMonthStartDate').val();
            var rentForMonthEndDate = $('#rentForMonthEndDate').val();
            if (rentAmount == 0) {
                showError("Already Paid");
            } else {
                var data = {
                    'TenantId': TenantId,
                    'rentAmount': rentAmount,
                    'rentForMonthStartDate': rentForMonthStartDate,
                    'rentForMonthEndDate': rentForMonthEndDate
                };
                $.post('/Sales/RSendPaymentLink', data, function (res) {
                    if (res.Success == true) {
                        showSuccessMessage("Link Send Successfully.");
                        $("#copyLinkbtn").html("https://telonestay.com/user/Pbl/" + res.Message);
                        //redirect(res.Data);
                    }
                    else
                        showError(res.Message);
                });
            }
        });

        //send payment link for security
        $("#SSendPaymentLink").click(function () {
            var TenantId = $('#TenantId').val();
            var rentAmount = $('#SecurityAmountDue').val();
            if (rentAmount == 0) {
                showError("Already Paid");
            } else {
                var data = {
                    'TenantId': TenantId,
                    'rentAmount': rentAmount
                };
                $.post('/Sales/SSendPaymentLink', data, function (res) {
                    if (res.Success == true) {
                        showSuccessMessage("Link Send Successfully.");
                        $("#ScopyLinkbtn").html("https://telonestay.com/user/Pbl/" + res.Message);
                        //redirect(res.Data);
                    }
                    else
                        showError(res.Message);
                });
            }
        });

</script>





<style>
    .form-control {
        border: 2px solid #ced4da;
        height: calc(1.5em + .75rem + 0px) !important;
    }

    .dv-list-item {
        line-height: 31px;
        padding: 0px 23px;
        border-radius: 0px;
    }
</style>

