﻿@using FH.App.Entity;
@model IEnumerable<TenantMaster>
@{
    ViewBag.Title = "MyTanent";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
    
}
else
{
    @Html.Partial("_PartialHeader")
 
}
<h2>You Are Not Authorised User</h2>