﻿
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    ViewBag.Title = "Property Map";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var isMobile = Request.Browser.IsMobileDevice;
}

@if (isMobile)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}


@{var agentUrl = System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];
    var webUrl = "";
    if (!Request.IsLocal)
    { webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"]; }
}
<style>
    .container.mapDetailBox > div > div {
        padding-left: 2px;
        padding-right: 2px;
        border: 1px solid #b1b1b1;
    }

    .container.mapDetailBox {
        text-align: center;
        background-color: #fff;
        width: 95%;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
        margin-bottom: 9px;
        position: absolute;
        top: 95px;
        left: 10px;
    }

    .chOptions {
        border-radius: 14px;
        padding: 2px 3px;
        font-size: 17px;
        padding-bottom: 7px;
        border: 1px solid #f00;
        color: #f00;
    }

    .bgActive {
        color: #fff;
        background-color: #f00;
    }

    td {
        padding: 0px !important;
    }

        td > label {
            margin-bottom: 0px;
        }
</style>

@{
    double inhouse = 0;
    double vacant = 0;
    double checkins = 0;
    double checkouts = 0;
}

<div class="wrapper wrapper-content">
    <h3 class="text-center" style="font-family: math; margin-top: 10px; color: #ee2e24; font-weight: bolder;">
        Property Map for
        <select id="PropertyId" class="btn" style=" font-size: 27px; border-radius: 0px; padding-left: 0px; margin-top: -6px; color: #ee2e24; font-weight: bolder;">
            @foreach (var item in Model.PropertyList)
            {
                if (Model.Pid.ToString() == item.PropertyId)
                {
                    <option value="@item.PropertyId" selected>@item.PropertyId</option>
 }
                else
                {
                    <option value="@item.PropertyId"> @item.PropertyId </option>
}
            }
        </select>
    </h3>

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="container" id="mapContainer" style="margin-top: 100px; margin-bottom: 10px; width: 95%;">
                <div class="row">
                    @if (Model != null && Model.PGRoomData != null)
                    {
                        foreach (var item in Model.PGRoomData)
                        {
                            <div class="col-2 col-sm-1" style="    background-color: #ebebebe0;  border: 1px solid #cececec4;">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="text-center"> @item.RoomNo </h5>
                                    </div>
                                </div>

                                @if (item.RoomTenantDetails != null && item.Occupancy != 0)
                                {
                                    var TenantDetails = JsonConvert.DeserializeObject<Object>(item.RoomTenantDetails);

                                    if (item.Occupancy == 0.5)
                                    {
                                        vacant = vacant + 0.5;
                                        if (TenantDetails["1"]["CheckInStatus"] == 1)
                                        {
                                            checkins = checkins + 0.5;
                                            <div class="row">
                                                <div class="col-6 col-sm-6" style="height: 10px; background-color: #ffd800; padding-left: 10px;"> </div>
                                                <div class="col-6 col-sm-6" style="height: 10px;  background-color: #fff; padding-right: 10px;"> </div>
                                            </div>
                                        }
                                        else if (TenantDetails["1"]["CheckOutStatus"] == 1)
                                        {
                                            checkouts = checkouts + 0.5;
                                            inhouse = inhouse + 0.5;
                                            <div class="row">
                                                <div class="col-6 col-sm-6" style="height: 10px; background-color: #f00; padding-left: 10px;"> </div>
                                                <div class="col-6 col-sm-6" style="height: 10px;  background-color: #fff; padding-right: 10px;"> </div>
                                            </div>
                                        }
                                        else
                                        {
                                            inhouse = inhouse + 0.5;
                                            <div class="row">
                                                <div class="col-6 col-sm-6" style="height: 10px;  background-color: green; padding-left: 10px;"> </div>
                                                <div class="col-6 col-sm-6" style="height: 10px;  background-color: #fff; padding-right: 10px;"> </div>
                                            </div>
                                        }
                                    }
                                    else if (item.Occupancy >= 1)
                                    {
                                        if (item.Person == 1)
                                        {
                                            if (TenantDetails["1"]["CheckInStatus"] == 1)
                                            {
                                                checkins = checkins + 1;
                                                <div class="row">
                                                    <div class="col-12 col-sm-12" style="height: 10px; background-color: #ffd800; padding-left: 10px;"></div>
                                                </div>
                                            }
                                            else if (TenantDetails["1"]["CheckOutStatus"] == 1)
                                            {
                                                checkouts = checkouts + 1;
                                                inhouse = inhouse + 1;
                                                <div class="row">
                                                    <div class="col-12 col-sm-12" style="height: 10px; background-color: #f00; padding-left: 10px;"></div>
                                                </div>
                                            }
                                            else
                                            {
                                                inhouse = inhouse + 1;
                                                <div class="row">
                                                    <div class="col-12 col-sm-12" style="height: 10px;  background-color: green;  padding-left: 10px;"></div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="row">
                                                @if (TenantDetails["1"]["CheckInStatus"] == 1)
                                                {
                                                    checkins = checkins + 0.5;
                                                    <div class="col-6 col-sm-6" style="height: 10px; background-color: #ffd800; padding-left: 10px; border-right: 1px solid #cececec4;"></div>
                                                }
                                                else if (TenantDetails["1"]["CheckOutStatus"] == 1)
                                                {
                                                    checkouts = checkouts + 0.5;
                                                    inhouse = inhouse + 0.5;
                                                    <div class="col-6 col-sm-6" style="height: 10px; background-color: #f00; padding-left: 10px; border-right: 1px solid #cececec4;"></div>
                                                }
                                                else
                                                {
                                                    inhouse = inhouse + 0.5;
                                                    <div class="col-6 col-sm-6" style="height: 10px;  background-color: green;  padding-left: 10px; border-right:1px solid #cececec4;"></div>
                                                }
                                                @if (TenantDetails["2"]["CheckInStatus"] == 1)
                                                {
                                                    checkins = checkins + 0.5;
                                                    <div class="col-6 col-sm-6" style="height: 10px; background-color: #ffd800; padding-left: 10px; border-right: 1px solid #cececec4;"></div>
                                                }
                                                else if (TenantDetails["2"]["CheckOutStatus"] == 1)
                                                {
                                                    checkouts = checkouts + 0.5;
                                                    inhouse = inhouse + 0.5;
                                                    <div class="col-6 col-sm-6" style="height: 10px; background-color: #f00; padding-left: 10px; border-right: 1px solid #cececec4;"></div>
                                                }
                                                else
                                                {
                                                    inhouse = inhouse + 0.5;
                                                    <div class="col-6 col-sm-6" style="height: 10px;  background-color: green;  padding-left: 10px; border-right:1px solid #cececec4;"></div>
                                                }
                                            </div>
                                        }
                                    }

                                }
                                else
                                {
                                    vacant = vacant + 1;
                                    <div class="row">
                                        <div class="col-6 col-sm-6" style="height: 10px;  background-color: #fff;  padding-left: 10px; border-right:1px solid #cececec4;"> </div>
                                        <div class="col-6 col-sm-6" style="height: 10px;  background-color: #fff; padding-right: 10px;"> </div>
                                    </div>
                                }

                            </div>
                        }
                    }
                </div>
            </div>
            <div class="container mapDetailBox">
                <div class="row">
                    <div class="col-3" style="color:green;">
                        <label>In House</label>
                    </div>
                    <div class="col-3" style="color:#000000;">
                        <label>Vacant</label>
                    </div>
                    <div class="col-3" style="color: #ffd800; ">
                        <label>Checkins</label>
                    </div>
                    <div class="col-3" style="color: #f00;">
                        <label>CheckOuts</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" style="color:green;">
                        <label>@inhouse</label>
                    </div>
                    <div class="col-3" style="color: #000000;">
                        <label>@vacant</label>
                    </div>
                    <div class="col-3" style="color: #ffd800;">
                        <label>@checkins</label>
                    </div>
                    <div class="col-3" style="color: #f00;">
                        <label>@checkouts</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="color:#000;">
                        <small>This is couting of No. of Rooms.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="container" style="margin-top: 100px; margin-bottom: 10px; width: 95%;">
                <div class="row">
                    @if (Model != null && Model.PGRoomData != null)
                    {
                        if (Request.Browser.IsMobileDevice)
                        {
                            <div class="col-sm-12">
                                <div class="row text-center">
                                    <div class="col-6">
                                        <h4 class="chOptions" id="showCheckins">Checkin List</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="chOptions" id="showCheckouts">Checkout List</h4>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-sm-6 checkincheckouts" id="checkoutContainer">
                            <h4 class="text-center listheadings ">Check Out List</h4>
                            <table class="table mytable" style=" font-size: 10px;">
                                <thead>
                                    <tr>
                                        <td>
                                            <label class="text-center"> Room </label>
                                        </td>
                                        <td>
                                            <label class="text-center"> Name</label>
                                        </td>
                                        <td>
                                            <label class="text-center"> Date</label>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody class="dateTable">
                                    @foreach (var item in Model.PGRoomData)
                                    {
                                        if (item.RoomTenantDetails != null && item.Occupancy != 0)
                                        {
                                            var TenantDetails = JsonConvert.DeserializeObject<Object>(item.RoomTenantDetails);
                                            if (item.Person == 1)
                                            {
                                                if (TenantDetails["1"]["CheckOutStatus"] == 1)
                                                {
                                                    <tr class="checkinbox" data="@TenantDetails["1"]["CheckOutDate"]">
                                                        <td>
                                                            <label class="text-center">
                                                                @item.RoomNo @if (TenantDetails["1"]["SharingCount"] == 1)
                                                                {<label> (Private)</label> }
                                                                else
                                                                { <label> (Sharing)</label>}
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="text-center"> @TenantDetails["1"]["Name"] </label>
                                                        </td>
                                                        <td>
                                                            @(TenantDetails["1"]["CheckOutDate"] != null ? ((DateTime)TenantDetails["1"]["CheckOutDate"]).ToString("dd-MM-yyyy") : "")
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                if (TenantDetails["1"]["CheckOutStatus"] == 1)
                                                {
                                                    <tr class="checkinbox" data="@TenantDetails["1"]["CheckOutDate"]">
                                                        <td>
                                                            <label class="text-center">
                                                                @item.RoomNo @if (TenantDetails["1"]["SharingCount"] == 1)
                                                                {<label> (Private)</label> }
                                                                else
                                                                { <label> (Sharing)</label>}
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="text-center"> @TenantDetails["1"]["Name"] </label>
                                                        </td>
                                                        <td>
                                                            @(TenantDetails["1"]["CheckOutDate"] != null ? ((DateTime)TenantDetails["1"]["CheckOutDate"]).ToString("dd-MM-yyyy") : "")
                                                        </td>
                                                    </tr>
                                                }
                                                if (TenantDetails["2"]["CheckOutStatus"] == 1)
                                                {
                                                    <tr class="checkinbox" data="@TenantDetails["2"]["CheckOutDate"]">
                                                        <td>
                                                            <label class="text-center">
                                                                @item.RoomNo @if (TenantDetails["2"]["SharingCount"] == 1)
                                                                {<label> (Private)</label> }
                                                                else
                                                                { <label> (Sharing)</label>}
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="text-center"> @TenantDetails["2"]["Name"] </label>
                                                        </td>
                                                        <td>
                                                            @(TenantDetails["2"]["CheckOutDate"] != null ? ((DateTime)TenantDetails["2"]["CheckOutDate"]).ToString("dd-MM-yyyy") : "")
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6 checkincheckouts" id="checkinContainer">
                            <h4 class="text-center listheadings">Check In List</h4>
                            <table class="table mytable" style=" font-size: 10px;">
                                <tbody class="dateTable">
                                    <tr>
                                        <td>
                                            <label class="text-center"> Room </label>
                                        </td>
                                        <td>
                                            <label class="text-center"> Name</label>
                                        </td>
                                        <td>
                                            <label class="text-center"> Date</label>
                                        </td>
                                    </tr>
                                    @foreach (var item in Model.PGRoomData)
                                    {
                                        if (item.RoomTenantDetails != null && item.Occupancy != 0)
                                        {
                                            var TenantDetails = JsonConvert.DeserializeObject<Object>(item.RoomTenantDetails);
                                            if (item.Person == 1)
                                            {
                                                if (TenantDetails["1"]["CheckInStatus"] == 1)
                                                {
                                                    <tr class="checkinbox" data="@TenantDetails["1"]["CheckInDate"]">
                                                        <td>
                                                            <label class="text-center">
                                                                @item.RoomNo @if (TenantDetails["1"]["SharingCount"] == 1)
                                                                {<label> (Private)</label> }
                                                                else
                                                                { <label> (Sharing)</label>}
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="text-center"> @TenantDetails["1"]["Name"] </label>
                                                        </td>
                                                        <td>
                                                            @(TenantDetails["1"]["CheckInDate"] != null ? ((DateTime)TenantDetails["1"]["CheckInDate"]).ToString("yyyy-MM-dd") : "")
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                if (TenantDetails["1"]["CheckInStatus"] == 1)
                                                {
                                                    <tr class="checkinbox" data="@TenantDetails["1"]["CheckInDate"]">
                                                        <td>
                                                            <label class="text-center">
                                                                @item.RoomNo @if (TenantDetails["1"]["SharingCount"] == 1)
                                                                {<label> (Private)</label> }
                                                                else
                                                                { <label> (Sharing)</label>}
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="text-center"> @TenantDetails["1"]["Name"] </label>
                                                        </td>
                                                        <td>
                                                            @(TenantDetails["1"]["CheckInDate"] != null ? ((DateTime)TenantDetails["1"]["CheckInDate"]).ToString("yyyy-MM-dd") : "")
                                                        </td>
                                                    </tr>
                                                }
                                                if (TenantDetails["2"]["CheckInStatus"] == 1)
                                                {
                                                    <tr class="checkinbox" data="@TenantDetails["1"]["CheckInDate"]">
                                                        <td>
                                                            <label class="text-center">
                                                                @item.RoomNo @if (TenantDetails["1"]["SharingCount"] == 1)
                                                                {<label> (Private)</label> }
                                                                else
                                                                { <label> (Sharing)</label>}
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="text-center"> @TenantDetails["1"]["Name"] </label>
                                                        </td>
                                                        <td>
                                                            @(TenantDetails["1"]["CheckInDate"] != null ? ((DateTime)TenantDetails["1"]["CheckInDate"]).ToString("yyyy-MM-dd") : "")
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $("#PropertyId").change(function () { window.location.href = ("http://localhost:1502/Sales/propertyMap?Pid=" + $(this).val()) });
    });
</script>

<script>
    $(document).ready(function () {
        if ($(document).width() > 600) {
            $(".mapDetailBox").css("position", "static");
            $("#mapContainer").css("margin-top", "5px");
        }
    });

    function showPaymentHistory(tenantId) {
        $.get('/tenant/TenantPaymentHistory', { tenantId: tenantId }, function (data) {
            $('#tenantLogModel').remove();
            $('body').append(data);
            $('#tenantLogModel').modal('show');
        });
    }

    function closeModel() {
        $('#tenantLogModel').modal('hide');
    }
</script>


<script>
    function convertDate(d) {
        datad = d.trim();
        var p = datad.split("-");
        return +(p[2] + p[1] + p[0]);
    }

    function sortByDate() {
        var tbody = document.querySelector(".dateTable");
        // get trs as array for ease of use
        var rows = [].slice.call(tbody.querySelectorAll("tr"));

        rows.sort(function (a, b) {
            return convertDate(a.cells[2].innerHTML) - convertDate(b.cells[2].innerHTML);
        });

        rows.forEach(function (v) {
            tbody.appendChild(v); // note that .appendChild() *moves* elements
        });
    }

    $(document).ready(function () {
        sortByDate();
    });


    $(document).ready(function () {
        $("#showCheckins").click(function () { $(".checkincheckouts").hide(); $("#checkinContainer").show(); $(".chOptions").removeClass('bgActive'); $(this).addClass('bgActive'); $(".listheadings").hide(); });
        $("#showCheckouts").click(function () { $(".checkincheckouts").hide(); $("#checkoutContainer").show(); $(".chOptions").removeClass('bgActive'); $(this).addClass('bgActive'); $(".listheadings").hide(); });
        $("#showCheckins").trigger('click');
    });
</script>