﻿<div class="container mb-4 mt-3 search_detail_page">
    <div class="search-list-box">
        <div class="card">            
            <div class="row">
                <div class="col-12">
                    <h2 class="property_detail_title2">Add Wallet Amount</h2>
                </div>                
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-6">
                    <div class="form-group">
                        <input type="number" id="walletAmount" class="form-control" placeholder="Amount" />
                    </div>
                </div>                
                <div class="col-6">
                    <div class="form-group">
                        <button type="button" onclick="addWalletamount()" class="btn btn-primary" style="padding:8px">Add Amount</button>
                    </div>
                </div>
                <div class="col-12">
                    <p>@WebConfigHelper.WalletDiscountMsg</p>
                <p>Wallet amount only be redeem on our shopping website. <a href="/home/eshopnow">Shop Now</a>  </p></div>
            </div>
          
        </div>
    </div>
</div>
<script>
    function addWalletamount() {
        var amount = $('#walletAmount').val();
        if (amount > 0) {
            $.post("/mywallet/add", { amount: amount }, function (res) {
                if (res.Success == true)
                    redirect(res.Data);
                else
                    return showError(res.Message);
            });
        }
        else
            showError("Amount should be positve number.");
    }
</script>