﻿@using FH.App.Entity;
@model PaymentDetailDTO

@{
    ViewBag.Title = "Payment Detail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}

<div class="container mb-4 mt-3 search_detail_page customcss">
    <div class="search-list-box">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <h2 class="property_detail_title2">Payment Detail</h2>
                </div>
            </div>
            <div class="table-responsive">
                @if (Model != null && Model.PaymentId > 0)
                {
                    <table class="table">
                        <tbody>
                            <tr><td>Order ID : </td> <td>@Model.PaymentId</td></tr>
                            <tr><td>Purpose : </td><td>@Model.PaymentType </td> </tr>
                            <tr><td>Amount :</td><td> @Model.Amount </td> </tr>
                            <tr><td>Payment Status :</td> <td>@Model.Status </td> </tr>
                            <tr><td>Message :</td> <td>@Model.StatusMessage</td> </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <td> No Data Found.</td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<style>
    @@media (min-width:600px) {
        .customcss {
            margin-top: 100px !important;
        }
    }
</style>
