﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agreement Acceptance</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="container" style="margin-top:10px">
            <div class="row">
                <div class="col-md-4 logo">
                    <a href="https://seller.haltn.com">
                        <img src="https://seller.haltn.com/content/images/logo.png" style="width:160px" alt="Logo">                       
                    </a>

                </div>                
            </div>
        </div>
        <hr />
    </header>
    <div class="container">
        <br><br><br>
        <div class="text-center"><img src="@Url.Content("/Content/images/congratulations.png")"></div>
        <br><h2 class="text-center">Congratulations!</h2>
        <p class="text-center">Your have accepted agreement policy with Haltn.</p>
        <div class="clearfix"></div><br>
        <hr>
        <div class="clearfix"></div><br><br>
    </div>
</body>
</html>
