﻿@using FH.Web.Security
@using FH.App.Entity;
@model LeadDetails
<div class="bottom_back_drop active"></div>
<div class="bottom_custom_modal bottom_enquiry_modal active" id="modalPopupContactDetail">
    <input type="hidden" id="contactPropertyId" />
    <input type="hidden" id="selectedContactBtnId" />
    <div class="bottom_close_btn">X</div>    
    <h2>&nbsp;</h2>
    @if (CurrentUser.User == null)
    {
        <div id="contactCheckMobile">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="text" id="contactMobile" class="form-control" placeholder="Mobile" autocomplete="off" maxlength="10" >
                </div>
            </div>
            <div class=" col-md-12">
                <div class="ui-widget">
                    <input type="button" onclick="isVisitorExistForContact()" class="btn btn-primary btn-block" value="Next">
                </div>
            </div>
        </div>
        <div id="contactNewUser" class="d_none">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="text" id="contactName" class="form-control" placeholder="Name" autocomplete="off" value="">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="text" id="contactEmail" class="form-control" placeholder="Email" autocomplete="off" value="">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="button" onclick="newUserRegistrationContact()" class="btn btn-primary btn-block" value="Next" />
                </div>
            </div>
        </div>
        <div id="contactVerifyUser" class="d_none">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="hidden" id="contactUser" />
                    <input type="text" id="contactOTP" class="form-control" placeholder="4 digit OTP" autocomplete="off" maxlength="4" onkeypress="return isInt(this)">
                </div>
            </div>
            <div class=" col-md-12">
                <div class="ui-widget">
                    <input type="button" onclick="contactVerifyUser()" class="btn btn-primary btn-block" value="Submit">
                </div>
            </div>
        </div>
    }

    <div id="contactSuccessBox" class="@(CurrentUser.User==null?"d_none":"")">
        <div class="text-center">
            <img src="~/Content/images/successIcon.png" width="36">
            <h4>Thank You</h4>
            <p class="smg">Contact To @Model.PropertyUserName On @Model.PropertyUserMobile</p>
        </div>
    </div>
</div>
