﻿@using FH.App.Entity;
@model  PropertySearchParameter
<style>
    .search-section-as-tabs.rounded.p-3 {
        position: sticky;
        top: 10px;
        margin-top: 66px;
        opacity: 0.9;
        background-color: #fff;
    }
     /* add this*/
 span#btnLocalityClear {
     text-align: center;
     height: 34px;
     width: 34px;
     position: absolute;
     top: 3px;
     left: 240px;
     cursor: pointer;
     padding-top: 5px;
     border-radius: 20px;
     /*        background: #e5e5e5; */
     background: white;
 }

 div#cityError {
     position: absolute;
     top: 6px;
     left: 50px;
 }

 i.fa-solid.fa-xmark {
     color: #9C27B0;
 }

 span#btnLocalityClear:hover {
     background: #e7cfeb;
 }

 .pac-container {
     width: 800px !important; /* Desired width for the dropdown */
 }
     .bg-white{
                 text-align:center;
             }
</style>
        <div class="col-4">
            <div class="search-section-as-tabs rounded p-3">
                <div class="form-group search-propperty-info">
                    <label>Locality</label>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <form id="searchForm" action="/property/search">  
     <div class="input-group">
         <input type="text" id="txtLocality" class="form-control" value="@Model.Locality">
         <span class="input-group-append">
             <button class="btn btn-primary btn-search" id="btnLocalitySearchFilter"><i class="fas fa-search"></i></button>
         </span>
     </div>
     <span id="btnLocalityClear"> <i class="fa-solid fa-xmark"></i> </span>
     <div id="cityError" style="color: red;"></div>

 </form>
                        </div>

                    </div>
                </div>

                @if (!string.IsNullOrWhiteSpace(Model.PropertyType) && (Model.PropertyType.ToUpper() == "FLAT" || Model.PropertyType.ToUpper() == "FLATMATE"))
                {
                    <div class="form-group search-propperty-info">
                        <label>Apartment</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in ApartmentType.GetAll())
                            {
                                if(!string.IsNullOrEmpty(Model.Apartment) &&  Model.Apartment.Split('_').Contains(item.Key))
                                {<div class="dv-list-item apartment active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item apartment" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                    <div class="form-group search-propperty-info">
                        <label>Bedroom (BHK)</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in BHKType.GetAll())
                            {
                                if (!string.IsNullOrEmpty(Model.Bhk) && Model.Bhk.Split('_').Contains(item.Key))
                                {<div class="dv-list-item bhk-type active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item bhk-type" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                    <div class="form-group search-propperty-info">
                        <label>Furnishing Status</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in FurnishingType.GetAll())
                            {
                                if (!string.IsNullOrEmpty(Model.FurnishingType) && Model.FurnishingType.Split('_').Contains(item.Key))
                                {<div class="dv-list-item furnishing active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item furnishing" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                    <div class="form-group search-propperty-info">
                        <label>Preffered Tenant</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in TenantType.GetAll().Where(x => x.Key != "All"))
                            {
                                if (!string.IsNullOrEmpty(Model.PreferredTenant) && Model.PreferredTenant.Split('_').Contains(item.Key))
                                {<div class="dv-list-item preferred-tenant active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item preferred-tenant" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                    <div class="form-group search-propperty-info">
                        <label>Facing</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in FacingType.GetAll())
                            {
                                if (Model.Facing.Split('_').Contains(item.Key))
                                {<div class="dv-list-item facing active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item facing" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>

                    if (!string.IsNullOrWhiteSpace(Model.PropertyType) && Model.PropertyType.ToUpper() == "FLATMATE")
                    {<div class="form-group search-propperty-info">
                            <div class="bg-white">
                                <label>Room Type</label><br />
                                @foreach (var item in RoomType.GetAll())
                                {
                                    if (Model.RoomType.Split('_').Contains(item.Key))
                                    {<div class="dv-list-item room-type active" data-key="@item.Key">@item.Value</div>}
                                else
                                {<div class="dv-list-item room-type" data-key="@item.Key">@item.Value</div>}
                        }
                            </div>
                        </div>
                    }
                }
                else if (!string.IsNullOrWhiteSpace(Model.PropertyType) && Model.PropertyType.ToUpper() == "ROOM")
                {
                    <div class="form-group search-propperty-info">
                        <label>Apartment</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in ApartmentType.GetAll())
                            {
                                if (!string.IsNullOrEmpty(Model.Apartment) && Model.Apartment.Split('_').Contains(item.Key))
                                {<div class="dv-list-item apartment active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item apartment" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                    <div class="form-group search-propperty-info">
                        <div class="bg-white">
                            <label>Room Type</label><br />
                            @foreach (var item in RoomType.GetAll())
                            {
                                if (!string.IsNullOrEmpty(Model.RoomType) &&  Model.RoomType.Split('_').Contains(item.Key))
                                {<div class="dv-list-item room-type active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item room-type" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                    <div class="form-group search-propperty-info">
                        <label>Preffered Tenant</label>
                        <br>
                        <div class="bg-white">
                            @foreach (var item in TenantType.GetAll().Where(x => x.Key != "All"))
                            {
                                if (!string.IsNullOrEmpty(Model.PreferredTenant) && Model.PreferredTenant.Split('_').Contains(item.Key))
                                {<div class="dv-list-item preferred-tenant active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item preferred-tenant" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(Model.PropertyType) && Model.PropertyType.ToUpper() == "PG")
                {
@*                    <div class="form-group search-propperty-info">
                        <div class="bg-white">
                            <label>Room Type</label><br />
                            @foreach (var item in RoomType.GetAll())
                            {
                                if (!string.IsNullOrEmpty(Model.RoomType) && Model.RoomType.Split('_').Contains(item.Key))
                                {<div class="dv-list-item room-type active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item room-type" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>*@
                    <div class="form-group search-propperty-info">
                        <div class="bg-white">
                            <label>Available For</label><br />
                            <div class="dv-list-item gender @(!string.IsNullOrEmpty(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("male")?"active":"")" data-key="Male">Male</div>
                            <div class="dv-list-item gender @(!string.IsNullOrEmpty(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("female")?"active":"")" data-key="Female">Female</div>
                            <div class="dv-list-item gender @(!string.IsNullOrEmpty(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("co-living")?"active":"")" data-key="Co-Living">Co-Living</div>
                            <div class="dv-list-item gender @(!string.IsNullOrEmpty(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("roomrk")?"active":"")" data-key="RoomRK">Room/RK</div>

                        </div>
                    </div>
                }
                <div id="priceRange" class="form-group search-propperty-info">
                    <div class="bg-white">
                        <label for="amount">Price range:</label><br />
                        <input type="text" id="amount" readonly style="border:0; color:#EE2E24; font-weight:bold;">
                        <div id="slider-range"></div>
                    </div>
                </div>
            </div>
        </div>
<script>
    document.getElementById('btnLocalitySearchFilter').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default button behavior

        var city = document.getElementById('txtLocality').value.trim();
        var cityError = document.getElementById('cityError');
        var txtLocality = document.getElementById('txtLocality');

        // Check if city is not empty
        if (city.trim() !== '') {
            cityError.textContent = ''; // Clear any previous error message

            // Submit the form
            filterClickEvent(1)
        } else {
            cityError.textContent = 'Enter a Location';
            txtLocality.placeholder = ''; // Add placeholder text for clarity
        }
    });

    // Input box par focus hone par error message ko hide karna
    document.getElementById('txtLocality').addEventListener('focus', function (event) {
        document.getElementById('cityError').textContent = ''; // Clear error message
    });



    /* for cross button logic*/
    document.getElementById('btnLocalityClear').addEventListener('click', function () {
        document.getElementById('txtLocality').value = '';
    });
</script>