﻿
@using FH.App.Entity;
@model PropertySearchParameter


<style>
    span#btnLocalityClear {
        text-align: center;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 2px;
        left: 18rem;
        cursor: pointer;
        padding-top: 4px;
        border-radius: 20px;
        background: white;
    }
        span#btnLocalityClear:hover {
            background: #e7cfeb;
        }

        div#cityError {
            left: 35px;
            position: absolute;
            bottom: 0.5rem;
        }
    i.fa-solid.fa-xmark {
        color: #9C27B0;
    }
</style>

<div class="search-box" id="filterBox">
    <div class="search-box-header text-center text-white">
        <span class="back-btn"><span class="fa fa-arrow-left"></span></span>
        <span class="search-box-title">Filter</span>
    </div>

    <div class="search-box-body">
        <div class="search-section-as-tabs rounded pb-1">
            <div class="form-group search-propperty-info">
                <label>Locality</label>
                <br>
                <div class="row">
                    <div class="col-12">
                        <input type="text" id="txtLocality" class="form-control" value="@Model.Locality">
                        <span id="btnLocalityClear">  <i class="fa-solid fa-xmark"></i>  </span>
                        <div id="cityError" style="color: red;"></div>

                    </div>
                </div>
            </div>

            @if (Model.PropertyType == "FLAT" || Model.PropertyType == "FLATMATE")
            {
                <div class="form-group search-propperty-info">
                    <label>Apartment</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in ApartmentType.GetAll())
                        {
                            if (Model.Apartment.Split('_').Contains(item.Key))
                            {<div class="dv-list-item apartment active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item apartment" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <label>Bedroom (BHK)</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in BHKType.GetAll())
                        {
                            if (Model.Bhk.Split('_').Contains(item.Key))
                            {<div class="dv-list-item bhk-type active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item bhk-type" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <label>Furnishing Status</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in FurnishingType.GetAll())
                        {
                            if (Model.FurnishingType.Split('_').Contains(item.Key))
                            {<div class="dv-list-item furnishing active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item furnishing" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <label>Preffered Tenant</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in TenantType.GetAll().Where(x => x.Key != "All"))
                        {
                            if (Model.PreferredTenant.Split('_').Contains(item.Key))
                            {<div class="dv-list-item preferred-tenant active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item preferred-tenant" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <label>Facing</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in FacingType.GetAll())
                        {
                            if (Model.Facing.Split('_').Contains(item.Key))
                            {<div class="dv-list-item facing active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item facing" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>

                if (Model.PropertyType == "FLATMATE")
                {<div class="form-group search-propperty-info">
                        <div class="bg-white">
                            <label>Room Type</label><br />
                            @foreach (var item in RoomType.GetAll())
                            {
                                if (Model.RoomType.Split('_').Contains(item.Key))
                                {<div class="dv-list-item room-type active" data-key="@item.Key">@item.Value</div>}
                            else
                            {<div class="dv-list-item room-type" data-key="@item.Key">@item.Value</div>}
                    }
                        </div>
                    </div>
                }
            }
            else if (Model.PropertyType == "ROOM")
            {
                <div class="form-group search-propperty-info">
                    <label>Apartment</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in ApartmentType.GetAll())
                        {
                            if (Model.Apartment.Split('_').Contains(item.Key))
                            {<div class="dv-list-item apartment active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item apartment" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <div class="bg-white">
                        <label>Room Type</label><br />
                        @foreach (var item in RoomType.GetAll())
                        {
                            if (Model.RoomType.Split('_').Contains(item.Key))
                            {<div class="dv-list-item room-type active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item room-type" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <label>Preffered Tenant</label>
                    <br>
                    <div class="bg-white">
                        @foreach (var item in TenantType.GetAll().Where(x => x.Key != "All"))
                        {
                            if (Model.PreferredTenant.Split('_').Contains(item.Key))
                            {<div class="dv-list-item preffered-tenant active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item preffered-tenant" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
            }
            else if (Model.PropertyType == "PG")
            {
                <div class="form-group search-propperty-info">
                    <div class="bg-white">
                        <label>Room Type</label><br />
                        @foreach (var item in RoomType.GetAll())
                        {
                            if (!string.IsNullOrEmpty(Model.RoomType) && Model.RoomType.Split('_').Contains(item.Key))
                            {<div class="dv-list-item room-type active" data-key="@item.Key">@item.Value</div>}
                        else
                        {<div class="dv-list-item room-type" data-key="@item.Key">@item.Value</div>}
                }
                    </div>
                </div>
                <div class="form-group search-propperty-info">
                    <div class="bg-white">
                        <label>Available For</label><br />
                        <div class="dv-list-item gender @(!string.IsNullOrWhiteSpace(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("male")?"active":"")" data-key="Male">Male</div>
                        <div class="dv-list-item gender @(!string.IsNullOrWhiteSpace(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("female")?"active":"")" data-key="Female">Female</div>
                        <div class="dv-list-item gender @(!string.IsNullOrWhiteSpace(Model.TenantGender) && Model.TenantGender.ToLower().Split('_').Contains("co-living")?"active":"")" data-key="Co-Living">Co-Living</div>
                    </div>
                </div>
            }
            <div id="priceRange" class="form-group search-propperty-info">
                <div class="bg-white">
                    <label for="amount">Price range:</label><br />
                    <input type="text" id="amount" readonly style="border:0; color:#EE2E24; font-weight:bold;">
                    <div id="slider-range"></div>
                </div>
            </div>
            <div class="form-group">
                @*  <button class="btn btn-block btn-primary btn-big" id="btnSearchFilter">Filter</button>*@
                <button class="btn btn-block btn-primary btn-big" id="btnLocalitySearchFilter">Filter</button>

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('btnLocalitySearchFilter').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default button behavior

        var city = document.getElementById('txtLocality').value.trim();
        var cityError = document.getElementById('cityError');
        var txtLocality = document.getElementById('txtLocality');

        // Check if city is not empty
        if (city.trim() !== '') {
            cityError.textContent = ''; // Clear any previous error message

            // Submit the form
            filterClickEvent(1)
        } else {
            cityError.textContent = 'Enter a Location';
            txtLocality.placeholder = ''; // Add placeholder text for clarity
        }
    });

    // Input box par focus hone par error message ko hide karna
    document.getElementById('txtLocality').addEventListener('focus', function (event) {
        document.getElementById('cityError').textContent = ''; // Clear error message
    });



                /* for cross button logic*/
    document.getElementById('btnLocalityClear').addEventListener('click', function () {
        document.getElementById('txtLocality').value = '';
    });
</script>