﻿@using FH.Web.Security;
@using FH.Util;
@using FH.App.Entity;
@model VMPropertyListing



@{
    var ModelPG = Model.PropertyMaster_PG;
    var propertyDetail = Model.PropertyMaster_PG;

}


<style>
    .someHeading {
        height: 63px;
        overflow-y: hidden;
        margin-bottom: 10px;
    }

    #heading-Seemore {
        position: absolute;
        bottom: -5px;
        right: 6px;
    }

    .btn-primary:visited {
        background: #9C27B0 !important;
    }

    .btn-primary-border {
        background: #9C27B0 !important;
        border: 2px solid #9C27B0 !important;
        color: #ffffff;
        padding: 2px 12px !important;
        font-size: 13px !important;
    }

    .search-list-box .property_offer {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #9C27B0 !important;
        width: auto;
        height: auto;
        color: #fff;
        padding: 2px 15px;
        font-size: 12px;
    }

    .search-list-box .property_status {
        background: #9C27B0 !important;
    }

    header .logo_brand img {
        width: 92px !important;
    }

    .phone-circle svg {
        color: #9C27B0 !important;
        margin: 8px;
    }

    .btn-primary {
        background: #9C27B0 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#heading-Seemore").click(function () { $(".headingDiv").removeClass("someHeading"); $(this).hide(); });
    });
</script>
<div class="col-12 p-2" style=" overflow: hidden; position: fixed; margin-left: -283px; top: 48px; z-index: 11111; ">
    <div class="float-left p-0">
        @*<span class="listingFound fontBold font-14">@Model.Paging.TotalRecord </span> <span class="listtingText font-14">Property Listing</span>*@
    </div>
    <div class="float-right p-0 ">
        <a href="#" class="btn btn-primary btn-sm search-box-btn" id="filterBtn">Filter</a>
    </div>
</div>
<div class="clearfix"></div>
<div class=""></div>
@if (Model.Input.Heading != null)
{
    <div class="col-12 someHeading headingDiv">
        <span id="heading-Seemore">See More...</span>
        <h1 style=" font-size: 20px;">@Model.Input.Heading</h1>
        <p style="line-height:25px;">@Model.Input.HeadingContent</p>
    </div>
}
else
{
    <br />
}
<div class="col-12 pl-2  pr-2" style="margin-top:30px;">
    @if (Model.PropertyList != null && Model.PropertyList.Count() > 0)
    {
        var wishList = "";
        if (Request.Cookies["wishlist"] != null)
        {
            wishList = Request.Cookies["wishlist"].Value;
        }
        foreach (var item in Model.PropertyList)
        {
            var propertyId = EncreptDecrpt.Encrypt(item.PropertyId);
            var propertyIdForCookies = propertyId.Replace('=', '_');

            bool visitScheduled = false;
            if (Request.Cookies["ScheduledVisit_" + propertyIdForCookies] != null)
            {
                visitScheduled = true;
            }

            bool isEnquiryAlreadySubmitted = false; ;
            if (Request.Cookies["Enquiry_" + propertyIdForCookies] != null)
            {
                isEnquiryAlreadySubmitted = true;
            }

            if (item.PropertyType.ToLower() == "flat")
            {
                var detailLink = "/property/details/" + item.PropertyId + "/" + (item.BhkType + "-Flat-In-" + item.Locality).ReplaceSpace();

                <div class="search-list-box">
                    <div class="card">
                        <a href="@detailLink">
                            <div class="white_box">
                                @{string title = item.Address;
                                    string CompanyName = item.CompanyName; /*item.BhkType + " Flat In " + item.Locality;*/}
                                <h1 class="property_detail_title" title="@title">
                                    @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                </h1>
                                <small style=" height: 50px;"> @(CompanyName.Length > 40 ? CompanyName.Substring(0, 40) + ".." : CompanyName) </small>
                            </div>
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                else

                                {
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="@item.ImageUrl" alt="First slide">
                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                }


                                @*{<img class="card-img-top" src="@item.ImageUrl" alt="">}*@
                                <div class="property_offer">@item.Offer</div>
                                <div class="property_status">ID:@item.PropertyId</div>
                                <div class="property_shadow">
                                    <div class="property_price">@item.ExpectedRent</div>
                                    <div class="property_sqFt">@item.PropertySize Sq Ft</div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="row text-center">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Deposit</small></p>
                                    </div>
                                    <div class="col-3 border-r-1">
                                        <p class="m-0">@item.Bathrooms</p>
                                        <p class="m-0"><small>Bathroom</small></p>
                                    </div>
                                    <div class="col-5">
                                        <p class="m-0">@item.Furnishing</p>
                                        <p class="m-0"><small>Furnish</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div><hr class="hr10">
                        <div class="row text-center">
                            <div class="col-5 border-r-1">
                                @*                                @if (visitScheduled == false)
                                    {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                    else
                                    {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button>}*@
                            </div>
                            <div class="col-4 border-r-1">
                                @if (isEnquiryAlreadySubmitted == false)
                                {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">
                                        Contact
                                    </button>}
                                else
                                {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                            </div>
                            <div class="col-3">
                                @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                {
                                    <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                                else
                                {
                                    <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (item.PropertyType.ToLower() == "flatmate")
            {
                var detailLink = "/property/details/" + item.PropertyId + "/" + (item.BhkType + "-Flat-In-" + item.Locality).ReplaceSpace();
                <div class="search-list-box">
                    <div class="card">
                        <a href="@detailLink">
                            <div class="white_box">
                                @{string title = item.Address; /*"Flatmate for "+item.BhkType + " Flat In " + item.Locality;*/}
                                <h1 class="property_detail_title" title="@title">
                                    @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                </h1>
                            </div>
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                else
                                {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                <div class="property_status">ID:@item.PropertyId</div>
                                <div class="property_shadow">
                                    <div class="property_price">@item.ExpectedRent</div>
                                    <div class="property_sqFt">@item.PropertySize Sq Ft</div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="row text-center">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Deposit</small></p>
                                    </div>
                                    <div class="col-3 border-r-1">
                                        <p class="m-0">@item.PreferredTenants</p>
                                        <p class="m-0"><small>Preferred</small></p>
                                    </div>
                                    <div class="col-5">
                                        <p class="m-0">@item.Furnishing</p>
                                        <p class="m-0"><small>Furnish</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div><hr class="hr10">
                        <div class="row text-center">
                            <div class="col-5 border-r-1">
                                @*                                @if (visitScheduled == false)
                                    {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                    else
                                    {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button>}*@
                            </div>
                            <div class="col-4 border-r-1">
                                @if (isEnquiryAlreadySubmitted == false)
                                {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">
                                        Contact
                                    </button>}
                                else
                                {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                            </div>

                            <div class="col-3">
                                @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                {
                                    <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                                else
                                {
                                    <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            }
            if (item.PropertyType.ToLower() == "room")
            {
                var detailLink = "/property/details/" + item.PropertyId + "/Room-In-" + (item.Locality).ReplaceSpace();

                <div class="search-list-box">
                    <div class="card">
                        <a href="@detailLink">
                            <div class="white_box">
                                @{string title = item.Address;  /*"Room In " + item.Locality;*/}
                                <h1 class="property_detail_title" title="@title">
                                    @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                </h1>
                            </div>
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                else
                                {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                <div class="property_offer">@item.Offer</div>
                                <div class="property_status">ID:@item.PropertyId</div>
                                <div class="property_shadow">
                                    <div class="property_price">@item.ExpectedRent</div>
                                    <div class="property_sqFt">@item.PropertySize Sq Ft</div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="row text-center">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Deposit</small></p>
                                    </div>
                                    <div class="col-3 border-r-1">
                                        <p class="m-0">@item.PreferredTenants</p>
                                        <p class="m-0"><small>Available For</small></p>
                                    </div>
                                    <div class="col-5">
                                        <p class="m-0">@item.Furnishing</p>
                                        <p class="m-0"><small>Furnish</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div><hr class="hr10">
                        <div class="row text-center">
                            <div class="col-5 border-r-1">
                                @if (visitScheduled == false)
                                {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                else
                                {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button>}
                            </div>
                            <div class="col-4 border-r-1">
                                @if (isEnquiryAlreadySubmitted == false)
                                {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">Contact</button>}
                                else
                                {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                            </div>
                            <div class="col-3">
                                @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                {
                                    <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                                else
                                {
                                    <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (item.PropertyType.ToLower() == "pg")
            {
                var detailLink = "/property/details/" + item.PropertyId + "/PG-In-" + (item.Locality).ReplaceSpace();

                <div class="search-list-box">
                    <div class="card">
                        <a href="@detailLink">
                            <div class="white_box">
                                @{string title = item.Address != null ? item.Address : "";  /*"PG In " + item.Locality;*/}
                                <h1 class="property_detail_title" title="@title">
                                    @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                </h1>
                            </div>
                            <div class="p-relative" style="height: 200px;">
                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <div id="propertyDetailSlides" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            @if (ModelPG.Galleries != null && ModelPG.Galleries.Count() > 0)
                                            {
                                                var count = 1;
                                                foreach (var itemm in ModelPG.Galleries)
                                                {


                                                    <div class="carousel-item @(count == 1 ? "active" : "")">
                                                        <img src="@itemm.FilePath" class="img-fluid" style="height: 200px; width: 366px;" alt=" property">
                                                    </div>
                                                    count++;


                                                }
                                            }

                                        </div>
                                        @if (ModelPG.Galleries.Count() > 1)
                                        {
                                            <a class="carousel-control-prev" href="#propertyDetailSlides" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#propertyDetailSlides" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        }
                                    </div>


                                }
                                else
                                { <img src="~/Content/images/no-image.jpg" class="card-img-top">
                                }

                                @*                                {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                *@                                @*<div class="property_offer">@item.Offer</div>*@
                                <div class="property_status">ID:@item.PropertyId</div>
                                <div class="property_shadow">
                                    @*<div class="property_price">@item.ExpectedRent</div>
                                        <div class="property_sqFt">@item.TenantGender</div>*@
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="row text-center">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Deposit</small></p>
                                    </div>
                                    <div class="col-3 border-r-1">
                                        @*<p class="m-0">@(string.IsNullOrEmpty(item.ApartmentType) ? "NA" : item.ApartmentType)</p>*@
                                        <p class="m-0">@item.TenantGender</p>
                                        @*<p class="m-0"><small>Room</small></p>*@
                                    </div>
                                    <div class="col-5">
                                        <p class="m-0">@item.ExpectedRent</p>
                                        <p class="m-0"><small>Rent</small></p>
                                        @*<p class="m-0">@(item.Bathrooms == 1 ? "Yes" : "No")</p>
                                            <p class="m-0"><small>Fooding</small></p>*@
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div><hr class="hr10">
                        <div class="row text-center">
                            <div class="col-6 border-r-1">
                                <button class="btn btn-primary" style="font-size: 13px; background: #9C27B0 !important;">
                                    @{ string PropertyName = item.PropertyName; PropertyName = PropertyName + " ";}
                                    @(PropertyName.Length > 40 ? PropertyName.Substring(0, 40) + ".." : PropertyName)
                                </button>
                                @*
                                    @if (visitScheduled == false)
                                    {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                    else
                                    {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button>} *@
                            </div>

                            <div class="col-6 border-r-1">
                                @if (isEnquiryAlreadySubmitted == false)
                                {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">Contact</button>}
                                else
                                {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                            </div>
                            @*     <div class="col-6 border-r-1">
                                    @if (!string.IsNullOrEmpty(item.LocationMapLink))
                                    {
                                        <a href="@item.LocationMapLink" target="_blank" class="btn btn-primary">Visit Location</a>
                                    }
                                </div>
                            *@
                            @*
                                <div class="col-6">
                                    @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                    {
                                        <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                    }
                                    else
                                    {
                                        <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                    }
                                </div>
                            *@
                        </div>
                    </div>
                </div>
            }


        }
        @Html.Partial("_Pager", Model.Paging)

    }
    else
    {
        @Html.Partial("_Quick_Enquiry_Form")
        // <img src="~/Content/images/no-data-found.png" class="img-fluid" />
    }
</div>


<style>
    .property_detail_title {
        margin-bottom: -6px;
    }
</style>
