﻿@using FH.Web.Security;
@using FH.Util;

@{
    var propertyType = ViewBag.propertyType;
    var properties = ViewBag.properties;
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    if (Request.IsLocal)
    { webUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port; }


}

@model VMPropertyListing

<div class="col-8 pl-0">
    <style>
       .search-list-box .card {
           border-radius: 0px;
           padding: 15px;
       }

       label.seemoredesktop {
           position: absolute;
           bottom: -9px;
           right: 0px;
           font-size: 13px;
           font-weight: 800;
       }

       .card.CatHeadingCard > div > p {
           width: 85%;
       }
       .CatHeadingCard {
           height: 70px;
           overflow-y: hidden;
       }


       .search-section-as-tabs.rounded.p-3 {
           position: sticky;
           top: 90px !important;
       }
       .property_status, .search-list-box .property_status {
           background: #9C27B0 !important;
       }

       .btn-primary {
           background: #9C27B0 !important;
           border: 1px solid #9C27B0 !important;
           color: #ffffff !important;
       }

           .btn-primary:hover {
               background: #ffffff !important;
               border: 1px solid #9C27B0 !important;
               color: #9C27B0 !important;
           }

       header#siteHeader {
           z-index: 99;
       }


        body{
            
            background: url('@webUrl/content/images/Group 64.png') no-repeat scroll -12px 0px;
        }
        input#amount {
            color: #9C27B0 !important;
        }

    </style>

    <div class="search_list_begin" id="dvLoadProperty" style="margin-top:66px;">
        @if (Model.Input != null && !string.IsNullOrEmpty(Model.Input.Heading))
        {
            <div class="search-list-box">
                <div class="card CatHeadingCard">
                    <div class="row" style="padding-left:5px">
                        <h1 class="mb-2">
                            @Model.Input.Heading
                        </h1>
                        <p>@Model.Input.HeadingContent</p>
                    </div>
                    <label class="seemoredesktop">See More...</label>
                </div>
            </div>
        }
        @if (Model != null && Model.PropertyList != null && Model.PropertyList.Count() > 0)
        {
            var wishList = "";
            if (Request.Cookies["wishlist"] != null)
            {
                wishList = Request.Cookies["wishlist"].Value;
            }

            foreach (var item in Model.PropertyList)
            {
                var propertyId = EncreptDecrpt.Encrypt(item.PropertyId);
                var propertyIdForCookies = propertyId.Replace('=', '_');

                bool visitScheduled = false;
                if (Request.Cookies["ScheduledVisit_" + propertyIdForCookies] != null)
                {
                    visitScheduled = true;
                }

                bool isEnquiryAlreadySubmitted = false; ;
                if (Request.Cookies["Enquiry_" + propertyIdForCookies] != null)
                {
                    isEnquiryAlreadySubmitted = true;
                }

                <div class="search-list-box">
                    <div class="card">
                        @if (item.PropertyType.ToLower() == "pg")
                        {
                            var detailLink = "/property/details/" + item.PropertyId + "/PG-In-" + item.Locality.ReplaceSpace();
                            <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                <div class="col-4 pr-0">
                                    <div class="p-relative">
                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                        {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                        else
                                        { <img src="@item.ImageUrl" class="card-img-top">}

                                        <div class="property_status">ID:@item.PropertyId</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    @{var propTitle = item.Address;
                                        propTitle = propTitle + " ";
                                        string CompanyName1 = item.CompanyName + " ";
                                         }
                                    <h2 title="@propTitle" class="m-2">
                                        @(propTitle.Length > 45 ? propTitle.Substring(0, 45) + "..." : propTitle)
                                    </h2>
                                    @* <small style=" height: 50px;"> @(CompanyName1.Length > 40 ? CompanyName1.Substring(0, 40) + ".." : CompanyName1) </small>*@
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.ApartmentType</p>
                                                <p class="m-0"><small>Room Type</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                <p class="m-0"><small>Rent</small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                <p class="m-0"><small>Security Deposit</small></p>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                <p class="m-0"><small>Preferred Tenant</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.TenantGender</p>
                                                <p class="m-0"><small>Available For</small> </p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">@(item.Bathrooms == 1 ? "Yes" : "No")</p>
                                                <p class="m-0"><small>Fooding</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (item.PropertyType.ToLower() == "flat")
                        {
                            var detailLink = "/property/details/" + item.PropertyId + "/" + (item.BhkType + "-Flat-In-" + item.Locality).ReplaceSpace();
                            <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                <div class="col-4 pr-0">
                                    <div class="p-relative">
                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                        {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                        else
                                        { <img src="@item.ImageUrl" class="card-img-top">}

                                        <div class="property_status">ID:@item.PropertyId</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    @{var propTitle = item.Address;
                                        propTitle = propTitle + " ";/*item.BhkType + " Flat In " + @item.Locality;*/}
                                    <h2 title="@propTitle">
                                        @(propTitle.Length > 45 ? propTitle.Substring(0, 45) + "..." : propTitle)
                                    </h2>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4 border-r-1 pr-0">
                                                <p class="m-0 font-weight-bold"> @(!string.IsNullOrWhiteSpace(item.ApartmentType) ? item.ApartmentType.Length > 17 ? item.ApartmentType.Substring(0, 17) + "..." : item.ApartmentType : "NA")</p>
                                                <p class="m-0"><small>Apartment</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pr-0">
                                                <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                <p class="m-0"><small>Rent</small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                <p class="m-0"><small>Security Deposit</small></p>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-4 border-r-1 pr-0">
                                                <p class="m-0 font-weight-bold">@item.Furnishing</p>
                                                <p class="m-0"><small>Furnishing Status</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pr-0">
                                                <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                                <p class="m-0"><small>Area</small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                <p class="m-0"><small>Available For</small></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (item.PropertyType.ToLower() == "flatmate")
                        {
                            var detailLink = "/property/details/" + item.PropertyId + "/Flatmate-for-" + (item.BhkType + "-" + item.Locality).ReplaceSpace();
                            <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                <div class="col-4 pr-0">
                                    <div class="p-relative">
                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                        {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                        else
                                        { <img src="@item.ImageUrl" class="card-img-top">}

                                        <div class="property_status">ID:@item.PropertyId</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    @{var flatmateTitle = item.Address; /*"Flatmate for " + item.BhkType + " Flat in " + item.Locality;*/}
                                    <h2 title="@flatmateTitle">
                                        @(flatmateTitle.Length > 45 ? flatmateTitle.Substring(0, 45) + "..." : flatmateTitle)
                                    </h2>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold"> @(!string.IsNullOrWhiteSpace(item.ApartmentType) ? item.ApartmentType.Length > 17 ? item.ApartmentType.Substring(0, 17) + "..." : item.ApartmentType : "NA")</p>
                                                <p class="m-0"><small>Apartment</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                <p class="m-0"><small>Rent</small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                <p class="m-0"><small>Security Deposit</small></p>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">Semi-furnished</p>
                                                <p class="m-0"><small>@item.Furnishing</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                                <p class="m-0"><small>Area</small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                <p class="m-0"><small>Available For</small></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        else if (item.PropertyType.ToLower() == "room")
                        {
                            var detailLink = "/property/details/" + item.PropertyId + "/Room-In-" + item.Locality.ReplaceSpace();
                            <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                <div class="col-4 pr-0">
                                    <div class="p-relative">
                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                        {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                        else
                                        { <img src="@item.ImageUrl" class="card-img-top">}

                                        <div class="property_status">ID:@item.PropertyId</div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h2></h2>
                                    @{var roomTitle = item.Address + " "; /*"Room in " + item.Locality;*/}
                                    <h2 title="@roomTitle">
                                        @(roomTitle.Length > 45 ? roomTitle.Substring(0, 45) + "..." : roomTitle)
                                    </h2>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold"> @(!string.IsNullOrWhiteSpace(item.ApartmentType) ? item.ApartmentType.Length > 17 ? item.ApartmentType.Substring(0, 17) + "..." : item.ApartmentType : "NA")</p>
                                                <p class="m-0"><small>Apartment</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                <p class="m-0"><small>Rent</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                <p class="m-0"><small>Security Deposit</small></p>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">Semi-furnished</p>
                                                <p class="m-0"><small>@item.Furnishing</small></p>
                                            </div>
                                            <div class="col-4 border-r-1">
                                                <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                                <p class="m-0"><small>Area</small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 font-weight-bold">
                                                    @item.PreferredTenants
                                                </p>
                                                <p class="m-0"><small>Available For</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        <div class="search_list_btn">
                            <ul class="property_btn_list dontOpen">
                                <li>
                                    @{ string PropertyName = item.PropertyName;  PropertyName = PropertyName + " ";}
                                    @if (PropertyName != " ")
                                    {
                                        <button class="btn btn-primary" style="font-size:13px;">
                                                @(PropertyName.Length > 40 ? PropertyName.Substring(0, 40) + ".." : PropertyName)
                                        </button>
                                    }
                                    @*                                    @if (visitScheduled == false)
        {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
        else
        {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Visit Scheduled</button>}*@
                                </li>
                                <li>
                                    @if (isEnquiryAlreadySubmitted == false)
                                    {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">
                                            Contact
                                        </button>}
                                    else
                                    {<button type="button" class="btn btn-primary" style="pointer-events:none">Contacted</button>}
                                </li>

                                @*<li>
                                        @if (!string.IsNullOrEmpty(item.Offer))
                                        {
                                            <button type="button" class="btn btn-primary" style="pointer-events:none">@item.Offer</button>

                                        }
                                    </li>
                                    <li>
                                        @if (!string.IsNullOrEmpty(item.LocationMapLink))
                                        {
                                            <a href="@item.LocationMapLink" target="_blank" class="btn btn-primary" >Visit Location</a>
                                        }
                                    </li>
                                *@
                            </ul>
                        </div>
                    </div>
                </div>

            }
            @Html.Partial("_Pager", Model.Paging)
        }
        else
        {
            @Html.Partial("_Quick_Enquiry_Form")
        }
    </div>
</div>

<style>
    .search-list-box .card h2 {
        margin-bottom: -6px;
    }
</style>

<script>

    $(".seemoredesktop").click(function () { $(".CatHeadingCard").css({ "height": "auto", "overflow-y": "auto" }); $(this).hide(); $('.card.CatHeadingCard').children('div').children('p').css({ "width": "90%" }); });
</script>

