﻿@using FH.App.Entity;
@model IEnumerable<PGRoomDetail>
    @{ 
        string propertyId = ViewData["propertyId"].ToString();
    }
<div class="modal" id="bookNowModal">
    <div class="modal-dialog modal-lg">        
            <input type="hidden" id="propertyPGId" value="@propertyId"/>            
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Book Now</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tblSelectRoomType" class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Room Type</th>
                                    <th>Quantity</th>
                                    <th>Rent</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select id="ddlRoomType" class="form-control">
                                            @foreach (var room in Model)
                                            {
                                                if (room.AvailableSeat > 0)
                                                {
                                                    <option value="@room.RoomId" data-name="@room.RoomType" data-seat="@room.AvailableSeat" data-rent="@room.ExpectedRent">@room.RoomType</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <div class="row m-0"
                                             style="width:150px; margin:auto !important;">
                                            <input class="col btn btn-priamry border-radius-none pgQuMinus"
                                                   type="button" value="-">

                                            <input class="col qty" type="text" id="qty" value="1" readonly="readonly"
                                                   style="width:52px; text-align: center;">

                                            <input class="col btn btn-priamry border-radius-none pgQuPlus"
                                                   type="button" value="+">
                                        </div>
                                    </td>
                                    <td>
                                        <span class="roomRent">@Model.FirstOrDefault().ExpectedRent</span>
                                    </td>
                                    <td>
                                        <button type="button" id="btnAddRoom" class="btn btn-primary">ADD</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>                       
                        <div class="float-right text-right dvTotalAmount">  
                            <div>
                                <b>Total</b> : <span class="fas fa-rupee-sign"></span>
                                <span class="finalTotalPgCost">                                    
                                </span> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="bookNow()">Book Now</button>
                </div>

            </div>        
    </div>
</div>

 @section Scripts{
<script>   
    $('.pgQuPlus').click(function () {
        var maxSeat = parseInt($('#ddlRoomType option:selected').data('seat'));
        if (parseInt($(this).siblings('.qty').val()) < maxSeat) {
            $(this).siblings('.qty').val(parseInt($(this).siblings('.qty').val()) + 1);           
        }
    });

    $('.pgQuMinus').click(function () {
        var minValue = 0;
        if ($(this).siblings('.qty').val() > minValue) {
            $(this).siblings('.qty').val(parseInt($(this).siblings('.qty').val()) - 1);          
        }
    });

    $('#btnAddRoom').click(function () {
        var room = $('#ddlRoomType option:selected');
        var qty = $('#qty').val();        
        if (room.val() > 0 && qty > 0 && qty <= parseInt(room.data('seat'))) {
            var totalRent = room.data('rent') * qty;
            var tr = '<tr><td><span class="form-control" data-id="' + room.val() + '" data-totalrent="' + totalRent + '" data-qty="' + qty + '">' + room.data('name') + '</span></td>';
            tr += '<td><span class="form-control">' + qty + '</span></td>';
            tr += '<td><span class="form-control">' + room.data('rent') + '<span></td>';
            tr += '<td><button class="btn btn-primary btnRemoveRoom">X</button></td></tr>';

            $('#tblSelectRoomType tfoot').append(tr);
            calculateOrder();
        }
    });

    $('#bookNowModal').on('click', '.btnRemoveRoom', function () {
        $(this).closest('tr').remove();
        calculateOrder();
    });

    function calculateOrder() {
        var rent = 0;
        $('#tblSelectRoomType tfoot tr').each(function () {
            rent += $(this).find('td:first span').data('totalrent');
        });

        if (rent > 0)
            $('.finalTotalPgCost').html(rent + '/');
        else
            $('.finalTotalPgCost').html('');
    }

    function bookNow()
    {
        var propertyId = $('#propertyPGId').val();
        var checkOutRoom = [];

        $('#tblSelectRoomType tfoot tr').each(function () {
            var td = $(this).find('td:first span');
            if(td.data('id') > 0 && td.data('qty')>0)
                checkOutRoom.push({ roomId: td.data('id'),qty: td.data('qty')});
        });
        
        if (checkOutRoom.length > 0 && propertyId != '') {           
            if ($('#isUserLogin').val() == "1") {               
                var data = { propertyId: propertyId, rooms: checkOutRoom };
                $.post("/order/booknow", data, function (res) {
                    if (res.Success)
                        window.location.href =res.Url;
                    else
                        showError("Something went wrong! please try again.");
                });
            }
            else {
                $('#bookNowModal').modal('hide');
                $('#loginModal').modal('show');
            }
        }       
    }

</script>
    }