﻿@using FH.App.Entity
@using FH.Util;
@model PropertyMaster
@{
    var propertyDetail = Model.PropertyDetail;
    var propertyId = FH.Web.Security.EncreptDecrpt.Encrypt(propertyDetail.PropertyId);
    var visitScheduled = Convert.ToBoolean(ViewData["visitScheduled"]);
    var isEnquiryAlreadySubmitted = Convert.ToBoolean(ViewData["enquiry"]);
    bool isWishList = false;
    if (Request.Cookies["wishlist"] != null)
    {
        var wishList = Request.Cookies["wishlist"].Value;
        if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(propertyDetail.PropertyId) > -1)
        { isWishList = true; }
    }
    var propertyType = "";
    var title = "";
    var address = "";
    int rent = 0;
    var isNegotiable = "";
    if (propertyDetail != null)
    {
        propertyType = propertyDetail.PropertyType.ToUpper();
        address = propertyDetail.Street;
        rent = propertyDetail.ExpectedRent;
        isNegotiable = (propertyDetail.IsNegotiable == true ? "Negotiable" : "Non-negotiable");
        if (propertyType == "FLAT")
        { title = propertyDetail.BhkType + " Flat In " + propertyDetail.Locality; }
        else if (propertyType == "ROOM")
        { title = " Room In " + propertyDetail.Locality; }
        else if (propertyType == "FLATMATE")
        { title = "Flatmate For " + propertyDetail.BhkType + " Flat In " + propertyDetail.Locality; }

    }

}
<div class="property_detail_slider">
    <div id="propertyDetailSlides" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @if (Model.Galleries != null && Model.Galleries.Count() > 0)
            {
                var count = 1;
                foreach (var item in Model.Galleries)
                {
                    <div class="carousel-item @(count == 1 ? "active" : "")">
                        <img src="@item.FilePath" class="img-fluid" alt="flathalt property">
                    </div>
                    count++;
                }
            }
            else
            {
                <div class="carousel-item active">
                    <img src="~/Content/images/no-image.jpg" class="img-fluid" alt="property">
                </div>
            }
        </div>
        @if (Model.Galleries.Count() > 1)
        {
            <a class="carousel-control-prev" href="#propertyDetailSlides" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#propertyDetailSlides" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        }
    </div>

    <a onclick="clickBack()" href="#" class="detail_back"><i class="fa fa-arrow-left"></i></a>
    <p class="property_type">ID:@propertyDetail.PropertyId</p>

</div>
@if (propertyDetail.OfferPercent > 0)
{
    <div class="white_box" style="background-color:#ff0000;">
        <div class="row">
            <div class="col-12">
                <h5 style="color:#fff;text-align:center">@propertyDetail.OfferTitle</h5>
            </div>
        </div>
    </div>
}
<div class="white_box">
    <div class="row text-center m-0">
        <div class="col-4 border-r-1 p-0">
            <p class="m-0 p13">@(propertyDetail.ExpectedRent <= 0 ? "NA" : propertyDetail.ExpectedRent.ToString())/Month</p>
            <p class="m-0"><small>Rent</small></p>
        </div>
        <div class="col-4 border-r-1 p-0">
            <p class="m-0 p13">@(string.IsNullOrEmpty(propertyDetail.PropertySize) ? "NA" : propertyDetail.PropertySize + " Sq.Ft") </p>
            <p class="m-0"><small>Area</small></p>
        </div>
        <div class="col-4 p-0">
            <p class="m-0 p13">@(string.IsNullOrEmpty(propertyDetail.Furnishing) ? "NA" : propertyDetail.Furnishing)</p>
            <p class="m-0"><small>Furnish</small></p>
        </div>
    </div>
</div>

<div class="white_box">
    <h1 class="property_detail_title">@title</h1>
    <p class="mb-0">@address</p>
</div>

<div class="white_box">
    <h2 class="property_detail_title2">Overview</h2>
    <ul class="property_detail_list mt-2">
        <li>
            <span class="list_prop">Apartment Type</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.ApartmentType) ? "NA" : (propertyDetail.ApartmentType.Length > 25 ? propertyDetail.ApartmentType.Substring(0, 22) + "..." : propertyDetail.ApartmentType))</span>
        </li>
        <li>
            <span class="list_prop">Apartment Name</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.ApartmentName) ? "NA" : (propertyDetail.ApartmentType.Length > 25 ? propertyDetail.ApartmentType.Substring(0, 22) + "..." : propertyDetail.ApartmentName))</span>
        </li>
        <li>
            <span class="list_prop">Preferred Tenant</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.PreferredTenant) ? "NA" : propertyDetail.PreferredTenant)</span>
        </li>
        <li>
            <span class="list_prop">Furnishing</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.Furnishing) ? "NA" : propertyDetail.Furnishing)</span>
        </li>
        <li>
            <span class="list_prop">Area</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.PropertySize) ? "NA" : propertyDetail.PropertySize + " Sq.Ft")</span>
        </li>
        <li>
            <span class="list_prop">Expected Rent</span>
            <span class="list_val">@propertyDetail.ExpectedRent <i class="fas fa-rupee-sign"></i> (@(propertyDetail.IsNegotiable ? "Negotiable" : "Non-Negotiable"))</span>
        </li>
        <li>
            <span class="list_prop">Expected Deposit</span>
            <span class="list_val">@propertyDetail.ExpectedDeposit  <i class="fas fa-rupee-sign"></i></span>
        </li>
        <li>
            <span class="list_prop">Floor</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.FloorNo) ? "NA" : propertyDetail.FloorNo)/@(string.IsNullOrEmpty(propertyDetail.TotalFloor) ? "NA" : propertyDetail.TotalFloor)</span>
        </li>
        <li>
            <span class="list_prop">Facing</span>
            <span class="list_val">
                @(string.IsNullOrEmpty(propertyDetail.Facing) ? "NA" : propertyDetail.Facing)
            </span>
        </li>
        <li>
            <span class="list_prop">Water Supply</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.WaterSupply) ? "NA" : propertyDetail.WaterSupply)</span>
        </li>
        <li>
            <span class="list_prop">Bathroom</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.Bathrooms) ? "NA" : propertyDetail.Bathrooms)</span>
        </li>
        <li>
            <span class="list_prop">Balcony</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.Balconies) ? "NA" : propertyDetail.Balconies)</span>
        </li>
        <li>
            <span class="list_prop">Gate Security</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.GateSecurity) ? "NA" : propertyDetail.GateSecurity)</span>
        </li>
        <li>
            <span class="list_prop">Parking</span>
            <span class="list_val">@(string.IsNullOrEmpty(propertyDetail.Parking) ? "NA" : propertyDetail.Parking)</span>
        </li>
        <li>
            <span class="list_prop">Available From</span>
            <span class="list_val">@(propertyDetail.AvailableFrom == null ? "NA" : Convert.ToDateTime(propertyDetail.AvailableFrom).ToString("dd MMM yyyy"))</span>
        </li>
        <li>
            <span class="list_prop">Property ID</span>
            <span class="list_val">@propertyDetail.PropertyId</span>
        </li>
    </ul>
</div>

@if (Model.Furnishing != null && Model.Furnishing.Count() > 0)
{
    <div class="white_box">
        <h2 class="property_detail_title2">Furnishing Overview</h2>
        <ul class="aminities_list mt-2">
            @foreach (var item in Model.Furnishing)
            {
                <li>
                    <i class="fas fa-check"></i>
                    <p class="m-0">@item.Name @(string.IsNullOrEmpty(item.Value) ? "" : "(" + item.Value + ")")</p>
                </li>
            }
        </ul>
    </div>
}

@if (Model.AmenityMaster != null && Model.AmenityMaster.Count() > 0)
{
    <div class="white_box">
        <h2 class="property_detail_title2">Amenities</h2>
        <ul class="aminities_list mt-2">
            @foreach (var amenity in Model.AmenityMaster)
            {
                if (Model.PropertyAmenities.Any(x => x.AmenityId == amenity.AmenityId))
                {
                    <li>
                        <i class="fas fa-check"></i>
                        <p class="m-0">@(!string.IsNullOrWhiteSpace(amenity.AmenityName) && amenity.AmenityName.Length > 20 ? amenity.AmenityName.Substring(0, 20) : amenity.AmenityName)</p>
                    </li>
                }
                else
                {
                    <li>
                        <i class="fas fa-times"></i>
                        <p class="m-0">@(!string.IsNullOrWhiteSpace(amenity.AmenityName) && amenity.AmenityName.Length > 15 ? amenity.AmenityName.Substring(0, 15) + "..." : amenity.AmenityName)</p>

                    </li>
                }
            }
        </ul>
    </div>
}

<div class="white_box">
    <h2 class="property_detail_title2">Locality</h2>
    <table class="table table-bordered mt-2 locality-table">
        <tr>
            <td>
                <p class="font-weight-bold">Landmark</p>
                <p>@propertyDetail.Locality</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold">Address</p>
                <p>@(string.IsNullOrEmpty(propertyDetail.Street) ? "NA" : propertyDetail.Street)</p>
            </td>
        </tr>
    </table>
</div>

<div class="white_box">
    <h2 class="property_detail_title2">Description</h2>
    <p class="mt-2 p13">@(string.IsNullOrEmpty(propertyDetail.Description) ? "NA" : propertyDetail.Description)</p>
</div>

<div class="white_box neighbourhood_section">
    <h2 class="property_detail_title2">Neighbourhood</h2>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" data-target="#transit" data-toggle="tab" id="liTransit" onclick="map.showTransitInfo()">Transit</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-target="#essentials" data-toggle="tab" onclick="map.showEssentialInfo()">Essentials</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-target="#utility" data-toggle="tab" onclick="map.showUtilityInfo()">Utility</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-target="#restaurents" data-toggle="tab" onclick="map.showRestaurentInfo()">Restaurants</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="transit">
            <div id="accordion1">
                <div class="card" id="transitInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#airport" onClick="map.showTransitInfo('airport');">
                            Airport
                        </a>
                    </div>
                    <div id="airport" class="collapse show" data-parent="#accordion1">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="airport-list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#bus">
                                Bus Station
                            </a>
                        </div>
                        <div id="bus" class="collapse" data-parent="#accordion1">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="bus_station-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#train">
                                Train Station
                            </a>
                        </div>
                        <div id="train" class="collapse" data-parent="#accordion1">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="train_station-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="essentials">
            <div id="accordion2">
                <div class="card" id="essentialInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#hospital" onClick="map.showEssentialInfo('hospital');">
                            Hospital
                        </a>
                    </div>
                    <div id="hospital" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="hospital-list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#bankAtm" onClick="map.showEssentialInfo('atm')">
                                Bank & ATM
                            </a>
                        </div>
                        <div id="bankAtm" class="collapse" data-parent="#accordion2">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody>
                                        <tr id="atm-list"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#school">
                                School
                            </a>
                        </div>
                        <div id="school" class="collapse" data-parent="#accordion2" onClick="map.showEssentialInfo('school')">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="school-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="utility">
            <div id="accordion3">
                <div class="card" id="utilityInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#movieTheature" onClick="map.showUtilityInfo('movie_theater')">
                            Movie Theature
                        </a>
                    </div>
                    <div id="movieTheature" class="collapse show" data-parent="#accordion3">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="movie_theater-list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#shoppingMall" onClick="map.showUtilityInfo('shopping_mall')">
                                Shopping Mall
                            </a>
                        </div>
                        <div id="shoppingMall" class="collapse" data-parent="#accordion3">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="shopping_mall-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#gym" onClick="map.showUtilityInfo('gym')">
                                Gym
                            </a>
                        </div>
                        <div id="gym" class="collapse" data-parent="#accordion3">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="gym-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="restaurents">
            <div id="accordion4">
                <div class="card" id="restaurentInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#restaurent" onClick="map.showRestaurentInfo('restaurant')">
                            Restaurent
                        </a>
                    </div>
                    <div id="restaurent" class="collapse show" data-parent="#accordion4">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="restaurant-list"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer-fixed-btn">
    <div class="row text-center m-0">
        <div class="col-5 border-r-1">
            @if (visitScheduled == false)
            {<button type="button" id="btnScheduleVisit_@propertyDetail.PropertyId" onclick="getScheduleVisit('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary bottom_schedule_modal_btn">Schedule Visit</button>}
            else
            {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button>}
        </div>
        <div class="col-4 border-r-1">
            @if (isEnquiryAlreadySubmitted == false)
            {<button type="button" id="btnEnquiry_@propertyDetail.PropertyId" onclick="getContactDetail('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary bottom_enquiry_modal_btn">
                    Contact
                </button>}
            else
            {<button type="button" class="btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Contacted</button>}
        </div>
        <div class="col-3">
            @if (isWishList)
            {<i class="fav-icon fas fa-heart text-orange detail_wishlist" data-pid="@propertyDetail.PropertyId"></i>}
            else
            {<i class="fav-icon far fa-heart text-orange detail_wishlist" data-pid="@propertyDetail.PropertyId"></i>}
        </div>
    </div>
</div>
<style>
    .mContact {
        display: none;
    }
</style>

@section Scripts{
<script>
    function clickBack() {
        window.history.back();
    }
</script>
}