﻿@using FH.Web.Security
@using FH.App.Entity
@using FH.Util;
@model VMProperty
@{
    var Model1 = Model.PropertyMaster_PG;
    var propertyDetail = Model1.PropertyDetail_PG;
    var propertyId = EncreptDecrpt.Encrypt(propertyDetail.PropertyId);
    bool isWishList = false;
    if (Request.Cookies["wishlist"] != null)
    {
        var wishList = Request.Cookies["wishlist"].Value;
        if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(propertyDetail.PropertyId) > -1)
        { isWishList = true; }
    }
    var visitScheduled = Convert.ToBoolean(ViewData["visitScheduled"]);
    var isEnquiryAlreadySubmitted = Convert.ToBoolean(ViewData["enquiry"]);
    var title = ""; var address = ""; var preferredTenant = ""; var tenantGender = "";
    int rent = 0;
    var deposit = 0;
    if (propertyDetail != null)
    {
        title = "PG For " + propertyDetail.TenantGender + " In " + propertyDetail.Locality;
        address = propertyDetail.Street;
        preferredTenant = propertyDetail.PreferredGuest;
        rent = propertyDetail.ExpectedRent;
        deposit = propertyDetail.ExpectedDeposit;
        tenantGender = propertyDetail.TenantGender;
    }
}


<style>

    header .logo_brand img {
        width: 77px;
        float: left;
        margin-top: -18px;
        margin-bottom: -11px;
    }

    .phone-circle svg {
        color: #9C27B0;
    }

    .property_detail_title2 {
        font-size: 15px !important;
        color: #9C27B0;
        padding-left: 10px;
    }

        .property_detail_title2:after {
            background: #9C27B0;
        }

    .neighbourhood_section .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #9C27B0;
    }

        .neighbourhood_section .nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
            color: #ffffff !important;
        }

    a {
        color: black !important;
    }

        a.card-link:hover {
            color: #9C27B0 !important;
        }

    .col-4.border-r-1.p-0:hover {
        color: #9C27B0 !important;
    }

    .col-4.p-0:hover {
        color: #9C27B0 !important;
    }

    .similar_properties .similar_properties_heading {
        /*  background: #555; */
        background: #9C27B0 !important;
    }


    .similar_properties {
        border: 1px solid #ccc;
        cursor: pointer;
        margin-bottom: 10px;
    }

        .similar_properties .similar_properties_heading {
            background: #555;
            overflow: hidden;
            color: #fff;
            padding: 8px 10px;
        }

        .similar_properties .similar_properties_body {
            padding: 10px;
        }

            .similar_properties .similar_properties_body h5 {
                font-size: 16px;
            }
</style>



<div class="property_detail_slider">
    <div id="propertyDetailSlides" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @if (Model1.Galleries != null && Model1.Galleries.Count() > 0)
            {
                var count = 1;
                foreach (var item in Model1.Galleries)
                {
                    <div class="carousel-item @(count == 1 ? "active" : "")">
                        <img src="@item.FilePath" class="img-fluid" alt=" property">
                    </div>
                    count++;
                }
            }
            else
            {
                <div class="carousel-item active">
                    <img src="~/Content/images/no-image.jpg" class="img-fluid" style="height:200px" alt="property">
                </div>
            }
        </div>
        @if (Model1.Galleries.Count() > 1)
        {
            <a class="carousel-control-prev" href="#propertyDetailSlides" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#propertyDetailSlides" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        }
    </div>

    <a onclick="clickBack()" class="detail_back"><i class="fa fa-arrow-left"></i></a>
    <p class="property_type" style="background: #9C27B0;">ID:@propertyDetail.PropertyId</p>
</div>
@{
    string PropertyName = propertyDetail.PropertyName; PropertyName = PropertyName + " ";
}
@if (PropertyName != " ")
{
    <div class="white_box" style="background-color: #9C27B0">
        <div class="row">
            <div class="col-12">
                <h5 style="color:#fff;text-align:center">@PropertyName</h5>
            </div>
        </div>
    </div>
}
<div class="white_box">
    <div class="row text-center m-0">
        <div class="col-4 border-r-1 p-0">
            <p class="m-0 p13">@(propertyDetail.ExpectedRent <= 0 ? "NA" : propertyDetail.ExpectedRent.ToString())/Month</p>
            <p class="m-0"><small>Rent</small></p>
        </div>
        <div class="col-4 border-r-1 p-0">
            <p class="m-0 p13">@(propertyDetail.ExpectedDeposit <= 0 ? "NA" : propertyDetail.ExpectedDeposit.ToString()) </p>
            <p class="m-0"><small>Deposit</small></p>
        </div>
        <div class="col-4 p-0">
            <p class="m-0 p13">@(string.IsNullOrEmpty(propertyDetail.TenantGender) ? "NA" : propertyDetail.TenantGender)</p>
            <p class="m-0"><small>Available For</small></p>
        </div>
    </div>
</div>

<div class="white_box">
    <h1 class="property_detail_title">@title</h1>
    <p class="mb-0">@address</p>
</div>
<div class="clearfix"></div>
@if (Model1.RoomDetail != null && Model1.RoomDetail.Count() > 0)
{
    foreach (var item in Model1.RoomDetail)
    {
        <div class="search_list_begin">
            <div class="search-list-box">
                <div class="card">
                    <div class="row cardClick">
                        <div class="col-12">
                            <h2 class="property_detail_title2">
                                @if (item.RoomType.ToLower() == "single")
                                {<text>Single Room Details</text>}
                            else if (item.RoomType.ToLower() == "double")
                            {<text>Double Sharing Room Details</text>}
                        else if (item.RoomType.ToLower() == "three")
                        {<text>Three Sharing Room Details</text>}
                    else if (item.RoomType.ToLower() == "four")
                    {<text>Four Sharing Room Details</text>}

                            </h2>
                            <div class="">
                                <ul class="property_detail_list mt-2">
                                    <li>
                                        <span class="list_prop">Rent For @item.RoomType Occupancy</span>
                                        <span class="list_val"><span class="fas fa-rupee-sign"></span> @item.ExpectedRent</span>
                                    </li>
                                    <li>
                                        <span class="list_prop">Deposit</span>
                                        <span class="list_val"><span class="fas fa-rupee-sign"></span> @item.ExpectedDeposit</span>
                                    </li>
                                 @*   <li>
                                        <span class="list_prop">Total Seat</span>
                                        <span class="list_val">@item.TotalSeat</span>
                                    </li>
                                    <li>
                                        <span class="list_prop">Available Seat</span>
                                        <span class="list_val">@item.AvailableSeat</span>
                                    </li>*@
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (Model1.AmenityMaster != null)
{
    <div class="search_list_begin">
        <div class="search-list-box">
            <div class="card">
                <div class="row cardClick">
                    <div class="col-12">
                        <h2 class="property_detail_title2">Room Amenities</h2>
                        <ul class="aminities_list mt-2">
                            @foreach (var roomAmenityMaster in Model1.AmenityMaster.Where(x => x.AmenityType.ToLower() == "pgroom"))
                            {
                                if (Model1.RoomAmenities.Any(x => x.AmenityId == roomAmenityMaster.AmenityId))
                                {
                                    <li>
                                        <i class="fas fa-check"></i>
                                        <p class="m-0">@roomAmenityMaster.AmenityName</p>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <p class="m-0">@roomAmenityMaster.AmenityName</p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@if (Model1.PgRules != null && Model1.PgRules.Count() > 0)
{
    <div class="search_list_begin">
        <div class="search-list-box">
            <div class="card">
                <div class="row cardClick">
                    <div class="col-12">
                        <h2 class="property_detail_title2">PG Rules</h2>
                        <ul class="aminities_list mt-2">
                            @foreach (var master in PGRulesMaster.GetAll())
                            {
                                if (Model1.PgRules.Any(x => x.RuleId == master.Key))
                                {
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <p class="m-0">@master.Value</p>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i class="fas fa-check"></i>
                                        <p class="m-0">@master.Value</p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model1.AmenityMaster != null && Model1.AmenityMaster.Count() > 0)
{
    <div class="search_list_begin">
        <div class="search-list-box">
            <div class="card">
                <div class="row cardClick">
                    <div class="col-12">
                        <h2 class="property_detail_title2">Common Amenities</h2>
                        <ul class="aminities_list mt-2">
                            @foreach (var master in Model1.AmenityMaster.Where(x => x.AmenityType.ToUpper() == "PG"))
                            {
                                if (Model1.PropertyAmenities.Any(x => x.AmenityId == master.AmenityId))
                                {
                                    <li>
                                        <i class="fas fa-check"></i>
                                        <p class="m-0">@master.AmenityName</p>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <p class="m-0">@master.AmenityName</p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="search_list_begin">
    <div class="search-list-box">
        <div class="card">
            <div class="row cardClick">
                <div class="col-12">
                    <h2 class="property_detail_title2">Description</h2>
                    <p class="mt-2 p13">
                        @(string.IsNullOrEmpty(propertyDetail.Description) ? "NA" : propertyDetail.Description)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search_list_begin">
    <div class="search-list-box">
        <div class="card">
            <div class="row cardClick">
                <div class="col-12">
                    <h2 class="property_detail_title2">Locality</h2>
                    <table class="table table-bordered mt-2 locality-table">
                        <tbody>
                            <tr>
                                <td>
                                    <p class="font-weight-bold">Landmark</p>
                                    <p>@(string.IsNullOrEmpty(propertyDetail.Locality) ? "NA" : propertyDetail.Locality)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="font-weight-bold">Address</p>
                                    <p>@(string.IsNullOrEmpty(propertyDetail.Street) ? "NA" : propertyDetail.Street)</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="white_box neighbourhood_section">
    <h2 class="property_detail_title2">Neighbourhood</h2>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" data-target="#transit" data-toggle="tab" id="liTransit" onclick="map.showTransitInfo()">Transit</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-target="#essentials" data-toggle="tab" onclick="map.showEssentialInfo()">Essentials</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-target="#utility" data-toggle="tab" onclick="map.showUtilityInfo()">Utility</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-target="#restaurents" data-toggle="tab" onclick="map.showRestaurentInfo()">Restaurants</a></li>
    </ul>-->
<!-- Tab panes -->
<!--<div class="tab-content">
        <div class="tab-pane active" id="transit">
            <div id="accordion1">
                <div class="card" id="transitInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#airport" onClick="map.showTransitInfo('airport');">
                            Airport
                        </a>
                    </div>
                    <div id="airport" class="collapse show" data-parent="#accordion1">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="airport-list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#bus">
                                Bus Station
                            </a>
                        </div>
                        <div id="bus" class="collapse" data-parent="#accordion1">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="bus_station-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#train">
                                Train Station
                            </a>
                        </div>
                        <div id="train" class="collapse" data-parent="#accordion1">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="train_station-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="essentials">
            <div id="accordion2">
                <div class="card" id="essentialInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#hospital" onClick="map.showEssentialInfo('hospital');">
                            Hospital
                        </a>
                    </div>
                    <div id="hospital" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="hospital-list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#bankAtm" onClick="map.showEssentialInfo('atm')">
                                Bank & ATM
                            </a>
                        </div>
                        <div id="bankAtm" class="collapse" data-parent="#accordion2">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody>
                                        <tr id="atm-list"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#school">
                                School
                            </a>
                        </div>
                        <div id="school" class="collapse" data-parent="#accordion2" onClick="map.showEssentialInfo('school')">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="school-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="utility">
            <div id="accordion3">
                <div class="card" id="utilityInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#movieTheature" onClick="map.showUtilityInfo('movie_theature')">
                            Movie Theature
                        </a>
                    </div>
                    <div id="movieTheature" class="collapse show" data-parent="#accordion3">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="movie_theature-list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#shoppingMall" onClick="map.showUtilityInfo('shopping_mall')">
                                Shopping Mall
                            </a>
                        </div>
                        <div id="shoppingMall" class="collapse" data-parent="#accordion3">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="shopping_mall-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#gym" onClick="map.showUtilityInfo('gym')">
                                Gym
                            </a>
                        </div>
                        <div id="gym" class="collapse" data-parent="#accordion3">
                            <div class="card-body">
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody id="gym-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="restaurents">
            <div id="accordion4">
                <div class="card" id="restaurentInfo">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#restaurent" onClick="map.showRestaurentInfo('restaurent')">
                            Restaurent
                        </a>
                    </div>
                    <div id="restaurent" class="collapse show" data-parent="#accordion4">
                        <div class="card-body">
                            <table class="table table-bordered mt-2 locality-table">
                                <tbody id="restaurent-list"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->

@if (Model != null && Model.SimilarProperties != null && Model.SimilarProperties.Count() > 0)
{
    <div class="search-list-box mt-3">
        <div class="card">
            <h2 class="property_detail_title2">Similar Properties</h2>
            @foreach (var property in Model.SimilarProperties)
            {
                var titleSimilar = property.Locality;
                var titleDesc = property.TenantGender + " " + property.Street;
                var titleUrl = (property.TenantGender + " " + property.Locality).ReplaceSpace();

                if (titleSimilar.Length > 25)
                { titleSimilar = titleSimilar.Substring(0, 25) + "..."; }
                if (titleDesc.Length > 45)
                { titleDesc = titleDesc.Substring(0, 45) + "..."; }
                <div class="similar_properties mt-1" onclick="similarOnClick('@property.PropertyId/@titleUrl')">
                    <div class="similar_properties_heading">
                        <div class="float-left">@titleSimilar</div>
                        <div class="float-right"><i class="fa fa-rupee-sign"></i> @property.ExpectedRent</div>
                    </div>
                    <div class="similar_properties_body">
                        <div class="row">
                            <div class="col-4">
                                @if (string.IsNullOrEmpty(property.ImageUrl))
                                {<img src="~/Content/images/no-image.jpg" class="img-thumbnail">}
                                else
                                {<img src="@property.ImageUrl" class="img-thumbnail">}
                            </div>
                            <div class="col-8">
                                <h5>@titleDesc</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}


<div class="footer-fixed-btn">
    <div class="row text-center m-0" style="background: #9C27B0;">
        @*<span class="back-btn"><span class="fa fa-arrow-left"></span></span>*@
        <div class="col-12 border-r-1">
            @if (isEnquiryAlreadySubmitted == false)
            {<button type="button" id="btnEnquiry_@propertyDetail.PropertyId" onclick="getContactDetail('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary bottom_enquiry_modal_btn">
                    Contact
                </button>}
            else
            {<button type="button" class="btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Contacted</button>}
        </div>
        @*       <div class="col-6 border-r-1">
                @if (isEnquiryAlreadySubmitted == false)
                {<button type="button" id="btnEnquiry_@propertyDetail.PropertyId" onclick="getContactDetail('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary bottom_enquiry_modal_btn">
                        Contact
                    </button>}
                else
                {<button type="button" class="btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Contacted</button>}
            </div>*@

    </div>
</div>

@*<div class="footer-fixed-btn-filter" style="position: fixed; left: 300px; bottom: 5px; z-index: 1000; background: #da241a; width: 25%;">
    <div class="row text-center m-0" style="background: #9C27B0;">
        <span class="back-btn"><span class="fa fa-arrow-left"></span></span>
        <div class="col-12 border-r-1">
            <a href="#" style="pointer-events:none; color:white;" id="filterBtn">Filter</a>


        </div>


    </div>
</div>*@

<!--<div class="col-12 p-2" style=" overflow: hidden; position: fixed; margin-left: 260px; bottom: 10px; z-index: 1000; background: #da241a; width: 25%; ">
    <div class="row text-center m-0">-->
@*<span class="listingFound fontBold font-14">@Model.Paging.TotalRecord </span> <span class="listtingText font-14">Property Listing</span>*@
<!--</div>
    <a href="#" class="btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none" id="filterBtn">Filter</a>
</div>-->
@*
    <div class="footer-fixed-btn">
        <div class="row text-center m-0">
            <div class="col-5 border-r-1">
                @if (visitScheduled == false)
                {<button type="button" id="btnScheduleVisit_@propertyDetail.PropertyId" onclick="getScheduleVisit('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary bottom_schedule_modal_btn">Schedule Visit</button>}
                else
                {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Visit Scheduled</button>}
            </div>
            <div class="col-4 border-r-1">
                @if (isEnquiryAlreadySubmitted == false)
                {<button type="button" id="btnEnquiry_@propertyDetail.PropertyId" onclick="getContactDetail('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary bottom_enquiry_modal_btn">
                        Contact
                    </button>}
                else
                {<button type="button" class="btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Contacted</button>}
            </div>
            <div class="col-3">
                @if (isWishList)
                {<i class="fav-icon fas fa-heart text-orange" data-pid="@propertyDetail.PropertyId"></i>}
                else
                {<i class="fav-icon far fa-heart text-orange" data-pid="@propertyDetail.PropertyId"></i>}
            </div>
        </div>
    </div>
*@
<script>
    function clickBack() {
        window.history.back();
    }


    function similarOnClick(url) {
        if (url) {
            window.open('/property/details/' + url);
        }
    }
</script>
