﻿@using System.Configuration;
@using FH.App.Entity;
@using FH.Util;
@model VMProperty

@{
    var propertyType = ViewBag.propertyType;
    var properties = ViewBag.properties;
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
    if (Request.IsLocal)
    { webUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port; }

}

@{
    var Model1 = Model.PropertyMaster_PG;
    var propertyDetail = Model.PropertyMaster_PG.PropertyDetail_PG;
    var propertyId = FH.Web.Security.EncreptDecrpt.Encrypt(propertyDetail.PropertyId);
    var visitScheduled = Convert.ToBoolean(ViewData["visitScheduled"]);
    var isEnquiryAlreadySubmitted = Convert.ToBoolean(ViewData["enquiry"]);
    var title = ""; var address = ""; var preferredTenant = ""; var tenantGender = "";
    int rent = 0;
    var deposit = 0;
    if (propertyDetail != null)
    {
        title = /*"PG For " + propertyDetail.TenantGender + " In " +*/ propertyDetail.Locality;
        address = propertyDetail.Street;
        preferredTenant = propertyDetail.PreferredGuest;
        rent = propertyDetail.ExpectedRent;
        deposit = propertyDetail.ExpectedDeposit;
        tenantGender = propertyDetail.TenantGender;
    }

    int totalSeat = 0;
    int availableSeat = 0;
    if (Model.PropertyMaster_PG.RoomDetail != null && Model.PropertyMaster_PG.RoomDetail.Count() > 0)
    {
        totalSeat = Model.PropertyMaster_PG.RoomDetail.Sum(x => x.TotalSeat);
        availableSeat = Model.PropertyMaster_PG.RoomDetail.Sum(x => x.AvailableSeat);
    }

    string overAllRating = "NA";
    string overAllRatingClass = "0-0";
    if (Model.PGFeedBack != null && Model.PGFeedBack.Count() > 0)
    {
        int totalRatingCount = Model.PGFeedBack.Count();
        double totalRating = (double)Model.PGFeedBack.Sum(x => x.FoodQuality + x.Security + x.Wifi + x.Staff + x.Maintenance);
        overAllRating = ((totalRating * totalRatingCount) / 500).ToString("N1");
        overAllRatingClass = overAllRating.Replace(".", "-");
    }
}


<style>
    ul.property_detail_list li {
        width: 50%;
    }
    .property_detail_title2:after {
        background: #9C27B0 !important;
    }

    .neighbourhood_section .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #9C27B0;
    }

    .neighbourhood_section .nav {
        margin-top: 15px;
        border-bottom: 4px solid #9C27B0;
    }

    .similar_properties .similar_properties_heading {
        /*  background: #555; */
        background: #9C27B0;
    }

    .search_detail_page .search-list-box {
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        margin-bottom: 15px;
    }

    .neighbourhood_section .nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
        background: #9C27B0;
        color: #ffffff !important;
    }

    a.card-link:hover {
        color: #9C27B0;
    }

    a.card-link {
        color: #000000;
    }

    td:hover {
        color: #9C27B0;
    }





    .property_detail_title2 {
        color: #9C27B0 !important;
    }

    header#siteHeader {
        z-index: 99999999;
    }

    .btn-primary-border {
        border: 2px solid #9C27B0 !important;
        color: #ffffff;
    }

        .btn-primary-border:hover, .btn-primary-border:focus {
            border: 2px solid #9C27B0 !important;
            background-color: #ffffff !important;
            color: #9C27B0;
        }

    .propertySliderBox {
        top: 101px;
    }
     body{

     background: url('@webUrl/content/images/Group 64.png') no-repeat scroll -12px 0px;
 }
</style>


<div class="container mb-4 mt-3 search_detail_page" style="margin-top:92px!important; ">
    <div class="search-list-box">
        <div class="card">
            <div class="row">
                <div class="col-1 text-center" style="border-right:1px solid #ccc;">
                    <div class="clearfix"></div>
                    <img src="~/Content/images/propertyTypeIcon.png">
                    @*PG*@
                </div>
                <div class="col-5">
                    <h1 class="mb-1">@title</h1>
                    <p class="mb-0">@address</p>
                </div>
                <div class="col-6">
                    <ul class="search_detail_top_highlights_list">
                        <li>
                            <p class="m-0 font-weight-bold"><i class="fas fa-rupee-sign"></i> @rent/Month</p>
                            <p class="m-0"><small>Rent</small></p>
                        </li>
                        @*<li>
                            <p class="m-0 font-weight-bold">@availableSeat/@totalSeat</p>
                            <p class="m-0"><small>Seat Available</small></p>
                        </li>*@
                        <li>
                            <p class="m-0 font-weight-bold">@propertyDetail.PropertyId</p>
                            <p class="m-0"><small>Property No</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @{
        string PropertyName = propertyDetail.PropertyName; PropertyName = PropertyName + " ";
    }
    @if ( PropertyName != " ")
    {
        <div class="search-list-box">
            <div class="card" style="background-color: #9C27B0;">
                <div class="row">
                    <div class="col-4">
                        <h1 style="color:#fff"></h1>
                    </div>
                    <div class="col-4 text-center">
                        <h1 style="color:#fff">@PropertyName</h1>
                    </div>
                    <div class="col-4">
                        <h1 style="color:#fff;"></h1>
                    </div>
                </div>

            </div>
        </div>
    }
    <div class="row">
        <div class="col-6">
            <div class="p-relative propertySlider">
                <div id="propertyDetailSlides" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @if (Model1.Galleries != null && Model1.Galleries.Count() > 0)
                        {
                            var count = 1;
                            foreach (var item in Model1.Galleries)
                            {
                                <div class="carousel-item @(count == 1 ? "active" : "")">
                                    <img src="@item.FilePath" class="img-fluid" alt=" property">
                                </div>
                                count++;
                            }
                        }
                        else
                        {
                            <div class="carousel-item active">
                                <img src="~/Content/images/no-image.jpg" class="img-fluid" style="height:200px" alt="property">
                            </div>
                        }
                    </div>
                    @if (Model1.Galleries.Count() > 1)
                    {
                        <a class="carousel-control-prev" href="#propertyDetailSlides" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#propertyDetailSlides" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    }
                </div>
                <!-- slided ends here -->
            </div>
            
        </div>
        <div class="col-6">
            <!-- search_list_begin begin here -->
            <div class="search_list_begin">
                <div class="search-list-box highlight_property_info">
                    <div class="card">
                        <div class="row cardClick">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <tr>
                                            <td>
                                                <p class="m-0 font-weight-bold">PG</p>
                                                <p class="m-0"><small>Property</small></p>
                                            </td>
                                            <td>
                                                <p class="m-0 font-weight-bold">@(string.IsNullOrEmpty(propertyDetail.RoomType) ? "NA" : propertyDetail.RoomType)</p>
                                                <p class="m-0"><small>Room Type</small></p>
                                            </td>
                                            <td>
                                                <p class="m-0 font-weight-bold">@(string.IsNullOrEmpty(propertyDetail.PreferredGuest) ? "NA" : propertyDetail.PreferredGuest)</p>
                                                <p class="m-0"><small>Available For</small></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="m-0 font-weight-bold">
                                                    @((propertyDetail.TenantGender == "RoomRK" || propertyDetail.TenantGender == "RoomRk") ? "Room/Rk" : propertyDetail.TenantGender)
                                                </p>
                                                <p class="m-0"><small>Property Type</small></p>
                                            </td>
                                            <td>
                                                <p class="m-0 font-weight-bold"><i class="fas fa-rupee-sign"></i> @(propertyDetail.ExpectedRent <= 0 ? "NA" : propertyDetail.ExpectedRent.ToString() + "/Month")</p>
                                                <p class="m-0"><small>Rent</small></p>
                                            </td>
                                            <td>
                                                <p class="m-0 font-weight-bold"><i class="fas fa-rupee-sign"></i> @(propertyDetail.ExpectedDeposit <= 0 ? "NA" : propertyDetail.ExpectedDeposit.ToString())</p>
                                                <p class="m-0"><small>Deposit</small></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="m-0 font-weight-bold">@(propertyDetail.Fooding ? "Yes" : "No")</p>
                                                <p class="m-0"><small>Fooding</small></p>
                                            </td>
                                            <td>
                                                <p class="m-0 font-weight-bold">@(propertyDetail.Laundry ? "Yes" : "No")</p>
                                                <p class="m-0"><small>Laundry</small></p>
                                            </td>
                                            <td>
                                                <p class="m-0 font-weight-bold">@(propertyDetail.RoomCleaning ? "Yes" : "No")</p>
                                                <p class="m-0"><small>Room Cleaning</small></p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="mb-2 overflow_hidden">
                                    <ul class="property_btn_list">
                                        <li>
                                            @*                                            @if (visitScheduled == false)
                                                {<button type="button" id="btnScheduleVisit_@propertyDetail.PropertyId" onclick="getScheduleVisit('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary btn-primary-border btn-block bottom_schedule_modal_btn">Schedule Visit</button>}
                                                else
                                                {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn btn-block" style="pointer-events:none">Scheduled</button>}*@
                                        </li>
                                        <li>
                                            @if (isEnquiryAlreadySubmitted == false)
                                            {<button type="button" id="btnEnquiry_@propertyDetail.PropertyId" onclick="getContactDetail('@propertyId','@propertyDetail.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn btn-block">
                                                    Contact
                                                </button>}
                                            else
                                            {<button type="button" class="btn btn-primary btn-block" style="pointer-events:none">Contacted</button>}
                                        </li>
                                        @*@if (Model != null && Model.PropertyMaster_PG.RoomDetail != null && Model.PropertyMaster_PG.RoomDetail.Sum(x=>x.AvailableSeat)>0)
                                            {
                                                <li>
                                                    <div class="col">
                                                        <button class="btn btn-primary btn-block btn-primary-border" id="bookNowModalBtn">
                                                            Book Now
                                                        </button>
                                                    </div>
                                                </li>
                                            }*@
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                @*<a href="#rating-section" class="rating-overall ratingScrollTo">
                        <div class="col-md-8 offset-md-2">
                            <p class="float-left font-weight-bold">Check Reviews & Rating : </p>

                            <div class="p-relative star-parent float-left ml-2">
                                <div class="gray-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="yellow-star point-@overAllRatingClass">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>

                            <p class="float-left">(@overAllRating)</p>
                        </div>
                    </a>*@
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row  mt-3">
        <div class="col-8 pr-0">
            @if (Model.PropertyMaster_PG.RoomDetail != null && Model.PropertyMaster_PG.RoomDetail.Count() > 0)
            {
                foreach (var item in Model.PropertyMaster_PG.RoomDetail)
                {
                    <div class="search_list_begin">
                        <div class="search-list-box">
                            <div class="card">
                                <div class="row cardClick">
                                    <div class="col-12">
                                        <h2 class="property_detail_title2">
                                            @if (item.RoomType.ToLower() == "single")
                                            {<text>Single Room Details</text>}
                                        else if (item.RoomType.ToLower() == "double")
                                        {<text>Double Sharing Room Details</text>}
                                    else if (item.RoomType.ToLower() == "three")
                                    {<text>Three Sharing Room Details</text>}
                                else if (item.RoomType.ToLower() == "four")
                                {<text>Four Sharing Room Details</text>}

                                        </h2>
                                        <div class="">
                                            <ul class="property_detail_list mt-3">
                                                <li>
                                                    <span class="list_prop">Rent For @item.RoomType Occupancy</span>
                                                    <span class="list_val"><span class="fas fa-rupee-sign"></span> @item.ExpectedRent</span>
                                                </li>
                                                <li>
                                                    <span class="list_prop">Deposit</span>
                                                    <span class="list_val"><span class="fas fa-rupee-sign"></span> @item.ExpectedDeposit</span>
                                                </li>
@*                                                <li>
                                                    <span class="list_prop">Seat Available</span>
                                                    <span class="list_val">@item.AvailableSeat/@item.TotalSeat</span>
                                                </li>*@
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            @if (Model.PropertyMaster_PG.AmenityMaster != null)
            {
                <div class="search_list_begin">
                    <div class="search-list-box">
                        <div class="card">
                            <div class="row cardClick">
                                <div class="col-12">
                                    <h2 class="property_detail_title2">Room Amenities</h2>
                                    <ul class="aminities_list mt-2">
                                        @foreach (var roomAmenityMaster in Model.PropertyMaster_PG.AmenityMaster.Where(x => x.AmenityType.ToLower() == "pgroom"))
                                        {
                                            if (Model.PropertyMaster_PG.RoomAmenities.Any(x => x.AmenityId == roomAmenityMaster.AmenityId))
                                            {
                                                <li>
                                                    <i class="fas fa-check"></i>
                                                    <p class="m-0">@roomAmenityMaster.AmenityName</p>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <i class="fas fa-times"></i>
                                                    <p class="m-0">@roomAmenityMaster.AmenityName</p>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.PropertyMaster_PG.PgRules != null && Model.PropertyMaster_PG.PgRules.Count() > 0)
            {
                <div class="search_list_begin">
                    <div class="search-list-box">
                        <div class="card">
                            <div class="row cardClick">
                                <div class="col-12">
                                    <h2 class="property_detail_title2">PG Rules</h2>
                                    <ul class="aminities_list mt-2">
                                        @foreach (var master in PGRulesMaster.GetAll())
                                        {
                                            if (Model.PropertyMaster_PG.PgRules.Any(x => x.RuleId == master.Key))
                                            {

                                                <li>
                                                    <i class="fas fa-times"></i>
                                                    <p class="m-0">@master.Value</p>
                                                </li>

                                            }
                                            else
                                            {
                                                <li>
                                                    <i class="fas fa-check"></i>
                                                    <p class="m-0">@master.Value</p>

                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.PropertyMaster_PG.AmenityMaster != null && Model.PropertyMaster_PG.AmenityMaster.Count() > 0)
            {
                <div class="search_list_begin">
                    <div class="search-list-box">
                        <div class="card">
                            <div class="row cardClick">
                                <div class="col-12">
                                    <h2 class="property_detail_title2">Common Amenities</h2>
                                    <ul class="aminities_list mt-2">
                                        @foreach (var master in Model.PropertyMaster_PG.AmenityMaster.Where(x => x.AmenityType.ToUpper() == "PG"))
                                        {
                                            if (Model.PropertyMaster_PG.PropertyAmenities.Any(x => x.AmenityId == master.AmenityId))
                                            {
                                                <li>
                                                    <i class="fas fa-check"></i>
                                                    <p class="m-0">@master.AmenityName</p>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <i class="fas fa-times"></i>
                                                    <p class="m-0">@master.AmenityName</p>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="search_list_begin">
                <div class="search-list-box">
                    <div class="card">
                        <div class="row cardClick">
                            <div class="col-12">
                                <h2 class="property_detail_title2">Description</h2>
                                <p class="mt-2 p13">
                                    @(string.IsNullOrEmpty(propertyDetail.Description) ? "NA" : propertyDetail.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search_list_begin">
                <div class="search-list-box">
                    <div class="card">
                        <div class="row cardClick">
                            <div class="col-12">
                                <h2 class="property_detail_title2">Locality</h2>
                                <table class="table table-bordered mt-2 locality-table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p class="font-weight-bold">Landmark</p>
                                                <p>@(string.IsNullOrEmpty(propertyDetail.Locality) ? "NA" : propertyDetail.Locality)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="font-weight-bold">Address</p>
                                                <p>@(string.IsNullOrEmpty(propertyDetail.Street) ? "NA" : propertyDetail.Street)</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="block-info search-list-box">
                <h3 style="font-size:22px"> Get Free Consultant</h3>
                <div style="height:3px;margin-top:20px">
                </div>
                <div style="padding-right:10px;">
                    <p> If you have any questions, just call or email us, and we will answer you shortly.</p>
                </div>
                <div style="padding-right:10px">
                    <div style="line-height:24px;font-size:18px">
                        <p><span class="fa fa-envelope">&nbsp;</span> @ConfigurationManager.AppSettings["CompanyEmail"]</p>
                    </div>
                    <div style="line-height:24px;font-size:18px">
                        <p>
                            <span class="fa fa-phone" style="transform: rotate(90deg);">&nbsp;</span>
                            @ConfigurationManager.AppSettings["CompanyPhone"]
                        </p>
                    </div>
                </div>
            </div>

            @if (Model != null && Model.SimilarProperties != null && Model.SimilarProperties.Count() > 0)
            {
                <div class="search-list-box mt-3">
                    <div class="card">
                        <h2 class="property_detail_title2">Similar Properties</h2>
                        @foreach (var property in Model.SimilarProperties)
                        {
                            var titleSimilar = property.Locality;
                            var titleDesc = property.TenantGender + " " + property.Street;
                            var titleUrl = (property.TenantGender + " " + property.Locality).ReplaceSpace();

                            if (titleSimilar.Length > 25)
                            { titleSimilar = titleSimilar.Substring(0, 25) + "..."; }
                            if (titleDesc.Length > 45)
                            { titleDesc = titleDesc.Substring(0, 45) + "..."; }
                            <div class="similar_properties mt-1" onclick="similarOnClick('@property.PropertyId/@titleUrl')">
                                <div class="similar_properties_heading">
                                    <div class="float-left">@titleSimilar</div>
                                    <div class="float-right"><i class="fa fa-rupee-sign"></i> @property.ExpectedRent</div>
                                </div>
                                <div class="similar_properties_body">
                                    <div class="row">
                                        <div class="col-4">
                                            @if (string.IsNullOrEmpty(property.ImageUrl))
                                            {<img src="~/Content/images/no-image.jpg" class="img-thumbnail">}
                                            else
                                            {<img src="@property.ImageUrl" class="img-thumbnail">}
                                        </div>
                                        <div class="col-8">
                                            <h5>@titleDesc</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            }

        </div>
    </div>
    <div class="clearfix"></div>
    <!--<div class="search_list_begin">
        <div class="search-list-box neighbourhood_section overflow_hidden">
            <div class="row m-0 mb-3 overflow_hidden">
                <div class="col-6">-->

                    <!-- Nav pills -->
                    <!--<ul class="nav nav-pills nav-justified">
                        <li class="nav-item"><a class="nav-link active" data-target="#transit" data-toggle="tab" id="liTransit" onclick="map.showTransitInfo()">Transit</a></li>
                        <li class="nav-item"><a class="nav-link" data-target="#essentials" data-toggle="tab" onclick="map.showEssentialInfo()">Essentials</a></li>
                        <li class="nav-item"><a class="nav-link" data-target="#utility" data-toggle="tab" onclick="map.showUtilityInfo()">Utility</a></li>
                        <li class="nav-item"><a class="nav-link" data-target="#restaurents" data-toggle="tab" onclick="map.showRestaurentInfo()">Restaurants</a></li>
                    </ul>-->
                    <!-- Tab panes -->
                    <!--<div class="tab-content">
                        <div class="tab-pane active" id="transit">
                            <div id="accordion1">
                                <div class="card" id="transitInfo">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#airport" onClick="map.showTransitInfo('airport');">
                                            Airport
                                        </a>
                                    </div>
                                    <div id="airport" class="collapse show" data-parent="#accordion1">
                                        <div class="card-body">
                                            <table class="table table-bordered mt-2 locality-table">
                                                <tbody id="airport-list"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#bus">
                                                Bus Station
                                            </a>
                                        </div>
                                        <div id="bus" class="collapse" data-parent="#accordion1">
                                            <div class="card-body">
                                                <table class="table table-bordered mt-2 locality-table">
                                                    <tbody id="bus_station-list"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#train">
                                                Train Station
                                            </a>
                                        </div>
                                        <div id="train" class="collapse" data-parent="#accordion1">
                                            <div class="card-body">
                                                <table class="table table-bordered mt-2 locality-table">
                                                    <tbody id="train_station-list"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="essentials">
                            <div id="accordion2">
                                <div class="card" id="essentialInfo">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#hospital" onClick="map.showEssentialInfo('hospital');">
                                            Hospital
                                        </a>
                                    </div>
                                    <div id="hospital" class="collapse show" data-parent="#accordion2">
                                        <div class="card-body">
                                            <table class="table table-bordered mt-2 locality-table">
                                                <tbody id="hospital-list"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#bankAtm" onClick="map.showEssentialInfo('atm')">
                                                Bank & ATM
                                            </a>
                                        </div>
                                        <div id="bankAtm" class="collapse" data-parent="#accordion2">
                                            <div class="card-body">
                                                <table class="table table-bordered mt-2 locality-table">
                                                    <tbody>
                                                        <tr id="atm-list"></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#school">
                                                School
                                            </a>
                                        </div>
                                        <div id="school" class="collapse" data-parent="#accordion2" onClick="map.showEssentialInfo('school')">
                                            <div class="card-body">
                                                <table class="table table-bordered mt-2 locality-table">
                                                    <tbody id="school-list"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="utility">
                            <div id="accordion3">
                                <div class="card" id="utilityInfo">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#movieTheature" onClick="map.showUtilityInfo('movie_theature')">
                                            Movie Theature
                                        </a>
                                    </div>
                                    <div id="movieTheature" class="collapse show" data-parent="#accordion3">
                                        <div class="card-body">
                                            <table class="table table-bordered mt-2 locality-table">
                                                <tbody id="movie_theature-list"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#shoppingMall" onClick="map.showUtilityInfo('shopping_mall')">
                                                Shopping Mall
                                            </a>
                                        </div>
                                        <div id="shoppingMall" class="collapse" data-parent="#accordion3">
                                            <div class="card-body">
                                                <table class="table table-bordered mt-2 locality-table">
                                                    <tbody id="shopping_mall-list"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#gym" onClick="map.showUtilityInfo('gym')">
                                                Gym
                                            </a>
                                        </div>
                                        <div id="gym" class="collapse" data-parent="#accordion3">
                                            <div class="card-body">
                                                <table class="table table-bordered mt-2 locality-table">
                                                    <tbody id="gym-list"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="restaurents">
                            <div id="accordion4">
                                <div class="card" id="restaurentInfo">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#restaurent" onClick="map.showRestaurentInfo('restaurent')">
                                            Restaurent
                                        </a>
                                    </div>
                                    <div id="restaurent" class="collapse show" data-parent="#accordion4">
                                        <div class="card-body">
                                            <table class="table table-bordered mt-2 locality-table">
                                                <tbody id="restaurent-list"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-3 mb-2">

                    </div>
                    <div class="custom_map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

@*@Html.Partial("_PG_Book_Now", Model.PropertyMaster_PG.RoomDetail, new ViewDataDictionary { { "propertyId", propertyId } });*@

<script>
    function propertySlider() {
        $('.propertySliderBg').show();
        $('.propertySliderBox').show();
        $('body').css('overflow', 'hidden');
    }
    function propertySliderClose() {
        $('.propertySliderBg').hide();
        $('.propertySliderBox').hide();
        $('body').css('overflow', 'visible');
    }

    $(function () {
        $('.ratingScrollTo').click(function () {
            $('html, body').animate({
                scrollTop: $('#rating-section').offset().top
            })
        });
    });

    $('#reviewModal').on('click', '.gray-star-post svg', function () {
        if ($(this).hasClass('text-yellow')) {
            $(this).nextAll().removeClass('text-yellow');
        }
        else {
            $(this).prevAll().addClass('text-yellow');
        }
    });

    $('#bookNowModalBtn').click(function () {
        $('#bookNowModal').modal('show');
    });

    function similarOnClick(url) {
        if (url) {
            window.open('/property/details/' + url);
        }
    }
</script>
