﻿@using FH.Web.Security
<!-- bottom_schedule_modal begin here -->
<div class="bottom_back_drop active"></div>

<div class="bottom_custom_modal bottom_schedule_modal active" id="modalPopupScheduleVisit">
    <input type="hidden" id="scheduleVisitPropertyId" />
    <input type="hidden" id="selectedScheduleVisitBtnId" />
    <div class="bottom_close_btn schedule_visit_close">X</div> 
    <h2>&nbsp;</h2>   
    <div class="form-group" id="custom_date_time_btn">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Pick date and time for schedule">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
        </div>
    </div>
    <div id="custom_date_time" class="d_none">
        <div class="table-responsive">
            <div class="custom_date" data-value="">
                <ul>
                    <li class="date-box today">
                        <span>Today</span>
                        <span class="d-none">
                            <span class="year d-none"></span>
                            <span class="month"></span>
                            <span class="date lead"></span>
                            <span class="day"></span>
                        </span>
                    </li>
                    <li class="date-box otherDays">
                        <span>Tomorrow</span>
                        <span class="d-none">
                            <span class="year d-none"></span>
                            <span class="month"></span>
                            <span class="date lead"></span>
                            <span class="day"></span>
                        </span>
                    </li>
                    <li class="date-box otherDays">
                        <span class="year d-none"></span>
                        <span class="month"></span>
                        <span class="date lead"></span>
                        <span class="day"></span>
                    </li>
                    <li class="date-box otherDays">
                        <span class="year d-none"></span>
                        <span class="month"></span>
                        <span class="date lead"></span>
                        <span class="day"></span>
                    </li>
                    <li class="date-box otherDays">
                        <span class="year d-none"></span>
                        <span class="month"></span>
                        <span class="date lead"></span>
                        <span class="day"></span>
                    </li>
                    <li class="date-box otherDays">
                        <span class="year d-none"></span>
                        <span class="month"></span>
                        <span class="date lead"></span>
                        <span class="day"></span>
                    </li>
                    <li class="date-box otherDays">
                        <span class="year d-none"></span>
                        <span class="month"></span>
                        <span class="date lead"></span>
                        <span class="day"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <div class="custom_time" data-value="">
                <ul>
                    <li>
                        <span class="time"><span class="timeNumeric">10:00</span> <small>am</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">11:00</span> <small>am</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">12:00</span> <small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">01:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">02:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">03:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">04:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">05:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">06:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">07:00</span><small>pm</small></span>
                    </li>
                    <li>
                        <span class="time"><span class="timeNumeric">08:00</span><small>pm</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @if (CurrentUser.User != null && !string.IsNullOrEmpty(CurrentUser.User.UserId))
    {
        <div id="scheduleCheckMobile" class="d_none">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <p class="m-0">Your Visit Time</p>
                    <p class="font-weight-bold m-0 float-left" id="visitDate"></p>
                    <button class="float-right btn btn-primary" id="editVisitDate">Edit</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class=" col-md-12 mt-2">
                <div class="ui-widget">
                    <input type="button" onclick="scheduleVisit()" class="btn btn-primary btn-block" value="Schedule Visit">
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="scheduleCheckMobile" class="d_none">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <p class="m-0">Your Visit Time</p>
                    <p class="font-weight-bold m-0 float-left" id="visitDate"></p>
                    <button class="float-right btn btn-primary" id="editVisitDate">Edit</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 mt-2">
                <div class="form-group ui-widget">
                    <input type="text" id="scheduleMobile" class="form-control" placeholder="Mobile" autocomplete="off" value="" maxlength="10">
                </div>
            </div>
            <div class=" col-md-12">
                <div class="ui-widget">
                    <input type="button" onclick="isVisitorExist()" class="btn btn-primary btn-block" value="Next">
                </div>
            </div>
        </div>
        <div id="scheduleNewUser" class="d_none">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="text" id="scheduleName" class="form-control" placeholder="Name" autocomplete="off">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="text" id="scheduleEmail" class="form-control" placeholder="Email" autocomplete="off">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="button" onclick="newUserRegistration()" class="btn btn-primary btn-block" value="Next" />
                </div>
            </div>
        </div>
        <div id="scheduleVerifyUser" class="d_none">
            <div class="col-md-12">
                <div class="form-group ui-widget">
                    <input type="hidden" id="scheduleUser" />
                    <input type="text" id="scheduleOTP" class="form-control" placeholder="4 digit OTP" autocomplete="off" value="">
                </div>
            </div>
            <div class=" col-md-12">
                <div class="ui-widget">
                    <input type="button" onclick="scheduleVisitVerify()" class="btn btn-primary btn-block" value="Schedule Visit">
                </div>
            </div>
        </div>
    }
    <div id="scheduleSuccessBox" class="d_none">
        <div class="text-center">
            <img src="~/Content/images/successIcon.png" width="36">
            <h4>Thank You</h4>
            <p>
                Your visit has been scheduled.
            </p>
            <p class="smg"></p>
        </div>
    </div>

</div>
<!-- bottom_schedule_modal ends here -->

<script>
    $('#custom_date_time_btn').click(function () {
        $(this).hide();
        $('#custom_date_time').show();
    });

    var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    $('.date-box').each(function (i) {
        var newDate = new Date();
        // newDate.setDate(newDate.getDate() + (i+2))
        newDate.setDate(newDate.getDate() + (i))

        var $date = $(this);
        $date.find('.month').text(monthNames[newDate.getMonth()]);
        $date.find('.date').text(newDate.getDate());
        $date.find('.year').text(newDate.getFullYear());
        $date.find('.day').text(dayNames[newDate.getDay()]);
    });
    // dynamicDtae ends here

    $('.custom_date li').click(function () {
        $('.custom_date li').removeClass('active');
        $(this).addClass('active');
    });

    $('.custom_time li').click(function () {
        if ($('.custom_date li').hasClass('active')) {
            $('.custom_time li').removeClass('active');
            $(this).addClass('active');
            $('#custom_date_time').hide();
            $('#scheduleCheckMobile').show();

            var vDay = $('.custom_date li.active').find('.day').text();
            var vDate = $('.custom_date li.active').find('.date').text();
            var vMonth = $('.custom_date li.active').find('.month').text();
            var vYear = $('.custom_date li.active').find('.year').text();
            var vTime = $('.custom_time li.active').find('.time').text();
            var visitDate = $('#visitDate').text(vDay + ', ' + vDate + 'th ' + vMonth + ', ' + vTime);
            $('.custom_date').data('value', vDate.padStart(2, "0") + "-" + vMonth + "-" + vYear);
            $('.custom_time').data('value', vTime);
        }
    });

    $('#editVisitDate').click(function () {
        $('#custom_date_time').show();
        $('#scheduleCheckMobile').hide();
    });

    $('.today').click(function () {
        var hour, period;
        var current_hour = new Date().getHours();

        $('.custom_time li').each(function () {
            period = $(this).find("small", this).text() === "pm" ? 12 : 0;
            hour = parseInt($(".timeNumeric", this).text().split(':')[0]) + period;
            if (hour <= current_hour || hour === 24) {
                $(this).hide();
            }
        });
    });

    $('.otherDays').click(function () {
        $('.custom_time li').show();
    });
</script>
