﻿@using FH.Web.Security;
@using FH.Util;
@model VMPropertyListing


<div class="col-12 p-2" style="overflow:hidden;">
    <div class="float-left p-0">
        <span class="listingFound fontBold font-14">@Model.Paging.TotalRecord </span> <span class="listtingText font-14">Property Listing</span>
    </div>
    <div class="float-right p-0">
        <a href="#" class="btn btn-primary btn-sm search-box-btn">Filter</a>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-12 pl-2 pr-2">
    @if (Model.PropertyList != null && Model.PropertyList.Count()>0)
    {
        var wishList = "";
        if (Request.Cookies["wishlist"] != null)
        {
            wishList = Request.Cookies["wishlist"].Value;
        }
        foreach (var item in Model.PropertyList)
        {
            var propertyId = EncreptDecrpt.Encrypt(item.PropertyId);
            var propertyIdForCookies = propertyId.Replace('=', '_');

            bool visitScheduled = false;
            if (Request.Cookies["ScheduledVisit_" + propertyIdForCookies] != null)
            {
                visitScheduled = true;
            }

            bool isEnquiryAlreadySubmitted = false; ;
            if (Request.Cookies["Enquiry_" + propertyIdForCookies] != null)
            {
                isEnquiryAlreadySubmitted = true;
            }

            if (item.PropertyType.ToLower() == "flat")
            {
                var detailLink = "/property/details/" + item.PropertyId + "/" + (item.BhkType + "-Flat-In-" + item.Locality).ReplaceSpace();

                <div class="search-list-box">
                    <div class="card">
                        <a href="@detailLink">
                            <div class="white_box">
                                @{string title = item.Address; /*item.BhkType + " Flat In " + item.Locality;*/}
                                <h1 class="property_detail_title" title="@title">
                                    @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                </h1>
                            </div>
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                else
                                {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                <div class="property_offer">@item.Offer</div>
                                <div class="property_status">ID:@item.PropertyId</div>
                                <div class="property_shadow">
                                    <div class="property_price">@item.ExpectedRent</div>
                                    <div class="property_sqFt">@item.PropertySize Sq Ft</div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="row text-center">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Deposit</small></p>
                                    </div>
                                    <div class="col-3 border-r-1">
                                        <p class="m-0">@item.Bathrooms</p>
                                        <p class="m-0"><small>Bathroom</small></p>
                                    </div>
                                    <div class="col-5">
                                        <p class="m-0">@item.Furnishing</p>
                                        <p class="m-0"><small>Furnish</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div><hr class="hr10">
                        <div class="row text-center">
                            <div class="col-5 border-r-1">
                                @if (visitScheduled == false)
                            {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                            else
                            {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button> }
                            </div>
                            <div class="col-4 border-r-1">
                                @if (isEnquiryAlreadySubmitted == false)
                            {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">
                                Contact
                            </button>}
                            else
                            {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                            </div>
                            <div class="col-3">
                                @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                {
                                    <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }
                                else
                                {
                                    <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                }                                
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (item.PropertyType.ToLower() == "flatmate")
             {
              var detailLink = "/property/details/" + item.PropertyId + "/" + (item.BhkType + "-Flat-In-" + item.Locality).ReplaceSpace();
              <div class="search-list-box">
                                    <div class="card">
                                    <a href="@detailLink">
                                    <div class="white_box">
                                            @{string title = item.Address; /*"Flatmate for "+item.BhkType + " Flat In " + item.Locality;*/}
                                            <h1 class="property_detail_title" title="@title">
                                                @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                            </h1>
                                        </div>
                                        <div class="p-relative">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                        {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                        else
                                        {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                            <div class="property_status">ID:@item.PropertyId</div>
                                            <div class="property_shadow">
                                                <div class="property_price">@item.ExpectedRent</div>
                                                <div class="property_sqFt">@item.PropertySize Sq Ft</div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="row text-center">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0">@item.ExpectedDeposit</p>
                                                    <p class="m-0"><small>Deposit</small></p>
                                                </div>
                                                <div class="col-3 border-r-1">
                                                    <p class="m-0">@item.PreferredTenants</p>
                                                <p class="m-0"><small>Preferred</small></p>
                                            </div>
                                            <div class="col-5">
                                                <p class="m-0">@item.Furnishing</p>
                                                <p class="m-0"><small>Furnish</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="clearfix"></div><hr class="hr10">
                                <div class="row text-center">
                                    <div class="col-5 border-r-1">
@*                                        @if (visitScheduled == false)
                                        {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                        else
                                        {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button> }*@
                                    </div>
                                    <div class="col-4 border-r-1">
                                        @if (isEnquiryAlreadySubmitted == false)
                                        {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">
                                            Contact
                                        </button>}
                                        else
                                        {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                                    </div>
                                    <div class="col-3">
                                        @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                        {
                                            <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                        }
                                        else
                                        {
                                            <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                                                }
             if (item.PropertyType.ToLower() == "room")
              {
               var detailLink = "/property/details/"+item.PropertyId +"/Room-In-"+(item.Locality).ReplaceSpace();

              <div class="search-list-box">
                                    <div class="card">
                                        <a href="@detailLink">
                                            <div class="white_box">
                                                @{string title = item.Address;  /*"Room In " + item.Locality;*/}
                                                <h1 class="property_detail_title" title="@title">
                                                    @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                                </h1>
                                            </div>
                                            <div class="p-relative">
                                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                                {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                                else
                                                {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                                <div class="property_offer">@item.Offer</div>
                                                <div class="property_status">ID:@item.PropertyId</div>
                                                <div class="property_shadow">
                                                    <div class="property_price">@item.ExpectedRent</div>
                                                    <div class="property_sqFt">@item.PropertySize Sq Ft</div>
                                                </div>
                                            </div>
                                            <div class="card-body p-2">
                                                <div class="row text-center">
                                                    <div class="col-4 border-r-1">
                                                        <p class="m-0">@item.ExpectedDeposit</p>
                                                        <p class="m-0"><small>Deposit</small></p>
                                                    </div>
                                                    <div class="col-3 border-r-1">
                                                        <p class="m-0">@item.PreferredTenants</p>
                                                        <p class="m-0"><small>Available For</small></p>
                                                    </div>
                                                    <div class="col-5">
                                                        <p class="m-0">@item.Furnishing</p>
                                                        <p class="m-0"><small>Furnish</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="clearfix"></div><hr class="hr10">
                                        <div class="row text-center">
                                            <div class="col-5 border-r-1">
@*                                                @if (visitScheduled == false)
                                                {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                                else
                                                {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button> }*@
                                            </div>
                                            <div class="col-4 border-r-1">
                                                @if (isEnquiryAlreadySubmitted == false)
                                                {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">Contact</button>}
                                                else
                                                {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                                            </div>
                                            <div class="col-3">
                                                @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                                {
                                                    <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                                }
                                                else
                                                {
                                                    <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                    }
                    if (item.PropertyType.ToLower() == "pg")
                    {
                        var detailLink = "/property/details/" + item.PropertyId + "/PG-In-" + (item.Locality).ReplaceSpace();

                        <div class="search-list-box">
                            <div class="card">
                                <a href="@detailLink">
                                    <div class="white_box">
                                        @{string title = item.Address;  /*"PG In " + item.Locality;*/}
                                        <h1 class="property_detail_title" title="@title">
                                            @(title.Length > 40 ? title.Substring(0, 40) + ".." : title)
                                        </h1>
                                    </div>
                                    <div class="p-relative">
                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                        {<img class="card-img-top" src="~/Content/images/no-image.jpg" alt="">}
                                        else
                                        {<img class="card-img-top" src="@item.ImageUrl" alt="">}
                                        <div class="property_offer">@item.Offer</div>
                                        <div class="property_status">ID:@item.PropertyId</div>
                                        <div class="property_shadow">
                                            <div class="property_price">@item.ExpectedRent</div>
                                            <div class="property_sqFt">@item.TenantGender</div>
                                        </div>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row text-center">
                                            <div class="col-4 border-r-1">
                                                <p class="m-0">@item.ExpectedDeposit</p>
                                                <p class="m-0"><small>Deposit</small></p>
                                            </div>
                                            <div class="col-3 border-r-1">
                                                <p class="m-0">@(string.IsNullOrEmpty(item.ApartmentType)?"NA":item.ApartmentType)</p>
                                                <p class="m-0"><small>Room</small></p>
                                            </div>
                                            <div class="col-5">
                                                <p class="m-0">@(item.Bathrooms == 1 ? "Yes" : "No")</p>
                                                <p class="m-0"><small>Fooding</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="clearfix"></div><hr class="hr10">
                                <div class="row text-center">
                                    <div class="col-5 border-r-1">
@*                                        @if (visitScheduled == false)
                                        {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                        else
                                        {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Scheduled</button> }*@
                                    </div>
                                    <div class="col-4 border-r-1">
                                        @if(isEnquiryAlreadySubmitted == false)
                                        {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">Contact</button>}
                                        else
                                        {<button type="button" class="btn btn-primary bottom_enquiry_modal_btn" style="pointer-events:none">Contacted</button>}
                                    </div>
                                    <div class="col-3">
                                        @if (!string.IsNullOrWhiteSpace(wishList) && wishList.IndexOf(item.PropertyId) > -1)
                                        {
                                            <i class="fav-icon fas fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                        }
                                        else
                                        {
                                            <i class="fav-icon far fa-heart text-orange" data-pid="@item.PropertyId"></i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                                                }


                                            }
                                            @Html.Partial("_Pager", Model.Paging)
                                            
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/no-data-found.png" class="img-fluid" />
                                            }
</div>

