﻿@using FH.Web.Security
@using FH.App.Entity
@using FH.Util;
@model IEnumerable<PropertyList>
<div id="dvScheduleVisit"></div>
@if (Model != null && Model.Count() > 0)
{    
    <div class="container mb-4 mt-4">
        <div class="row">
            <div class="col-8 pl-0">
                <div class="search_list_begin">
               @foreach (var item in Model)
               {
                   var propertyId = EncreptDecrpt.Encrypt(item.PropertyId);
                   var propertyIdForCookies = propertyId.Replace('=', '_');

                   bool visitScheduled = false;
                   if (Request.Cookies["ScheduledVisit_" + propertyIdForCookies] != null)
                   {
                       visitScheduled = true;
                   }

                   bool isEnquiryAlreadySubmitted = false; ;
                   if (Request.Cookies["Enquiry_" + propertyIdForCookies] != null)
                   {
                       isEnquiryAlreadySubmitted = true;
                   }

                    <div class="search-list-box">
                        <div class="card">
                            @if (item.PropertyType.ToLower() == "pg")
                            {
                                var detailLink = "/property/details/" + item.PropertyId + "/PG-In-" + @item.Locality.ReplaceSpace();
                                <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                    <div class="col-4 pr-0">
                                        <div class="p-relative">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                            {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                            else
                                            { <img src="@item.ImageUrl" class="card-img-top">}

                                            <div class="property_status">ID:@item.PropertyId</div>                                          
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h2>PG In @item.Locality</h2>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ApartmentType</p>         
                                                    <p class="m-0"><small>Room Type</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                    <p class="m-0"><small>Rent</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                    <p class="m-0"><small>Security Deposit</small></p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                    <p class="m-0"><small>Preferred Tenant</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.TenantGender</p>
                                                    <p class="m-0"><small>Available For</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@(item.Bathrooms == 1 ? "Yes" : "No")</p>
                                                    <p class="m-0"><small>Fooding</small></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.PropertyType.ToLower() == "flat")
                            {
                                var detailLink = "/property/details/" + (item.PropertyId + "/" + item.BhkType + "-Flat-In-" + item.Locality).ReplaceSpace();
                                <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                    <div class="col-4 pr-0">
                                        <div class="p-relative">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                            {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                            else
                                            { <img src="@item.ImageUrl" class="card-img-top">}

                                            <div class="property_status">ID:@item.PropertyId</div>                                          
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h2>@item.BhkType Flat In @item.Locality</h2>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ApartmentType</p>
                                                    <p class="m-0"><small>Apartment</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                    <p class="m-0"><small>Rent</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                    <p class="m-0"><small>Security Deposit</small></p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">Semi-furnished</p>
                                                    <p class="m-0"><small>@item.Furnishing</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                                    <p class="m-0"><small>Area</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                    <p class="m-0"><small>Available For</small></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.PropertyType.ToLower() == "flatmate")
                            {
                                var detailLink = "/property/details/" + (item.PropertyId + "/Flatmate-for-" + item.BhkType + "-" + item.Locality).ReplaceSpace();
                                <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                    <div class="col-4 pr-0">
                                        <div class="p-relative">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                            {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                            else
                                            { <img src="@item.ImageUrl" class="card-img-top">}

                                            <div class="property_status">ID:@item.PropertyId</div>                                           
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h2>Flatmate for @item.BhkType Flat in @item.Locality</h2>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ApartmentType</p>
                                                    <p class="m-0"><small>Apartment</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                    <p class="m-0"><small>Rent</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                    <p class="m-0"><small>Security Deposit</small></p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">Semi-furnished</p>
                                                    <p class="m-0"><small>@item.Furnishing</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                                    <p class="m-0"><small>Area</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                    <p class="m-0"><small>Available For</small></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            else if (item.PropertyType.ToLower() == "room")
                            {
                                var detailLink = "/property/details/" + item.PropertyId + "/Room-In-" + @item.Locality.ReplaceSpace();
                                <div class="row cardClick" onclick="openWindow(event,'@detailLink')">
                                    <div class="col-4 pr-0">
                                        <div class="p-relative">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                            {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                            else
                                            { <img src="@item.ImageUrl" class="card-img-top">}

                                            <div class="property_status">ID:@item.PropertyId</div>                                          
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h2>Room in @item.Locality</h2>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.ApartmentType</p>
                                                    <p class="m-0"><small>Apartment</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                                    <p class="m-0"><small>Rent</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                                    <p class="m-0"><small>Security Deposit</small></p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">Semi-furnished</p>
                                                    <p class="m-0"><small>@item.Furnishing</small></p>
                                                </div>
                                                <div class="col-4 border-r-1">
                                                    <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                                    <p class="m-0"><small>Area</small></p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                                    <p class="m-0"><small>Available For</small></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="search_list_btn">
                                <ul class="property_btn_list dontOpen">
                                    <li>
                                        @if (visitScheduled == false)
                                        {<button type="button" id="btnScheduleVisit_@item.PropertyId" onclick="getScheduleVisit('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_schedule_modal_btn">Schedule Visit</button>}
                                        else
                                        {<button type="button" class=" btn btn-primary bottom_schedule_modal_btn" style="pointer-events:none">Visit Scheduled</button> }
                                    </li>
                                    <li>
                                        @if (isEnquiryAlreadySubmitted == false)
                                        {<button type="button" id="btnEnquiry_@item.PropertyId" onclick="getContactDetail('@propertyId','@item.PropertyId');" class="btn btn-primary btn-primary-border bottom_enquiry_modal_btn">
                                            Contact
                                        </button>}
                                        else
                                        {<button type="button" class="btn btn-primary" style="pointer-events:none">Contacted</button>}
                                    </li>
                                    <li>
                                        <span class="wishlist" data-pid="@item.PropertyId"><i class="fa fa-times"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
               }
                </div>
            </div>
        </div>
    </div>
}
else
{
 <div class="container" style="">
  <div class="col-md-8 offset-md-2">
  <img src="~/Content/images/no-data-found.png" class="img-fluid" />
        </div>
    </div>
}

<script>
    $(function () {
        $('.wishlist').click(function () {
            var count = $('.wishlist_count').data('count');
            $('.wishlist_count').data('count', count - 1);
            $('.wishlist_count sup').text(count - 1);
            removeToWishList($(this).data('pid'));
            $(this).closest('.search-list-box').remove();
        });
    });
</script>

