﻿@using FH.Web.Security
@using System.Configuration;
@using FH.App.Entity;
@model VMProperty
@{
    string title = "";
    string keywords = "";
    string lat = "", lng = "";
    if (Model.PropertyMaster != null && Model.PropertyMaster.PropertyDetail != null)
    {
        lat = Model.PropertyMaster.PropertyDetail.Latitude;
        lng = Model.PropertyMaster.PropertyDetail.Longitude;
        string propertyType = Model.PropertyMaster.PropertyDetail.PropertyType;
        if (string.IsNullOrWhiteSpace(Model.MetaTitle) && propertyType.ToUpper() == "FLAT")
        {
            title = "Rent " + Model.PropertyMaster.PropertyDetail.BhkType + " " + Model.PropertyMaster.PropertyDetail.ApartmentType + " Apartment in " + Model.PropertyMaster.PropertyDetail.Locality + "-" + Model.PropertyMaster.PropertyDetail.PropertySize + " Sq-ft";
            keywords = "Rent,flat,1 BHK,2 BHK,3 BHK,4 BHK," + Model.PropertyMaster.PropertyDetail.ApartmentType + "," + Model.PropertyMaster.PropertyDetail.Locality;
        }
        else if (string.IsNullOrWhiteSpace(Model.MetaTitle) && propertyType.ToUpper() == "FLATMATE")
        {
            title = "Flatmate for " + Model.PropertyMaster.PropertyDetail.BhkType + " " + Model.PropertyMaster.PropertyDetail.ApartmentType + " Apartment in " + Model.PropertyMaster.PropertyDetail.Locality + "-" + Model.PropertyMaster.PropertyDetail.PropertySize + " Sq-ft";
            keywords = "Rent,flatmate,1 BHK,2 BHK,3 BHK,4 BHK," + Model.PropertyMaster.PropertyDetail.ApartmentType + "," + Model.PropertyMaster.PropertyDetail.Locality;
        }
        else if (string.IsNullOrWhiteSpace(Model.MetaTitle) && propertyType.ToUpper() == "ROOM")
        {
            title = Model.PropertyMaster.PropertyDetail.RoomType + " for " + Model.PropertyMaster.PropertyDetail.ApartmentType + " Apartment in" + Model.PropertyMaster.PropertyDetail.Locality + "-" + Model.PropertyMaster.PropertyDetail.PropertySize + " Sq-ft";
            keywords = "Rent,Room,Private Room,Shared Room," + Model.PropertyMaster.PropertyDetail.ApartmentType + "," + Model.PropertyMaster.PropertyDetail.Locality;
        }
    }
    else if (Model.PropertyMaster_PG != null && Model.PropertyMaster_PG.PropertyDetail_PG != null)
    {
        lat = Model.PropertyMaster_PG.PropertyDetail_PG.Latitude;
        lng = Model.PropertyMaster_PG.PropertyDetail_PG.Longitude;
        title = "Paying Guest For " + Model.PropertyMaster_PG.PropertyDetail_PG.TenantGender + " in " + Model.PropertyMaster_PG.PropertyDetail_PG.Locality;
        keywords = "Paying Guest,PG,For Male,Female,Single,Sharing " + Model.PropertyMaster_PG.PropertyDetail_PG.Locality;
    }

    ViewBag.Title = string.Concat(string.IsNullOrWhiteSpace(Model.MetaTitle) ? title : Model.MetaTitle, " | ", WebConfigHelper.WebsiteName);
    ViewBag.MetaDesc = string.IsNullOrWhiteSpace(Model.MetaDesc) ? title : Model.MetaDesc;
    ViewBag.MetaKeyword = string.IsNullOrWhiteSpace(Model.MetaKeyword) ? keywords : Model.MetaKeyword;

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    if (!Request.Browser.IsMobileDevice)
    {@Html.Partial("_PartialHeader")}
else
{
    @Html.Partial("_Header_Mobile")
}

var googleApiKey = ConfigurationManager.AppSettings["GooglePlaceApiKey"];
}
<style>
    .block-info {
        padding: 30px 20px;
        background-color: #ffffff;
        border: 1px solid #ccc;
    }

    h3 {
        line-height: 1.35;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: #151515;
        letter-spacing: 0;
    }

    .bg-white {
        background-color: #ffffff;
    }

    .overviewText {
        color: #989393;
    }

    #map {
        width: 100%;
        height: 450px;
        border: 1px solid #ccc;
    }

    .infoDiv {
        height: auto;
        width: auto;
        max-width: 120px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

@Html.Raw(Model.MetaJson)
<input type="hidden" id="isUserLogin" value="@(CurrentUser.User!=null && !string.IsNullOrEmpty(CurrentUser.User.UserId)?"1":"0")" />
<input type="hidden" id="hdnPropertyId" value="@ViewBag.PropertyId" />
<input type="hidden" id="hdnCity" value="GN" />
<input type="hidden" id="hdnLat" value="@lat" />
<input type="hidden" id="hdnLng" value="@lng" />
@{
    var propertyIdForCookies = ViewBag.PropertyId.Replace('=', '_');

    bool visitScheduled = false;
    if (Request.Cookies["ScheduledVisit_" + propertyIdForCookies] != null)
    {
        visitScheduled = true;
    }

    bool isEnquiryAlreadySubmitted = false; ;
    if (Request.Cookies["Enquiry_" + propertyIdForCookies] != null)
    {
        isEnquiryAlreadySubmitted = true;
    }

    if (Request.Browser.IsMobileDevice)
    {
        if (Model.PropertyMaster != null)
        {
            @Html.Partial("_Property_Detail_Mobile", Model.PropertyMaster, new ViewDataDictionary { { "visitScheduled", visitScheduled }, { "enquiry", isEnquiryAlreadySubmitted } });
        }
        else
        {
            @Html.Partial("_Property_Detail_PG_Mobile", Model, new ViewDataDictionary { { "visitScheduled", visitScheduled }, { "enquiry", isEnquiryAlreadySubmitted } });
        }
        <div id="dvScheduleVisit"></div>
    }
    else
    {
        <div id="dvScheduleVisit"></div>
        if (Model.PropertyMaster != null)
        {
            @Html.Partial("_Property_Detail_Desktop", Model, new ViewDataDictionary { { "visitScheduled", visitScheduled }, { "enquiry", isEnquiryAlreadySubmitted } });
        }
        else
        {
            @Html.Partial("_Property_Detail_PG_Desktop", Model, new ViewDataDictionary { { "visitScheduled", visitScheduled }, { "enquiry", isEnquiryAlreadySubmitted } });
        }
    }
}

@section Scripts{
    @if (Request.Browser.IsMobileDevice)
    {
@*        <script src="https://maps.googleapis.com/maps/api/js?key=@googleApiKey&libraries=places,geometry"></script>*@
        <script type="text/javascript" src="~/Content/js/m.gmap.js"></script>
    }
    else
    {
@*        <script src="https://maps.googleapis.com/maps/api/js?key=@googleApiKey&libraries=places,geometry">
        </script>*@
        <script type="text/javascript" src="~/Content/js/gmap.js"></script>
    }

    <script>
        $(function () {
            nearBy();
            $('#liTransit').click();
            $('#transit').addClass('active');
        });
    </script>
}