﻿@using FH.App.Entity;
@using FH.Web.Security;
@model  PropertySearchParameter
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.MetaKeyWord = Model.MetaKeyword;
    ViewBag.MetaDesc = Model.MetaDesc;

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

}

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Header_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
}

@Html.Raw(Model.MetaJson)
<input type="hidden" id="isUserLogin" value="@(CurrentUser.User!=null && !string.IsNullOrEmpty(CurrentUser.User.UserId)?"1":"0")" />
<input type="hidden" id="hdnPtype" value="@Model.PropertyType" />
<input type="hidden" id="hdnCity" value="@Model.City" />
<input type="hidden" id="hdnLocality" value="@(string.IsNullOrWhiteSpace(Model.SearchText)?Model.Locality:Model.SearchText)" />
<input type="hidden" id="hdnLat" value="@Model.Latitude" />
<input type="hidden" id="hdnLng" value="@Model.Longitude" />
@if (Model.PropertyType == "FLAT" || Model.PropertyType == "FLATMATE")
{
    <input type="hidden" id="hdnApartment" value="@Model.Apartment" />
    <input type="hidden" id="hdnBhkType" value="@Model.Bhk" />
    <input type="hidden" id="hdnFurnishingType" value="@Model.FurnishingType" />
    <input type="hidden" id="hdnPreferredTenant" value="@Model.PreferredTenant" />
    <input type="hidden" id="hdnFacing" value="@Model.Facing" />
    if (Model.PropertyType == "FLATMATE")
    { <input type="hidden" id="hdnRoomType" value="@Model.Facing" />}
}
else if (Model.PropertyType == "ROOM")
{
    <input type="hidden" id="hdnApartment" value="@Model.Apartment" />
    <input type="hidden" id="hdnRoomType" value="@Model.RoomType" />
    <input type="hidden" id="hdnPreferredTenant" value="@Model.PreferredTenant" />
}
else if (Model.PropertyType == "PG")
{
    <input type="hidden" id="hdnRoomType" value="@Model.RoomType" />
    <input type="hidden" id="hdnTenantGender" value="@Model.TenantGender" />
}
<input type="hidden" id="hdnMinPrice" value="@Model.MinPrice" />
<input type="hidden" id="hdnMaxPrice" value="@Model.MaxPrice" />
<input type="hidden" id="hdnPage" value="@Model.PageIndex" />

@if (Request.Browser.IsMobileDevice)
{
    @Html.Partial("_Search_Filter_Mobile", Model);
    <div class="search-list-section bg_top pb-2" id="dvLoadProperty">
        @*<img src="~/Content/images/mSearchLoading.gif" class="img-fluid" />*@
    </div>
}
else
{
    @Html.Partial("_Search_List_Desktop", Model);
}

<div id="dvScheduleVisit"></div>

@section Scripts
   {

    @if (!Request.Browser.IsMobileDevice)
    {
        <script>
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 50000,
                    values: [@Model.MinPrice, @Model.MaxPrice],
                    slide: function (event, ui) {
                        $("#amount").val("Rs " + ui.values[0] + " -" + ui.values[1]);
                        $('#hdnMinPrice').val(ui.values[0]);
                        $('#hdnMaxPrice').val(ui.values[1]);
                    }
                });

                $("#amount").val("Rs " + $("#slider-range").slider("values", 0) +
         " - " + $("#slider-range").slider("values", 1));

                $('#slider-range').slider({ change: function () { propertyLoad('', true) } });

                propertyLoad($('#hdnPage').val(), false);
            });
        </script>
    }
    else
    {
        <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 200000,
                values: [@Model.MinPrice, @Model.MaxPrice],
                slide: function (event, ui) {
                    $("#amount").val("Rs " + ui.values[0] + " -" + ui.values[1]);
                    $('#hdnMinPrice').val(ui.values[0]);
                    $('#hdnMaxPrice').val(ui.values[1]);
                }
            });

            $("#amount").val("Rs " + $("#slider-range").slider("values", 0) +
     " - " + $("#slider-range").slider("values", 1));

            propertyLoad($('#hdnPage').val(),false);
        });
        </script>
    }
    @Html.Partial("_AutoSearchApi")

    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Content/js/jquery-ui.min.js")"></script>

    @if (Request.Browser.IsMobileDevice)
    {
        <script src="@Url.Content("~/Content/js/jquery.ui.touch-punch.min.js")"></script>
    }

}

