﻿@using FH.App.Entity
@model MyCurrentStayDTO
@{
    var propertyDetailPageUrl = ViewData["propertyDetailPageUrl"].ToString();
}
<style>
    .form-control {
        border: 2px solid #ced4da;
        height: calc(1.5em + .75rem + 0px) !important;
    }

    .dv-list-item {
        line-height: 31px;
        padding: 0px 23px;
        border-radius: 0px;
    }
</style>
 
<div class="container mb-4 mt-3 search_detail_page " style=" margin-top: 100px !important;">
    <div class="search-list-box">
        <div class="card" style="padding-bottom: 0px;">
            <div class="row">
                <div class="col-12">
                    @*<h2 class="property_detail_title2">Stay Details</h2>*@
                    <div class="">
                        <h3 class="text-center" style="font-size: 22px; color: #f80103;">
                            Welcome @if (Model.PropertyName != null)
                            {
                                <span>To @Model.PropertyName</span>
                            }
                        </h3>
                        <h3 class="text-center" style=" margin-top: -12px; color: #0437fb;">@Model.Name</h3>
                        <div class="row" style=" color: #b5acac;">
                            <div class="col-xs-6 col-6 text-center">
                                <h5>
                                    <a href="@propertyDetailPageUrl" target="_blank" style="text-decoration: underline; color: #b5acac;"> @Model.PropertyId</a>
                                </h5>
                                <h6 style="margin-top: -9px;">Property No.</h6>
                            </div>
                            <div class="col-xs-6 col-6 text-center" style=" border-left: 1px solid #0437fb;">
                                <h5>
                                    @if (Model.RoomNo != 0)
                                    {@Model.RoomNo }
                                else
                                { <span>Not Alloted</span>}
                                </h5>
                                <h6 style="margin-top: -9px;">Room No.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-list-box">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <h2 class="property_detail_title2">Pay Your Rent</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="dv-list-item payment-type active" data-key="rent">Rent</div>
                <div class="dv-list-item payment-type" data-key="security">Security</div>
                <div class="dv-list-item payment-type" data-key="checkout">Check Out</div>
               @* <div class="dv-list-item payment-type" data-key="complaint">Complaint</div>*@
            </div>
        </div>
        <div class="row paytype rent">
            <div class="col-2">
                <div class="form-group">
                    <input type="text" id="rentAmount" value="@Model.MonthlyRent" class="form-control" data-rent="@Model.MonthlyRent" readonly />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" id="rentForMonthStartDate" value="@Model.FromDate.ToString("dd MMM yyyy")" class="form-control" placeholder="From Date" readonly />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" id="rentForMonthEndDate" value="@Model.ToDate.ToString("dd MMM yyyy")" class="form-control" placeholder="To Date" readonly />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" id="useCode" class="form-control" placeholder="Promo Code" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    @if (Model.MonthlyRent > 0)
                    {
                        <button id="btnPayRent" style="border-radius: 0px; color: #fff;" class="btn btn-primary btn-primary-border btn-block">Pay Now</button>
                    }
                    else
                    {
                        <button id="" style="border-radius: 0px;color: #fff;" class="btn btn-success btn-success-border btn-block">Already Paid</button>
                    }
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    By Click on Pay Now <a href="https://haltn.com/term-and-condition" target="_blank">Agree Terms & Condition</a>
                </div>
            </div>
        </div>
        <div class="row paytype security" style="display:none">
            <div class="col-2">
                <div class="form-group">
                    <input type="text" id="securityAmount" class="form-control" placeholder="Amount" value="@Model.SecurityAmountDue" data-security-due="@Model.SecurityAmountDue" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button id="btnPaySecurity" style="border-radius: 0px; color: #fff;" class="btn btn-primary btn-primary-border btn-block">Pay Now</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    By Click on Pay Now <a href="https://haltn.com/term-and-condition" target="_blank">Agree Terms & Condition</a>
                </div>
            </div>
        </div>
        <div class="row paytype checkout" style="display:none">
            @if (Model.CheckOutDate.Year > 1)
            {
            <div class="col-12">
                <label><b>Already Requested On @Model.CheckOutDate.ToString("dd MMM yyyy") </b> </label>
                <br />
                <label> For any changes please contact our team. </label>
            </div>
            }
            else if (Model.CheckOutDate.Year == 1)
            {
                <div class="col-2">
                    <div class="form-group">
                        <input type="text" id="checkoutDate" class="form-control" placeholder="Check Out Date" value="" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <button id="btnCheckOut" style="border-radius: 0px; color: #fff;" class="btn btn-primary btn-primary-border btn-block">Check Out</button>
                    </div>
                </div>
            }
        </div>
        <div class="row paytype complaint" style="display:none">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Maintenance Complaint:</label>
                    </div>
                    <div class="col-6">
                        <a href="tel:+91 92896-18011" class="mobile-No">+91 98185-01682</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Resheptionist Complaint:</label>
                    </div>
                    <div class="col-6">
                        <a href="tel:+91 8882185445" class="mobile-No">+91 88821-85445</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Payment Related Issue:</label>
                    </div>
                    <div class="col-6">
                        <a href="tel:+91 9289618002" class="mobile-No">+91 92896-18002</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Food Related Issue:</label>
                    </div>
                    <div class="col-6">
                        @if (Model.PropertyId == 1267 || Model.PropertyId == 1270 || Model.PropertyId == 1275)
                        {
                            <a href="tel:+91 8209429827" class="mobile-No">+91 82094-29827</a>
                        }
                        else
                        {
                            <a href="tel:+91 9761424231" class="mobile-No">+91 97614-24231</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

