﻿@using FH.App.Web.ViewModel

@model VMPayment


<!-- You can hide this button -->
<button id="paynowbtnp" class="btn btn-primary">Pay Now</button>
<br />
<br />
<button id="Cencle-P" class="btn btn-primary">Cancel</button>
<br />
<p>Please do Not Refresh the Page. Payment loading.....</p>
<br />
<style>
    div#paymentDiv {
        width: 90%;
        background-color: #a4a4a4;
        position: fixed;
        text-align: center;
        top: 200px;
        margin-left: 5%;
        padding: 50px;
        border-radius: 14px;
    }
</style>

<script>
    $("#paynowbtnp").click(function () {
        $("#nonseamless").submit();
    });
    $("#Cencle-P").click(function () {
        $("#paymentDiv").html("");
        window.location.href = "/mystay/paynow";
    });
</script>




<head id="Head1" runat="server">
</head>
<body>
    <form id="nonseamless" method="post" name="redirect" action="https://secure.ccavenue.com/transaction.do?command=initiateTransaction">
        <input type="hidden" id="encRequest" name="encRequest" value="@Model.txnToken" />
        <input type="hidden" name="access_code" id="Hidden1" value="@Model.PaytmMID" />
    </form>
</body>


