div::-webkit-scrollbar{
    display: none;
    -webkit-overflow-scrolling: touch;
  }

p{ font-size:14px !important;}
input{ font-size:14px !important;}
a{ color:#da241a;}
a:hover{color:#da241a;}

.btn-primary {
    background: #da241a;
    transition: all 0.45s;
    border: 0;
    border-radius: 25px;
    padding: 4px 20px;
    transition:all 0.45s;
    font-size:12px;
}


.btn-big {
    padding: 8px 20px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited{
    border:1px solid #da241a !important;
    background:#da241a !important;
    outline:0px !important;
    border:0px !important;
    box-shadow: none !important;
}

.btn-primary-border{background: none !important;
border: 2px solid #da241a !important;
color: #da241a;
padding: 2px 12px !important;
font-size: 13px !important;
}

.btn-primary-border:hover, .btn-primary-border:focus{ border: 2px solid #da241a !important; color:#fff;}

.bg-primary{
    background-color: #EE2E24 !important;
}

.validation_error{ position: fixed; bottom: 20px; width: 80%; height: auto; text-align: center; left: 0px; right: 0px; margin-left: auto; margin-right: auto; background: #da241a; z-index: 10000; color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 39px #333; transition: all 0.45s; transform: translateY(100px);}
.validation_error.active{ transform: translateY(0px);}

.success-message{position: fixed; bottom: 20px; width: 80%; height: auto; text-align: center; left: 0px; right: 0px; margin-left: auto; margin-right: auto; background: #4caf50; z-index: 10000; color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 39px #333; transition: all 0.45s; transform: translateY(100px);}
.success-message.active{ transform: translateY(0px);}


.container-boom{ min-height: 450px;}
.hr10{margin-top: 10px; margin-bottom: 10px;}

.bg-gray{ background:#f1f1f1;}
.bg-dark-gray{ background:#5a5a5a;}
.bg-dark-orange{ background:#f44336;}
.text-orange{ color:#EE2E24;}
.text-light-gray{ color:#ccc;}
.p-relative{ position: relative;}
.font-14{ font-size:14px;}
label{margin-bottom: 2px;}
.p13{ font-size: 13px !important;}
.d_none{ display: none;}
.overflow_hidden{position: relative !important; 
                 /*overflow: hidden !important;*/
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Content/images/loader.gif) 50% 50% no-repeat rgba(245,245,245,.85);
    z-index: 1000000;
    display: none;
}


.modal-header {
    background: #EE2E24;
    color:#fff;
    padding: 10px;
}
.modal-header .close {
    color: #fff;
    opacity: 1;
}
.modal-title{ font-size:18px;}

.title2{ font-size:18px; position: relative; display:inline;}
.title2:before{ position: absolute; content: ''; left: 0px; bottom:-8px; width:100%; height: 1px; background:#999;}
.title2:after{ position: absolute; content: ''; left: 0px; right:0px; margin-left:auto; margin-right:auto; bottom:-9px; width:40%; height: 3px; background:#5a5a5a;}

.title2_white{ font-size:18px; position: relative; display:inline;}
.title2_white:before{ position: absolute; content: ''; left: 0px; bottom:-8px; width:100%; height: 1px; background:#ccc;}
.title2_white:after{ position: absolute; content: ''; left: 0px; right:0px; margin-left:auto; margin-right:auto; bottom:-9px; width:40%; height: 3px; background:#fff;}


header{ padding:7px 0px; border-bottom:1px solid #ccc;}
header .post-property-btn{margin-top: 3px;
    padding: 3px 12px;
    font-size: 12px;}
header .logo_brand img{ width:148px; /*height:32px;*/ float:left;}
header .logo_brand span{ color:#EE2E24; font-weight: bold; font-size: 18px; float:left; line-height: 27px;
    margin-left: 5px;}

.menuBtn{margin-right: 10px;
    cursor: pointer;
    float: right;}
.backDropBg { background:rgba(0, 0, 0, 0.5); position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000 !important; transition:all 0.45s; transform:translateY(-100%); -webkit-transform:translateY(-100%);}
.backDropShow{-webkit-transform:translateY(0px) !important; transform:translateY(0px) !important;}
.customMenuRight{ width:250px; height:100%; background:#fff; border-left:1px solid #ccc; position:fixed; top:0; left:0; z-index:1000; transition:all 0.45s; transform:translateX(-500px); -webkit-transform:translateX(-500px); box-shadow:2px 4px 40px #888;overflow:auto;}
.customMenuRight ul{ margin:0px; padding:0px;}
.customMenuRight ul li{ list-style:none;}
.customMenuRight ul li a{ text-decoration:none; padding:10px 18px !important; border-top:1px solid #f1f1f1; display:block; transition:all 0.45s; color:#555; font-size:14px;}
.customMenuRight ul li a:hover{ padding-left:25px !important; background:#f1f1f1;}
.customMenuClose{ float:right; padding:18px; cursor:pointer; color:#EE2E24; font-weight:bold; padding-top: 2px;}
.customMenuRightActive{ transform:translateX(0); -webkit-transform:translateX(0);}

.customMenuRight ul li:first-child{padding: 20px 10px;}
.customMenuRight ul li:first-child a{border:0px !important; padding-bottom: 4px !important;}

.customMenuRight .btn-lr{ display:inline !important; padding: 2px 15px !important; color:#fff !important;}


.mContact{ position:fixed; bottom:5px; right:15px; z-index:100;}
.mContact ul li{list-style: none;
    width: 50px;
    height: 50px;
    background: #EE2E24;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;   
    margin:12px 0px;
}
.mContact ul li a{ color:#fff;}
.mContact .mCircleMore li{padding: 12px 18px; display:none;}
.mContact .mCirclePlus li{padding: 12px 18px; transition:all 0.45s;}
.mCircleActive{transform: rotate(135deg);}


.bg_top {
    background: url(../Content/images/howItWorks.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
}
.tab_li {
    float: left;
    width: 25%;
    height: 32px;
    cursor: pointer;
}
.tab_pill {
    background: #000;
    color: #fff;
    display: block;
    height: 34px;
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
    border-left: 1px solid #939393;
    background: #393837db;
    transition: all .8s ease-in-out;
    color: rgba(255,255,255,.8);
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    position: relative;
    text-decoration: none;
    color: white;
}
.tab_form_pill {
    background: #000;
    color: #fff;
    display: block;
    height: 32px;
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
    border-left: 1px solid #212529;
    background: #f1f1f1;
    transition: all .8s ease-in-out;
    color: rgba(255,255,255,.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
    position: relative;
    text-decoration: none;
    color: white;
}
.pill3_radius_left {
    border-radius: 3px 0 0 3px;
}
.pill3_radius {
    border-right: 1px solid #939393;
    border-radius: 0 3px 3px 0;
}
.pill3_form_radius {
    border-right: 1px solid #212529;
    border-radius: 0 3px 3px 0;
}

.current_form {
    background: #000;
    color: #fff!important;
}
.currently:after {
    content: ' ';
    position: absolute;
    margin: 0 0 0 -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    left: 50%;
    top: 33px;
}
.search_placeholder {
    color: #666;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(241, 241, 241); 
  overflow-x: hidden;
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}


.tab_li {
    float: left;
    width: 25%;
    height: 32px;
    cursor: pointer;
    list-style: none;
}

.search-box{ width:100%; height:100%; background:#5a5a5a; position:fixed; top:0px; left:0px; z-index:10000; transition:all 0.45s; transform:translateX(-100%); overflow-x:hidden;}
.search-box.active{ transform: translateX(0px);}
.search-box-header{background-color: #EE2E24;
    padding: 4px 0px;
    z-index: 1;
    width: 100%;
    position:fixed;
top:0px; left:0px;}

.search-box-body{ padding: 15px; margin-top: 36px;}
.search-box-footer{
    background-color:#EE2E24;
    padding: .4rem;
    font-size: 24px;
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom:0px;
}

.search-box-footer .btn{
    background-color:#EE2E24;
    color:#fff;
    font-size:18px;
}

.search-box-title{ font-size:18px;}
.search-box .back-btn{
    position: absolute;
    font-size: 16px;
    float: left;
    color: #fff;
    left: 15px;
    top: 6px;
    padding: 0px 5px;
    }

#search_tab_in {overflow: hidden; padding-bottom: 10px !important;}
.search-section-as-tabs{ background:#fff; padding:10px; margin-top:0px;}

/*********Property div list*************/
.dv-list-item
    {
    color: rgba(0, 0, 0, 0.54);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    margin: 0px 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 24px;
    padding: 0px 14px;
    }
    .dv-list-item.active
    {
      background: #f44336;
      border-color:#f44336;
      color: white;
    }

.m_slides_container{ width:1500px;}    
.m_slides .card{ width:200px; float: left; margin-right: 5px; border-radius:0px !important;}
.search-list-box .card{ border-radius:0px;}
.search-list-box .card h1{ color:#333; font-size:14px !important; font-weight:normal; margin-bottom:0px;}
.m_slides .card a:hover, .search-list-box .card a:hover { text-decoration:none;}
.m_slides .card-img-top, .search-list-box .card-img-top { height:185px; border-radius:0px;}
.m_slides .property_status, .search-list-box .property_status { position: absolute; top:0px; right:0px; background:rgba(238, 46, 36, 0.9); width:auto; height:auto; color: #fff;
    padding: 2px 15px; font-size: 12px;}
.m_slides .property_offer, .search-list-box .property_offer {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(238, 46, 36, 0.9);
    width: auto;
    height: auto;
    color: #fff;
    padding: 2px 15px;
    font-size: 12px;
}
.m_slides .property_wishlist, .search-list-box .property_wishlist{ position:absolute; top:0px; left:0px; background:rgba(238, 46, 36, 0.9); width:auto; height:auto; padding: 0px 15px; color:#fff;}
.m_slides .property_wishlist svg, .search-list-box .property_wishlist svg{ font-size:12px;}
.m_slides .property_shadow, .search-list-box .property_shadow{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#060606 100%);
}.m_slides .property_price, .search-list-box .property_price{    position: absolute;
    bottom: 0px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 7px 10px;
    color: #fff;
    font-size: 14px;
}
    .m_slides .property_sqFt, .search-list-box .property_sqFt{    position: absolute;
        bottom: 0px;
        right: 0px;
        width: auto;
        height: auto;
        padding: 7px 10px;
        color: #fff;
        font-size: 14px;}
.m_slides .card-title{ font-size:18px;}
.m_slides .card-body{ border-top:1px solid #ccc; padding: 10px;}
.m_slides .card-body h5, .search-list-box .card-body h5{ margin-bottom:0px; font-size:14px; color:#444;}
.m_slides .card-body p, .search-list-box .card-body p{ margin-bottom:0px; font-size:14px; color:#444;}
.m_slides .card-body h5:hover{ text-decoration:none;}


#why_choose { color:#fff;}
#why_choose h5{ font-size:18px; margin-bottom: 2px;}
#why_choose p{ line-height:18px;}
#why_choose .carousel-indicators{ bottom:-15px;}
.why-choose-mobile-section .carousel-item{ min-height: 100px;}
#how_it_works { color:#fff;}
#how_it_works h5{ font-size:18px; margin-bottom: 2px;}
#how_it_works p{ line-height:18px;}
#how_it_works .carousel-indicators{ bottom:-15px;}
.how-it-works-mobile-section .carousel-item{ min-height: 120px;}
.need_assistance{ background:#fff; padding:15px 0px;}
.need_assistance h5{ font-size:18px; margin-bottom:0px;}
.need_assistance p{ margin-bottom:0px;}
.phone-circle{ border:1px solid #ccc; width:33px; height:32px; border-radius:50%; margin-top: -5px;
    margin-left: -15px;}
.phone-circle svg{ color:#f44336; margin:8px;}

.footerStripe{background: #3c3c3c;
    padding: 15px 0px;
    text-align: center !important;
    color: #ccc;
    font-size: 13px;}

    .footerStripe p{ margin-bottom: 5px; font-size: 16px;}
    .footerStripe ul{ margin:0px; padding:0px;}
.footerStripe ul li{ list-style: none; display: inline; list-style: none;
    display: inline;
    border-right: 1px solid #f1f1f1;
    padding: 0px 10px;}
    .footerStripe ul li:last-child{ border:0px !important;}
.footerStripe ul li a{ color:#f1f1f1; font-size: 12px;}

.search-list-section{ background: #f1f1f1;}
.search-list-box{ background:#fff; border:1px solid #ccc; margin-bottom: 10px;}

/* .{padding: 2px 20px;} */

.border-r-1{ border-right:1px solid #ccc;}
.border-l-1{ border-left: 1px solid #ccc;}

#loginModal .modal-content{ background:none; border:0px;}
#loginModal .modal-body{border-radius: 0.25em; padding:0px; overflow: hidden;}
#loginModal .nav-tabs .nav-link{ background-color:#ccc; border-radius:0px !important; color:#495057;}
#loginModal .nav-tabs .nav-link.active{ background:#fff;}
#loginModal .tab-content{ background:#fff; padding: 30px 5px;}
#loginModal .btn-primary{padding: 10px 20px;}


.property_detail_slider{ position: relative;}
.property_detail_slider .detail_back{position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    z-index: 10000;
    width: 32px;
    height: 32px;
}
.property_detail_slider .detail_back svg{color:#ccc;}
    .property_detail_slider .property_type {
        position: absolute;
        top: 2px;
        right: 2px;
        color: #fff;
        background-color:#da241a;
        padding:2px;
    }
.property_detail_slider .property_id{ position:absolute; bottom: 0px; right: 0px; color: #fff; background:rgba(0, 0, 0, 0.5); padding: 5px 15px; margin-bottom:0px; font-size: 13px !important;}
.white_box{ background:#fff; border-bottom: 1px solid #ccc; padding: 10px;}
.property_detail_title{ font-size:16px !important; margin-bottom: 5px;}
.property_detail_title2{font-size:15px !important; margin-bottom: 5px; position: relative;
    display: inline; color:#da241a; padding-left:10px;}
    .property_detail_title2:after {
        position: absolute;
        content: '';
        left: 0px;
        bottom: 0px;
        width: 3px;
        height: 100%;
        background: #da241a;
    }

ul.property_detail_list{ margin:0px; padding:0px; overflow: hidden; border-top:1px solid #ccc;  margin-bottom:1rem;}
ul.property_detail_list li{list-style:none; border:1px solid #ccc; padding:10px 8px; width:50%; float: left; box-sizing: border-box; margin-top: -1px;
    margin-right: -1px;}
ul.property_detail_list li .list_prop{ font-size: 11px; font-weight:bold; display: block;}
ul.property_detail_list li .list_val{ font-size: 13px; display: block;}

ul.aminities_list{ margin:0px; padding:0px; overflow: hidden; border-top:1px solid #ccc;  margin-bottom:1rem;}
ul.aminities_list li{list-style:none; border:1px solid #ccc; padding:0px; float: left; box-sizing: border-box; margin-top: -1px;  margin-right: -1px; width: 50%; line-height: 18px;}
ul.aminities_list li svg{ width: 14% !important; text-align: center; float: left; margin:10px 0px;}
ul.aminities_list li p{ width: 86% !important; border-left: 1px solid #ccc; float: left; padding:10px 8px;}
ul.aminities_list .fa-check{ color:green; font-size:9px;}
ul.aminities_list .fa-times{ color:red;font-size:9px;}

/*.footer-fixed-btn{ position:fixed; left:0px; bottom:0px; z-index:1000; background:#da241a; width:100%;}
*/.footer-fixed-btn {
    position: fixed;
    left: 300px;
    bottom: 200px;
    z-index: 1000;
    background: #da241a;
    width: 25%;
    
}

.footer-fixed-btn svg{ color:#fff !important; margin: 8px; margin-bottom: 0px;
}
.footer-fixed-btn .btn-primary{padding: 7px 20px !important; background:none; line-height:17px; border-radius: 0px;}
.footer-fixed-btn .btn-primary:hover, .btn-primary:focus, .btn-primary:visited{
    background:#da241a !important;
}

.bottom_custom_modal{ position: fixed; left:0px; bottom: 0px; width: 100%; background:#fff; padding:20px; z-index: 1100; transition:all 0.45s; transform:translateY(100%);}
.bottom_custom_modal h5{ font-size:18px !important;}
.bottom_custom_modal.active{ transform:translateY(0px);}
.bottom_close_btn{ position: absolute; top:0px; right:0px; font-weight:bold; cursor:pointer; padding:15px; z-index: 10000;}
.bottom_back_drop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    transition: all 0.45s;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
.bottom_back_drop.active {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.custom_date, .custom_time{ width:1000px;}
.custom_date ul{margin:0px; padding: 0px;}
.custom_date ul li{list-style: none;
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 0px 5px;
    width: 60px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    min-height: 55px;}
.custom_date ul li:nth-child(1) span, .custom_date ul li:nth-child(2) span{ padding-top: 28%;}
.custom_date ul li span{ display: block;}
.custom_date ul li span.lead{font-size: 1rem; line-height:16px;}
.custom_date ul li.active {
    background: #f44336;
    border-color: #f44336;
    color: white;
}

.custom_time ul{margin:0px; padding: 0px; margin-top:15px;}
.custom_time ul li{list-style: none;
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 0px 5px;
    width: 60px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    min-height: 25px;}
.custom_time ul li span{ display: block;}
.custom_time ul li.active {
    background: #f44336;
    border-color: #f44336;
    color: white;
}


.wishlist_count{ position: relative; margin-top: 10px;}
.wishlist_count svg{font-size: 21px;  margin-top: 4px; margin-left:-10px;}
.wishlist_count sup { background:#f44336; width: 22px; height: 22px; border-radius:50%; color:#fff; display: block; position: absolute; top:-11px; right:-16px; font-size: 12px;
    padding: 5px;
    padding-top: 10px;
    text-align: center;}

.phone_rotate{ transform:rotate(90deg);}

.property_count {
    background: #fff;
    width: auto;
    height: 22px;
    border-radius: 25px;
    color: #f44336;
    font-size: 12px;
    padding: 9px;
    padding-top: 2px;
    padding-left: 8px;
    text-align: center;
    float: right;
    margin-left: 10px;
}

.neighbourhood_section .nav{ margin-top: 15px;}
.neighbourhood_section .nav .nav-link{padding: 4px 10px; border-bottom-right-radius: 0px;  border-bottom-left-radius: 0px;}
.neighbourhood_section .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background: #f44336;}
.neighbourhood_section .card{ border-radius: 0px !important;}
.neighbourhood_section .card-body{ padding: 0px;}
.neighbourhood_section table{ margin: 0px !important;}
.neighbourhood_section .card-header{ padding: 0px;}
.neighbourhood_section .card-header a{ display: block; padding: 8px 10px;}

.pac-container { z-index:10000 !important;}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ef2e25;
    border-color: #ef2e25;
}


.innerHeader {
    background: url(../Content/images/innerHeaderBg.jpg) top center no-repeat fixed;
    padding: 18px;
    color: #fff;
    font-weight: bold;
    background-size: 100% 100%;
}
.innerHeader h1{ text-transform: uppercase; font-size:18px;}
.property_detail_slider .carousel-item .img-fluid{height: 200px !important; width: 100% !important;}
.menu-divider a {border-top: 10px solid #d6d6d6 !important;}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #da241a;
    border-color: #da241a;
}

.step-content{margin-top: 25px; box-shadow: 0 0 5px rgba(0,0,0,.32);}
.step-header{padding:10px 15px;background:#666;color:#fff;border:solid 1px #bebebe;border-top:none;}
.step-header h3{margin:0px auto;font-size:22px;font-weight:600;}
.step-body{padding:25px 40px;background:#fff;}
.step-body > h3:first-child{margin-top:15px!important;}
.step-details{list-style-type:none;padding:0px;margin:0px;}
.step-details li{padding-left:25px; margin-bottom:15px; position: relative;}
.step-details li:before{ content: ''; position: absolute; left: 0px; top: 7px; width: 15px; height: 15px; background:none; border: 2px solid #EE2E24; border-radius: 50%;}
.img-steps{border:solid 5px #ccc;margin:35px auto 0px;}
.img-steps + .step-details{margin-top:35px!important;}